{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}

{% block coverphoto %}
{% endblock %}


{% block content %}
<div class="container">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-lg-12">

            <div class="white policy col-xs-12 col-sm-12 col-lg-12">

                <h1>ABOUT US</h1>
                {{details.about_us|safe}}
            </div>
        </div>

    </div>
</div>
{% endblock %}



