{% extends "indorso_base.html" %}
{% load social_icons %}
{% load staticfiles thumbnail %}

{% block coverphoto %}
{% endblock %}


{% block content %}
{% list_common_details as details %}
<div class="container">
 
      <div class="row">
           
        <div class="col-xs-12 col-sm-12 col-lg-12">
        
          <div class="white policy col-xs-12 col-sm-12 col-lg-12">
          
      <h1>Privacy Policy</h1>
      
      {{details.privacy_policy|safe}}


      
      
      
         </div>
         
        

       </div>

    
 

</div>
        </div>
{% endblock %}



