{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load social_icons %}
{% block coverphoto %}
{% endblock %}


{% block content %}
{% list_common_details as details %}
<div class="container">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-lg-12">

            <div class="white policy col-xs-12 col-sm-12 col-lg-12">

                <h1>TERMS OF USE</h1>
                {{details.terms_of_use|safe}}
            </div>
        </div>

    </div>
</div>
{% endblock %}



