
<!DOCTYPE html>{% load staticfiles social_icons currency_filters %}
{% load basket_tags currency_filters thumbnail %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load endless %}
{% load i18n %}
{% load i18n %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title_prefix %}Indorso{% endblock %}{% block title %}{% endblock %}</title>


        {% block css %}
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400' rel='stylesheet' type='text/css'>
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.cropbox.css' %}">
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->    
        <style>
            .message {
                display: none;
                margin: 0 0 13px;
                padding: 10px;
                border: solid 1px #bd8;
            }
            .message1 {
                margin: 0 0 13px;
                padding: 10px;
                z-index:999;   
            }
            .message1_error {
                border: solid 1px red;
            }
            .message1_success {
                border: solid 1px #bd8;
            }
            .message_fav {
                display: none;
                margin: 0 0 13px;
                padding: 10px;
                border: solid 1px #bd8;

            }
            .message_validate {
                display: none;
                margin: 0 0 13px;
                padding: 10px;
                border: solid 1px #bd8;

            }
            .message_review {
                display: none;


            }
            .message_error {
                display: none;


            }

            .error-msg {
                color:red;
            }
        </style>
        {% endblock %}


        {% block extra-css %}
        {% endblock %}
        {% list_common_details as details %}
    </head>
    <body>
        <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54ae1bb469327bb4" async="async"></script>


        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">


            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" {% if request.user.is_authenticated %}href="/{{request.user.user_profile.storename}}"{% else %}href="/" {% endif %}>

                       {% if details.logo %}
                       {% thumbnail details.logo "157x47" crop="center" format="PNG" as thumb %}
                       <img src="{{ thumb.url }}"  alt="Indroso" />
                        {% endthumbnail %}
                        {% else %}
                        <img src="{% static 'images/logo.png' %}"  alt="Indroso" />
                        {% endif %}

                    </a>
                </div>


                <div id="navbar" class="collapse navbar-collapse">
                    <div class="search">
                        <form action="/search/" method="get">
                            <input id="id_q" name="q" placeholder="SEARCH  INNOVATIONS &amp; CHAMPIONS "  type="search" required>


                        </form>
                    </div>

                    <ul class="nav navbar-nav">

                        {% if not request.user.is_authenticated %}
                        <li><a href="{% url 'user-registration' %}">Sign up  </a></li>
                        <li><a href="#" data-toggle="modal" data-target="#myModal" id="login_id">Log in </a></li></ul>
                    {% else %}
                    <li class="active"><a href="{% url 'prodcut-indorse' %}">INDORSE</a></li>
                    <li><a href="{% url 'product-buy' %}">BUY</a></li>    
                    <li>{% if request.user.user_profile %}<a href="{% url 'store-details' request.user.user_profile.storename %}">{% endif %}{% if request.user.user_profile.storename %}{{request.user.user_profile.storename}}{% else %}{{request.user.username}}{% endif %} {% if request.user.user_profile %}</a>{% endif %}</li>




                    <li>
                        <button class="setting-btn" role="button" data-toggle="dropdown" class="dropdown-toggle"></button>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="{% url 'champion-account' %}"><i class="fa fa-cogs"></i> Account settings</a></li>
                            <li><a href="{% url 'payment_info' %}"><i class="fa fa-credit-card"></i> Payment Info</a></li>
                            <li><a href="{% url 'champion-transactions' %}"><i class="fa fa-money"></i> Transactions</a></li>
                            <li><a href="{% url 'customer:order-list' %}"><i class="fa fa-history"></i> Order History</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'customer:logout' %}"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>



                    </ul>
                    {% endif %}  


                    <div class="cart"><a href="{% url 'basket:summary' %}"><i class="fa fa-shopping-cart"></i> 
                            Cart ({% if request.basket.is_tax_known %}
                            {{ request.basket.total_incl_tax|currency:request.basket.currency }}
                            {% else %}
                            {{ request.basket.total_excl_tax|currency:request.basket.currency }}
                            {% endif %})</a>
                    </div>
                    <div class="cartitems">
                        {% if request.basket.num_lines %}
                        {% for line in request.basket.all_lines %}
                        <span class="span1">{% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }}</span><span class="span2">{{ line.product.get_title|default:""|striptags|truncatechars:15 }} </span><span class="span3">{{ line.unit_price_excl_tax|currency:request.basket.currency }}</span><br>
                        {% endfor %}
                        {% endif %}
                        <a href="{% url 'checkout:index' %}"><button>Proceed to checkout ({{ request.basket.num_lines }} items)</button></a>
                    </div>
                </div>


            </div>


        </nav>
        <div class="container-fluid cover_top">
            <div class="row">               
                
            </div>
        </div>



        {% block mystore %}
        {% endblock %}
{% comment %}

        <div class="message_fav">Your update was succesfull<a href="#" id="close" style="float:right;">×</a></div>

        {% if messages %}
        {% for message in messages %}
        <div class="message1 message1_{{ message.tags }}" >          
            {{ message }}
            <a href="#" id="close" style="float:right;">×</a>
        </div>
        {% endfor %}                
        {% endif %}
{% endcomment %}

        {% block content %}
        <div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-xs-12 head_title">
    </div>
        <h2 class="heading_pass  col-xs-12">{% trans "Reset Your Password" %}</h2>
        <h3 class="heading_sub col-xs-12">{% trans "Forgot your password? Don't worry, please enter your email address below, and we'll send you instructions for a new one." %}</h3>


        <form id="password_reset_form" action="." method="post">
            {% csrf_token %}
            <p></p>
            {% include 'partials/form_fields.html' %}
            <div class="form-actions">
                <button type="submit" class="blue_btn">{% trans 'Send reset email' %}</button>
            </div>
        </form>

    </div>
</div>
        {% endblock %}


        <div id="footer">  <div class="container"><div class="row"> 
                    <ul>
                        <li><a href="{% url 'about_us' %}">About us</a> </li>    <span>| </span>   <li><a href="{% url 'contact_form' %}"> Contact us</a> </li>  <span>| </span>    <li><a href="{% url 'faq' %}">  FAQ </a> </li><span>| </span >   <li><a href="{% url 'return_policy' %}"> Return policy </a>   </li>   <span>| </span >      <li><a href="{% url 'terms_of_use' %}">Terms of use</a> </li>  <span>| </span >    <li><a href="{% url 'privacy_policy' %}">Privacy policy</a> </li>
                    </ul>
                    <div class="media">

                        
                        <a href="{{ details.facebk_url }}" target='blank'><i class="fa fa-facebook"></i></a>
                        <a href="{{ details.gplus_url }}" target='blank'><i class="fa fa-google-plus"></i></a>
                        <a href="{{ details.linkedin_url }}" target='blank'><i class="fa fa-linkedin"></i></a>
                        <a href="{{ details.twit_url }}" target='blank'><i class="fa fa-twitter"></i></a>
                    </div>
                    <p class="col-xs-12">© {% now 'Y' %} {{details.footer_text}}</p>
                </div>   </div></div>


        {% block pop-up %}
        <!--select type-->
        <div class="modal fade" id="myModal-type" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Welcome back to Indorso</h4>
                        <p> Select type.</p>
                    </div>
                    <u>
                        <li>
                            <a href='{% url "product-buy" %}'>Buy</a>
                        </li> 
                        <li>               
                            <a href='{% url "prodcut-indorse" %}'>Indorse</a>
                        </li>
                    </u>
                </div>
            </div>
        </div>


        <!--log in popup-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{% url 'customer:login_1' %}" method='post' id="login_form">{% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Welcome back to Indorso</h4>
                            <p> Please sign in to continue.</p>
                        </div>
                        <div class="modal-body">
                            <input class="form-control"  id="id_login-username" name="login-username" type="email" placeholder='Email'>
                            <p id="username_id"></p>
                            <p id="__all___id"></p>                            
                            <input class="form-control"  id="id_login-password" name="login-password" type="password" placeholder='Password'>

                            <p id="password_id"></p>
                            <input type="hidden" name="login_submit" value="1">       
                            <input name="current-page" type="hidden" id="current-page" value="">     
                            <input name="login-redirect_url" type="hidden" id="login-redirect_url_value" value="{{ request.get_full_path }}">                            

                            <!--                            <input class="left" name="remember_me" id="empName" type="checkbox">-->
                            <!--<label class="col-sm-11 chk" for="empName">Keep me Logged in</label>-->

                        </div>
                        <div class="modal-footer">
                            {% load socialaccount %}
                            {% providers_media_js %}



                            <div class="col-md-8 no-pad"><label for="empName" class="col-sm-8 chk pull-left no-pad text-left"><u><a href="{% url 'password-reset' %}">Forgot your password</a></u></label> 
                                <label for="empName" class="col-sm-8 chk pull-left no-pad text-left nota"><span class="pull-left">Not a member yet? </span>  <a href="{% url 'user-registration' %}"> Sign Up </a></label></div> 
                            <button name="login_submit" type="button" class="right blue_btn col-sm-4" id="log_in">Log in</button>
                            <div class="social_medias"> 
                                <div class="or">Or</div>
                                <a href="{% provider_login_url "google" method="js_sdk" %}" class="btn btn-block btn-social btn-sm btn-google-plus col-md-4 col-sm-12" ><i class="fa fa-google-plus"></i>Sign in with Google</a>
                                <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-sm btn-facebook col-md-4 col-sm-12"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
                                <a href="{% provider_login_url "twitter" method="js_sdk" %}" class="btn btn-block btn-social btn-sm btn-twitter col-md-4 col-sm-12"><i class="fa fa-twitter"></i>Sign in with Twitter</a> 
                            </div> 
                        </div>
                    </form>

                </div>
            </div>
        </div>
        {% endblock %}


        {% block extra-pop-up %}{% endblock %}


        {% block js %}
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.cropbox.js' %}"></script>
        <!--  <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script type="text/javascript">
            
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60130782-1', 'auto');
  ga('send', 'pageview');

            
            
$('.endless_more').hide();
function load() {
    $(".message1").fadeOut(6000);
}
$("#close").click(function() {
    $(".message1").remove();
});
window.onload = load;
$(document).ready(function() {

    var date = new Date();
    date.setDate(date.getDate() + 30);
    var dateMsg = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
    $("#payment_date").text(dateMsg);
    $("#log_in").click(function() {
        $.ajax({type: "POST",
            url: "{% url 'customer:login_1' %}",
            data: $('#login_form').serialize(),
            dataType: 'json',
            success: function(data) {
                window.location.href = data.redirect_url;
            },
            error: function(response) {
                errors = JSON.parse(response.responseText);
                $.each(errors, function(indexes, values) {
                    $.each(values, function(index, value) {
                        id_is = index + "_id"
                        $('#' + id_is).html(value);
                    });
                });
            }
        });
    });
});





$(".cart").mouseover(function() {
    $('.cartitems').show();

});

$(".cart").mouseout(function() {
    $('.cartitems').hide();

});
$(".cartitems").mouseover(function() {
    $('.cartitems').show();

});

$(".cartitems").mouseout(function() {
    $('.cartitems').hide();

});


        </script>
        {% endblock %}


        {% block extra_js %}
        <script src="{% static 'js/bootstrap-checkbox.js' %}"></script>
<script >
            $(document).ready(function() {

    $('input[type="checkbox"]').checkbox();
    { % if request.GET.sort_by % }
    $('#inline' + '{{request.GET.sort_by}}').checkbox({
    checked: true
    });
    { % else % }
    $("#inlinenew").checkbox({
    checked: true
    });
    { % endif % }
    $('input[type="checkbox"]').click(function() {
    value = $(this).val();
            cur_url = '{{request.path}}' + '?sort_by=' + value;
            window.location.replace(cur_url);
    });
    });
</script>
        {% endblock %}
    </body>
</html>
