{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load endless %}
{% load i18n %}
{% block content %}

<div class="container">
    <div class="pmedia col-lg-5"><a href="#"><i class="fa fa-share-alt"></i></a><a href="#"><i class="fa fa-star-o"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
</div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <h2 class="heading_in col-xs-12">{% trans "Enter a new password" %}</h2>
        
{% if validlink %}
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form id="password_reset_form" action="" method="post">
            {% csrf_token %}
            {% include 'partials/form_fields.html' %}
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">{% trans 'Change my password' %}</button>
            </div>
        </form>
    {% else %}
        <h1>{% trans 'Password reset unsuccessful' %}</h1>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}

    </div>
</div>

</div> 
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/bootstrap-checkbox.js' %}"></script>
<script >
            $(document).ready(function() {

    $('input[type="checkbox"]').checkbox();
    { % if request.GET.sort_by % }
    $('#inline' + '{{request.GET.sort_by}}').checkbox({
    checked: true
    });
    { % else % }
    $("#inlinenew").checkbox({
    checked: true
    });
    { % endif % }
    $('input[type="checkbox"]').click(function() {
    value = $(this).val();
            cur_url = '{{request.path}}' + '?sort_by=' + value;
            window.location.replace(cur_url);
    });
    });
</script>
{% endblock %}


