{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load endless %}
{% load purchase_info_tags i18n %}
{% load category_tags %}
{% load champion_tags %}

 {% block coverphoto %}
 {% endblock %}

  {% block mystore %}
   <div class="dash no-white" id="content-section">
   </div>
  {% endblock %}


{% block content %}
{% category_tree depth=2 as tree_categories %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
         {% if products %}
        <div class="col-xs-12 head_title">
    
    <h3 class="heading_sub col-xs-12">Check out the innovations indorsed by your network</h3>
    <h3 class="heading_sub col-xs-12">You can purchase these innovations from them directly</h3>
    </div>
        {% else %}
        
       <div class="col-xs-12 head_title">
    
    <h3 class="heading_sub col-xs-12">Follow champions to view their indorsements & make purchases from them directly</h3>
    <h3 class="heading_sub col-xs-12">Who to follow</h3>
    </div>
        {% endif %}


        <div class="col-xs-12 col-sm-4 col-lg-2-5 left-menu">
            <h2 class="left_head">Sort by</h2>
            <div class="controls span2">
                <label class="checkbox">
                    <input type="checkbox" class="checkbox" value="new" name="inlinenew" id="inlinenew" >Latest
                </label>
                
                  <label class="checkbox">
                    <input type="checkbox" name="inlineindorsements" class="checkbox" value="indorsements" name="inlineindorsements" id="inlineindorsements">Indorsements
                </label>
                
                <label class="checkbox">
                    <input type="checkbox" class="checkbox" value="price" name="inlineprice" id="inlineprice">Price
                </label>
              
              
               
            </div>

            <h2 class="left_head">Categories</h2>
            <ul>
                <li><a href="{% url 'product-buy'  %}">All</a></li>
                {% for tree_category, info in tree_categories %}
                <li><a href="{% url 'prodbuy-category' tree_category.slug %}">{{ tree_category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>


        {% if products %}
        <div class="col-xs-12 col-sm-8 col-lg-6-5">
            {% include page_template %}
        </div>
        {% else %}
        
       
        <div class="col-xs-12 col-sm-8 col-lg-9">
            
            {% if request.user|get_champions_list %}
            {% for champion in request.user|get_champions_list %}
            {% ifnotequal champion.id request.user.user_profile.id %}
            <div class="col-xs-12 col-sm-6 col-md-4 ">                
                <div class="followers_tab">
                    <div class="follow_img">
                        {% if champion.image %}
                        {% thumbnail champion.timeline_image "600x200" crop="center" as thumb %}
                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                        {% endthumbnail %} 
                        {% else %}
                         <img src="{{STATIC_URL}}images/product.jpg" >      
                        {% endif %}

                    </div>
                    <div class="follow_pro">
                        <a href="{% url 'store-details' champion.storename %}" target="blank" class="profile_pic">
                            {% thumbnail champion.image "44x44" crop="center" as thumb %}
                            <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                            {% endthumbnail %} 
                        </a>
                        <form method="post" action="{% url 'champion_follows' %}">{% csrf_token %}
                            <input type='hidden' value='{{champion.id}}' name='champ_id'>
                            <button {% if request.user.is_authenticated %}type="submit"{% else %} type="button" data-toggle="modal" data-target="#myModal"{% endif %} {% if champion.id|check_followed:request.user.user_profile.id %}  class="btn btn-danger btn-xs"{% else %}class="btn btn-info btn-xs"{% endif %}>
                                    {% if champion.id|check_followed:request.user.user_profile.id %}                
                                    <i class="fa fa-user-plus" ></i>UnFollow </button>
                            {% else %}
                            <i class="fa fa-user-plus"></i>Follow</button>
                            {% endif %}
                        </form>    
                        <a href="#" class="settings"></a>
                        <label>{{champion.user}} </label>
                        <span>{{champion.user.email}}</span>
                        <p>{{champion.bio|default:""|striptags|truncatechars:100 }}</p>
                    </div>
                </div>
            </div>
            {% endifnotequal %}
            {% endfor %}
            {% endif %}

</div>     

        {% endif %}           
        {% if products %}
        {% include "include/follow_section.html" %}
        {% endif %}

    </div>
</div>
{% endblock %}


{% block extra_js %}
<script src="{% static 'js/bootstrap-checkbox.js' %}"></script>
{{ block.super }}
<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script>
        $.endlessPaginate({paginateOnScroll: true});
        $(document).ready(function() {
        $('input[type="checkbox"]').checkbox();
        $('input[type="checkbox"]').click(function() {
            
        price_sort = $("input[name='inlineprice']").prop('checked');
        indorsment_sort = $("input[name='inlineindorsements']").prop('checked');
        inlinenew = $("input[name='inlinenew']").prop('checked');
            
        is_checked = $('input[type="checkbox"]').prop('checked');
        
        if(inlinenew == true || price_sort == true || indorsment_sort == true)
        {
            value = $(this).val();
            cur_url = '{{request.path}}' + '?sort_by=' + value;
        }
       else
       {
            cur_url = '{{request.path}}';
       }
       
        window.location.replace(cur_url);
});

{% if request.GET.sort_by %}
$('#inline' + '{{request.GET.sort_by}}').checkbox({
checked: true
});
{% endif %}

if (document.URL.indexOf('#pop') != - 1){
$('.cartitems').css('display', 'block');
}
});
</script>
{% endblock %}