{% load endless %} 
{% load purchase_info_tags i18n %}
{% load champion_tags %}
{% load staticfiles thumbnail %}
{% paginate products %}
{% load currency_filters %}
{% if products %}
{% for object in products %}
{% with object.product as product %}
{% purchase_info_for_product request product as session %}


<div class="review_box">
    
    <div class="client-time" >
        {% if product|get_product_champion_review_date_time:object.champion.id %}{{product|get_product_champion_review_date_time:object.champion.id|safe}}{% endif %}
    </div>
<a href="{% if object.champion %}{% url 'store-details' object.champion.storename %}{% endif %}">
    {% thumbnail object.champion.image "70x69" crop="center" as thumb %}
    <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
    {% endthumbnail %}
</a>

    <label class="client-name"><a href="{% if object.champion %}{% url 'store-details' object.champion.storename %}{% endif %}">{{object.champion.user}}</a></label>
    <span class="client-cmts">{% if product|get_product_champion_review:object.champion.id %}{{product|get_product_champion_review:object.champion.id|default:""|striptags|truncatechars:100}}{% endif %}</span>
    
    
    
    

    <div class="products_review">
        <a href="{% url 'champion-product-detail' object.champion.storename product.slug product.id %}">{% with image=product.primary_image %}
            {% thumbnail image.original "310x230" crop="center" as thumb %}
            <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
            {% endthumbnail %}</a>
        {% endwith %}
        <h3><a href="{% url 'champion-product-detail' object.champion.storename product.slug product.id %}">{{ product.get_title|truncatewords:4 }}</a></h3>
        <span>{% if product.innovator.storename %}by {{ product.innovator.storename}}{% endif %}</span>
        <p>{{ product.description|default:""|striptags|truncatechars:200 }}</p>
        <div class="values_r">
            <label>Indorsements</label>
            <label>Retail Price </label>
        </div>

        <div class="values_r">
            <span>{{product.total_indorsed_license}}</span>
            {% if session.price.excl_tax == 0 %}
            <span>$00,000,00</span>
            {% elif session.price.is_tax_known %}
            <span>{{ session.price.incl_tax|currency:session.price.currency }}</span>
            {% else %}
            <span>{{ session.price.excl_tax|currency:session.price.currency }}</span>
            {% endif %}

           
        </div>
    </div>
</div>
{% endwith %}
{% endfor %}
{% show_more %}
{% endif %}