{% extends "customer/baseaccountpage.html" %}
{% load i18n %}

{% block tabcontent %}
    {% if champ %}
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>{% trans 'Product' %}</th>
                    <th>{% trans 'Number of products' %}</th>
                    <th>{% trans 'Date created' %}</th>
                </tr>
        {% for champ in champ %}
                    <tr>
                        <td><a href="{{ champ.product.get_absolute_url }}">{{ champ.product }}</a></td>
                        <td>{{ champ.no_of_license}}</td>
                        <td>{{champ.date_created}}</td>
                    </tr>
      
                {% endfor %}
            </tbody>
        </table>
        {% include "partials/pagination.html" %}
    {% else %}
        <p>
            {% trans "You don't have any product-licenses yet." %}
        </p>
    {% endif %}

    <p>
        <a href="{% url 'prodcut-indorse' %}" class="btn btn-primary">{% trans 'Indorse new product' %}</a>
    </p>

{% endblock tabcontent %}
