{% extends "customer/baseaccountpage.html" %}
{% load i18n %}
{% load social_icons %}
{% block tabcontent %}
    {% if commission %}
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>{% trans 'Product' %}</th>
                    <th>{% trans 'Quantity' %}</th>
                    <th>{% trans 'Total Price' %}</th>
                    <th>{% trans 'Commission' %}</th>
                </tr>
        {% for champ in commission %}
                    <tr>
                        <td><a href="{{ champ.product.get_absolute_url }}">{{ champ.product }}</a></td>
                        <td>{{ champ.quantity}}</td>
                        <td>{{champ.line_price_before_discounts_incl_tax}}</td>
                        <td>{{ champ.quantity|multiply:champ.product.champion_earn }}</td>
                    </tr>
      
                {% endfor %}
            </tbody>
        </table>
        {% include "partials/pagination.html" %}
    {% else %}
        <p>
            {% trans "Not yet ordered any products !" %}
        </p>
    {% endif %}

    <p>
        <a href="{% url 'prodcut-indorse' %}" class="btn btn-primary">{% trans 'Indorse new product' %}</a>
    </p>

{% endblock tabcontent %}
