{% load staticfiles thumbnail %}
{% load champion_tags %}

<div class="col-xs-12 col-sm-4 col-lg-3 white followers">
    <div class="over-bg" ></div>
    <h1>Who to follow</h1>
    {% if request.user|get_champions_list %}
    {% for champion in request.user|get_champions_list %}
    {% ifnotequal champion.id request.user.user_profile.id %}
    <form method="post" action="{% url 'champion_follows' %}">{% csrf_token %}
        <div class="follow">
            
            <input type='hidden' value='{{champion.id}}' name='champ_id'>
            {% if champion.image %}
            {% if champion.storename %}
            <a href="{% url 'store-details' champion.storename %}">{% endif %} {% thumbnail champion.image "40x40" crop="center" as thumb %}
                <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                {% endthumbnail %} {% if champion.storename %}</a>{% endif %}
            {% else %}
            <a href="{% url 'store-details' champion.storename %}"><img src="{% static 'images/follows.png' %}"></a>
            {% endif %}
            {% if champion.storename %}
            <a href="{% url 'store-details' champion.storename %}" id="title_hover">{% endif %}  <label>{{champion.user|default:""|striptags|truncatechars:11}}</label>
                {% if champion.storename %}</a>{% endif %}
            <span>{{champion.get_no_of_follows}}</span>
            <button {% if not request.user.is_authenticated %}type="button" data-toggle="modal" data-target="#myModal"{% endif %}>Follow</button>
        </div>
    </form>
    {% endifnotequal %}
    {% endfor %}
    {% else %}
    <div class="follow">
        <label>No champions found</label>
    </div>
    {% endif %}
</div>
<style type="text/css">
 a:hover {
  cursor:pointer;
 }
</style>