{% load basket_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.availability.is_available_to_buy %}
{% basket_form request product as basket_form %}

<button type="submit" id="add_champion" onclick="javascript:showMyModal()" class="btn btn-primary btn-large" value="{% trans "Add to basket" %}">{% trans "Add to basket" %}</button>

<div class="modal fade" id="myModal-type" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Welcome back to Indorso</h4>
                <p> Select Champion.</p>
            </div>

            <ul>
                <form id="add_to_basket_form" action="{% if champions_list|length > 0 %}{% url 'basket:add' pk=product.pk  %}{% else %}javascript:void(0){% endif %}" method="post" class="add-to-basket">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <table>
                        <tbody>
                            <tr>
                                <th>{% trans 'Champions for this product' %}</th>

                            </tr>
                            {% if champions_list %}
                            {% for champ in champions_list %} <tr>
                                <td><label><input type="radio" name="champion" value="{{champ.champion.id}}" checked>{{champ.champion}}&nbsp</label>
                                    <div id="followButton">

                                        {% if request.user.user_profile in champ.champion.follows.all  %}
                                        <button type="button" id="1" name="unfollow" class="btn btn-danger unfollowUser_{{champ.champion.id}}" onclick="UnFollow_champ({{champ.champion.id}})">Unfollow</button>
                                        {% else %}
                                        <button type="button"  id="1" name="follow" class="btn btn-info followUser_{{champ.champion.id}}" onclick="Follow_champ({{champ.champion.id}})">Follow</button>
                                        {% endif %}

                                    </div>

                                </td>
                            </tr>
                            {% endfor %}

                            {% else %}
                        <td>{% trans 'No champions indorsed this product.Please choose another one.' %}</td>

                        {% endif %}

                        </tbody>
                    </table></br>
                    {% else %}
                    <li> Please Login to see the champions list.</li>
                    {% endif %}




                    {% include "partials/form_fields.html" with form=basket_form %}
                    {% if champion %}
                    <input type='hidden' name='champion' value='{{champion.id}}' >
                    {% endif %}
                    <button type="submit"  class="btn btn-large btn-primary btn-add-to-basket" value="{% trans "Add to basket" %}">{% trans "Add to basket" %}</button>
                </form>
            </ul>
        </div>
    </div>
</div>
<script>
    Follow_champ = function(champ_id){
        data  = {}
        data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
        data['champ_id'] = champ_id
        $.ajax({
            type: "POST",
            url:'/champion_follow/',
            data:data,
            success: function(data) {
                if(data['status_su']){
                    alert('Successfully followed');
                    jQuery(".followUser_"+champ_id).prop('disabled', true);
                                                             
                }
                else{
                    alert('error')
                }
            },
            dataType: "json"
        });
    }
    UnFollow_champ = function(champ_id){
        data  = {}
        data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
        data['champ_id'] = champ_id
        $.ajax({
            type: "POST",
            url:'/champion_unfollow/',
            data:data,
            success: function(data) {
                if(data['status_su']){
                    alert('Successfully Unfollowed');
                    jQuery(".unfollowUser_"+champ_id).prop('disabled', true);
                                                             
                }
                else{
                    alert('error')
                }
            },
            dataType: "json"
        });
    }

</script>
{% include "catalogue/partials/add_to_wishlist.html" %}
{% else %}
{% if has_active_alert %}
<p>{% trans "You have an active stock alert for this product." %}</p>
{% else %}
<form id="alert_form" method="post" action="{% url 'customer:alert-create' pk=product.id %}" class="add-to-basket">
    {% csrf_token %}
    <p>{% trans "You can get an email alert when this product is back in stock." %}</p>
    {% include "partials/form_fields.html" with form=alert_form %}
    <button type="submit" class="btn btn-large btn-info btn-add-to-basket">{% trans "Notify me" %}</button>
</form>
{% endif %}
{% include "catalogue/partials/add_to_wishlist.html" %}
{% endif %}
