
<div class="col-xs-12 head_space">
    <h2 class="heading_in col-xs-8">{{request.user}}'s Portal / {% if '/dashboard/myfollows/' in request.path %}My follows{% elif 'myfollowers' in request.path %}My followers{% endif %}{% if '/user-dashboard/' in request.path %}Earnings{% endif %}<span id='page_title'></span> </h2>    
    <h3 class="heading_sub col-xs-4"><span class="pull-right">{% if '/user-dashboard/' in request.path %}Earnings balance    ${{request.user.user_profile.champion_total_earnings_balance|floatformat:"0"}}{% endif %}</span></span></h3>
</div>
<div class="col-xs-12 col-sm-4 col-lg-3 white">
    <ul class="lmenu">
        <li><a href="{% url 'champion-account' %}#content-section" id="account_settings"><i class="fa fa-cog"></i>Account settings</a></li>
        
        <li><a href="{% url 'payment_info' %}" id="payment_info"><i class="fa fa-credit-card"></i>Payment Info</a></li>
        <li><a href="{% url 'champion-transactions' %}" id="transactions"><i class="fa fa-calculator"></i>Transactions</a></li>
        <li><a href="{% url 'customer:order-list' %}" id="order_history"><i class="fa fa-calculator"></i>Order History</a></li>
        
    </ul>
    
</div>