{% extends "indorso_base.html" %}
{% load staticfiles %}
{% load purchase_info_tags i18n %}
{% load currency_filters %}
{% load endless %}

{% block coverphoto %}
{% endblock %}


{% block content %}
{% with request.user.user_profile.champion_order_lines.all as products %}
{% paginate orders %}
{% get_pages %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">        

        {% include "champions/dashboard/menu/submenu.html" %}
{% if orders %}
        <div class="col-xs-12 col-sm-12 col-lg-9">
            <div class="col-xs-12 col-sm-12 col-lg-12 "><div class="col-xs-12 col-sm-6 col-lg-6 sort"></div> <div class="col-xs-12 col-sm-6 col-lg-6 text-right sort">
                    <a href="{% if pages.previous.url %}{{ pages.previous.url }}{% else %}{{request.path}}{% endif %}"> <i class="fa fa-chevron-left"></i> </a> {{pages.current.number}} of {{ pages.last.number }} <a href="{% if pages.next.url %}{{ pages.next.url }}{% endif %}"> <i class="fa fa-chevron-right"></i></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-12 no-pad">
                    <div class="col-xs-1 col-sm-1 col-lg-1 tab-head">
                        <span>Number</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-head">
                        <span>No of items</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-head">
                        <span>Total price</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-head">
                        <span>Date</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-head">
                        <span>&nbsp;</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-head">
                        <span>&nbsp;</span>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-lg-1 tab-head">
                        <span>&nbsp;</span>
                    </div>
                </div>

                {% for order in orders %}
                <div class="col-xs-12 col-sm-12 col-lg-12 no-pad t-border">
                    <div class="col-xs-1 col-sm-1 col-lg-1 tab-in">
                        <span><a href="{% url 'customer:order' order_number=order.number %}">{{ order.number }}</a></span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-in">
                        <span>{{ order.num_items }}</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-in">
                        <span>{{ order.total_incl_tax|currency:order.currency }}</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-in">
                        <span>{{order.date_placed|date:"M/d/Y"}}</span>
                    </div>
                    
                </div>
                {% endfor %}

            </div>
        </div>
        {% endif %}
    </div>
</div> 
{% endwith %}
{% endblock %}
{% block extra_js %}
<script type='text/javascript'>
    $(document).ready(function(){
        $("#order_history").addClass("blue");
        $('#page_title').html($("#order_history").text());
  });
</script>
{% endblock %}