{% extends "indorso_base.html" %}
{% load staticfiles %}
{% load purchase_info_tags i18n %}
{% load currency_filters %}
{% load endless %}
{% block content %}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">        

        {% include "champions/dashboard/menu/submenu.html" %}

        <div class="col-xs-12 col-sm-8 col-lg-9">
            <div class="col-xs-12 col-sm-12 col-lg-12 ">
                

                <div class="col-xs-12 col-sm-12 col-lg-12 no-pad t-border">
                    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans 'Product' %}</th>
                <th>{% trans 'Dispatch date' %}</th>
                <th>{% trans 'Qty' %}</th>
                <th>{% trans 'Line price excl. tax' %}</th>
                <th>{% trans 'Line price incl. tax' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for line in order.lines.all %}
                {% with product=line.product %}
                    <tr>
                        <td>
                            {% if product %}
                                <p>
                                    <a href="{{ product.get_absolute_url }}">{{ line.description }}</a>
                                </p>
                              
                            {% else %}
                                <p>
                                    {{ line.description }}
                                </p>
                            {% endif %}
                        </td>
                        <td>{{ line.est_dispatch_date|default:"-" }}</td>
                        <td>{{ line.quantity }}</td>
                        <td>{{ line.line_price_before_discounts_excl_tax|currency:order.currency }}</td>
                        <td>{{ line.line_price_before_discounts_incl_tax|currency:order.currency }}</td>
                        
                    </tr>
                {% endwith %}
            {% endfor %}

            {% with discounts=order.basket_discounts %}
                {% block discount_totals %}
                    {% if discounts %}
                        <tr>
                            <td colspan="4">{% trans "Basket total (excl. discounts)" %}</td>
                            <td colspan="2">{{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}</td>
                        </tr>
                        {% for discount in discounts %}
                        <tr>
                            <td colspan="4">
                                <span class="label label-success">{% trans "Discount" %}</span>
                                {{ discount.offer_name }}
                            </td>
                            <td colspan="2">- {{ discount.amount|currency:order.currency }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                {% endblock discount_totals %}

                {% block basket_total %}
                    {% if discounts %}
                        <tr>
                            <th colspan="4">{% trans "Basket total (inc. discounts)" %}</th>
                            <td colspan="2">{{ order.basket_total_incl_tax|currency:order.currency }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th colspan="4">{% trans "Basket total" %}</th>
                            <td colspan="2">{{ order.basket_total_incl_tax|currency:order.currency }}</td>
                        </tr>
                    {% endif %}
                {% endblock basket_total %}
            {% endwith %}

            {% block shipping_totals %}
                {% if order.has_shipping_discounts %}
                    <tr>
                        <td colspan="4">{% trans "Shipping total (excl. discounts)" %}</td>
                        <td colspan="2">{{ order.shipping_before_discounts_incl_tax|currency:order.currency }}</td>
                    </tr>
                    {% for discount in order.shipping_discounts %}
                    <tr>
                        <td colspan="4">
                            <span class="label label-success">{% trans "Discount" %}</span>
                            {{ discount.offer_name }}
                        </td>
                        <td colspan="2">- {{ discount.amount|currency:order.currency }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4">{% trans "Shipping total (inc. discounts)" %}</th>
                        <td colspan="2">{{ order.shipping_incl_tax|currency:order.currency }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th colspan="4">{% trans "Shipping total" %}</th>
                        <td colspan="2">{{ order.shipping_incl_tax|currency:order.currency }}</td>
                    </tr>
                {% endif %}
            {% endblock %}

            {% block order_total %}
                <tr>
                    <th colspan="4">{% trans 'Order total' %}</th>
                    <td colspan="2">{{ order.total_incl_tax|currency:order.currency }}</td>
                </tr>
            {% endblock order_total %}
        </tbody>
    </table>
                </div>

            </div>
        </div>
    </div>
</div> 
{% endblock %}