{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load endless %}
{% load purchase_info_tags i18n %}
{% load category_tags %}
{% load endless %} 
{% load purchase_info_tags i18n %}
{% load staticfiles thumbnail %}
{% paginate products %}
{% load currency_filters %}
{% block coverphoto %}
{% endblock %}

{% block content %}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">        
        <div class="col-xs-12 head_space">
        </div>
        {% if page.object_list %}
        {% for product in page.object_list  %}
        {% purchase_info_for_product request product.object as session %}
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="products">
                <a href="{% url 'product-indorse-detail' product.id %}#content-section">
                    {% with image=product.object.primary_image %}
                    {% thumbnail image.original "387x283" crop="center" as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                    {% endthumbnail %}
                    {% endwith %}</a>
                <h3><a href="{% url 'product-indorse-detail' product.id %}#content-section">{{ product.object.get_title|truncatechars:22 }}</a></h3>
                <span>by {% if product.object.innovator.storename %}{{ product.object.innovator.storename}}{% else %}{{ product.object.innovator.user.username}}{% endif %}&nbsp;{% if not session.availability.is_available_to_buy %}<label style="color:#c9302c;">out of stock</label>{% endif %}</span>
                <p>{{ product.object.description|default:""|striptags|truncatechars:150 }}</p>
                <div class="values">
                    <label>Indorsements</label>
                    <label>Retail Price </label>
                    <label>You Earn</label>
                    <label>Days to go</label>
                </div>
                <div class="values">
                    <span>{{product.object.total_indorsed_license}}</span>
                    {% if session.price.excl_tax == 0 %}
                    <span>$00,000,00</span>
                    {% elif session.price.is_tax_known %}
                    <span>{{ session.price.incl_tax|currency:session.price.currency }}</span>
                    {% else %}
                    <span>{{ session.price.excl_tax|currency:session.price.currency }}</span>
                    {% endif %}      
                    {% if session.stockrecord.commision_price %}                
                    <span>{{product.object.champion_earn|currency:session.price.currency}}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                    <span>{{product.object.days_to_go}}</span>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if champions_list %}
        {% for user in champions_list %}
        <div class="col-xs-12 col-sm-8 col-lg-9">
            <div class="col-xs-12 col-sm-6 col-md-4 ">
                <div class="followers_tab">
                    <div class="follow_img">
                        {% if user.user_profile.timeline_image %}
                        {% thumbnail user.user_profile.timeline_image "600x200" crop="center" as thumb %}
                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                        {% endthumbnail %} 
                        {% else %}
                        <img src="{{STATIC_URL}}images/product.jpg" >            
                        {% endif %}

                    </div>
                    <div class="follow_pro">
                        <a href="{% if user.user_profile %}{% url 'store-details' user.user_profile.storename %}{% else %}#{% endif %}" target="blank" class="profile_pic">
                            {% if user.image %}
                            {% thumbnail user.user_profile.image "44x44" crop="center" as thumb %}
                            <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                            {% endthumbnail %}                 
                            {% else %}
                            <img src="{{STATIC_URL}}images/user.jpg" >
                            {% endif %}
                        </a>
                        <label>{{user.user_profile.user|default:""|striptags|truncatechars:10}} </label>
                        <span>{{user.user_profile.storename}}</span>
                        <p>{{user.user_profile.bio|default:""|striptags|truncatechars:50 }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if not page.object_list and not champions_list %}
        <div class="col-xs-12 head_title">
    
            <h3 class="heading_sub col-xs-12">Your search for <b>{{query}}</b> did not match any documents.</h3>

    </div>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block extra_js %}
<script src="{% static 'js/bootstrap-checkbox.js' %}"></script>
{{ block.super }}
<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>

{% endblock %}