{% extends "indorso_base.html" %}
{% load staticfiles %}
{% load staticfiles social_icons currency_filters %}
{% load basket_tags currency_filters thumbnail %}
{% load i18n %}
 {% block coverphoto %}
 {% endblock %}

{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-xs-12 head_space">
            <h2 class="heading_in col-xs-12">SignUp</h2>
            <h3 class="heading_sub col-xs-12"></h3>
        </div>

        <div class="widget">
            <div class="widget-body">
                <div class="form-horizontal margin">
                    <div class="col-md-12">
                        {% load socialaccount %}
                        {% providers_media_js %}  
                        <div class="social_medias_up col-md-10 col-sm-12">                                
                            <a href="{% provider_login_url "google" method="js_sdk" %}" class="btn btn-block btn-social btn-md btn-google-plus col-md-3 col-xs-11" ><i class="fa fa-google-plus"></i>Sign in with Google</a>
                            <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-md btn-facebook col-md-3 col-xs-11"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
                            <a href="{% provider_login_url "twitter" method="js_sdk" %}" class="btn btn-block btn-social btn-md btn-twitter col-md-3 col-xs-11"><i class="fa fa-twitter"></i>Sign in with Twitter</a> 
                            <div class="or">Or</div>
                        </div> 
                    </div>
                    <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName"> User name* </label>
                            <div class="col-sm-4">
                                {{form.username}}{% if form.username.errors %}<img src="{% static 'images/cross.png' %}" class="cross">{% endif %}<span class="error-msg">{{ form.username.errors.as_text }}</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName">Email* </label>
                            <div class="col-sm-6">
                                {{form.email}}{% if form.email.errors %}<img src="{% static 'images/cross.png' %}" class="cross">{% endif %}<span class="error-msg">{{ form.email.errors.as_text }}</span>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-2" for="empName"> </label>
                                <label class="col-sm-10 eml" for="empName"> Please ensure this field is correct as you will receive payments via email</label>
                            </div>
                        </div>                            
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName">Password* </label>

                            <div class="col-sm-6">
                                {{form.password1}}{% if form.password1.errors %}<img src="{% static 'images/cross.png' %}" class="cross">{% endif %}<span class="error-msg">{{ form.password1.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName">Re-type* </label>
                            <div class="col-sm-6">
                                {{form.password2}}{% if form.password2.errors %}<img src="{% static 'images/cross.png' %}" class="cross">{% endif %}<span class="error-msg">{{ form.password2.errors.as_text }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName"> </label><div class="col-sm-8">
                                <input type="checkbox" class="left" name="read" id="empName">
                                <label class="col-sm-9 col-xs-9 chk" for="empName" {% if profile_form.read.errors.as_text %}style="color:red;"{% endif %}> By clicking this box you indicate that you have read and agreed 
                                       to the Terms of Use and Privacy Policy.</label>{% if profile_form.read.errors.as_text %}<img src="{% static 'images/cross.png' %}" class="cross">{% endif %}
                            </div>                               

                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <input type="submit" value="Sign Up" class="right blue_btn">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/bootstrap-checkbox.js' %}"></script>
<script type="text/javascript">
            $('input[type="checkbox"]').checkbox();
    {% if success %}
    $('#myModal').modal('show')
    {% endif %}
    if (document.URL.indexOf('#pop') != - 1){
    $('#myModal').modal('show');
    }

</script>
{% endblock %}
