<!DOCTYPE html>{% load staticfiles social_icons %}
<html>{% list_common_details as details %}
    <head>
        <title>Indorso - Home</title>
        <meta name='description' content='Indorso is one of the largest brokers of innovative products in Canada. Based out of Toronto, with a network of over 250 stores globally, Indorso has helped hundreds of start ups across the globe reach their true potential.' />
        <meta name='keywords' content='indorso, Innovation, Boutique, Indorso, Startup, indorso.com, indorse, endorse, indorso, indorso, indorso' />
        <meta property='og:site_name' content='Indorso' />
        <meta property='og:title' content='Indorso' />
        <meta property='og:description' content='Indorso is one of the largest brokers of innovative products in Canada. Based out of Toronto, with a network of over 250 stores globally, Indorso has helped hundreds of start ups across the globe reach their true potential.' />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <link rel="stylesheet" href="{% static 'home/css/sites.css' %}?buildTime=1421284904" type="text/css" /><link rel='stylesheet' type='text/css' href='{% static "home/css/fancybox.css" %}?1421284904' />
        <link rel='stylesheet' type='text/css' href="{% static 'home/css/main_style.css' %}?1421293178" title='wsite-theme-css' />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
        <style type='text/css'>
            .wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
            #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
            .wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
            .wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
            #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
            .wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
            #wsite-title {}
            .wsite-menu-default a {}
            .wsite-menu a {}
            .wsite-image div, .wsite-caption {}
            .galleryCaptionInnerText {}
            .fancybox-title {}
            .wslide-caption-text {}
            .wsite-phone {}
            .wsite-headline {}
            .wsite-headline-paragraph {}
            .wsite-button-inner {}
            .wsite-not-footer blockquote, #wsite-com-product-tab blockquote {}
            .wsite-footer blockquote {}
            .blog-header h2 a {}
            #wsite-content h2.wsite-product-title {}
            .wsite-product .wsite-product-price a {}
        </style>
        <style>
            .wsite-background {background-image: url('{% static "home/images/268609019.jpg" %}') !important;background-repeat: no-repeat !important;background-position: 50% 50% !important;background-size: cover !important;background-color: transparent !important;background: inherit;}
            body.wsite-background {background-attachment: fixed !important;}
        </style>
        <script><!--
        var STATIC_BASE = '//cdn1.editmysite.com/';
            var STYLE_PREFIX = 'wsite';
//-->
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src='{% static "home/js/bootstrap.min.js" %}'></script>
        <link href='{% static "home/css/style.css" %}' rel="stylesheet">
        <link href='{% static "home/css/bootstrap.css" %}' rel="stylesheet">
        <script src='//cdn2.editmysite.com/js/site/main.js?buildTime=1421284904'></script>
        <script>_W.relinquish && _W.relinquish()</script>
        <script type='text/javascript'><!--
        (function(jQuery) {
                        function initFlyouts() {
                            initPublishedFlyoutMenus([{"id": "193685414667701511", "title": "Home", "url": "index.html", "target": ""}, {"id": "567995446821345383", "title": "Sign up", "url": "sign-up.html", "target": ""}], "193685414667701511", "<li><a href=\"#\" data-membership-required=\"\" >{{title}}<\/a><\/li>", 'active', false)
                        }
                        if (jQuery) {
                            jQuery(document).ready(function() {
                                jQuery(initFlyouts);
                            });
                        } else {
                            if (Prototype.Browser.IE)
                                window.onload = initFlyouts;
                            else
                                document.observe('dom:loaded', initFlyouts);
                        }
                    })(window._W && _W.jQuery)
//-->

        </script>
    </head>
    <body class='landing-page  wsite-theme-light wsite-page-index'>
        <div id="header-wrap" class="wsite-background wsite-custom-background">
            <div id="menu-wrap">
                <table id="header" class="container">
                    <tr>
                        <td id="logo"><span class='wsite-logo'><a href='/'><span id="wsite-title">Indorso</span></a></span></td>  

                        <td class="nav"><ul class='wsite-menu-default'>
                                <li id="active"><a href="/">Home</a></li>

                                {% if request.user.is_authenticated %}

                                <li id='pg567995446821345383'>
                                    <a href="{% url 'prodcut-indorse' %}#content-section" data-membership-required="0" >INDORSE</a>
                                </li>
                                <li id='pg567995446821345383'>
                                    <a href="{% url 'product-buy' %}#content-section" data-membership-required="0" >BUY</a>
                                </li>
                                <li id='pg567995446821345383'>
                                    <a href="{% url 'customer:logout' %}" data-membership-required="0" >logout</a>
                                </li>
                                {% else %}
                                <li id='pg567995446821345383'>
                                    <a href="{% url 'user-registration' %}#content-section" data-membership-required="0" >Sign up</a>
                                </li>
                                <li id='pg567995446821345383'>
                                    <a href="#" data-target="#myModal" data-toggle="modal"  >Sign In</a>
                                </li>
                                {% endif %}

                            </ul></td>
                        <!--<td class="search">{search}</td>-->
                    </tr>
                </table>
            </div>
            <div class="banner-wrap">
                <div class="container">
                    <div id="banner">
                        <h2><span class='wsite-text wsite-headline'>connecting you with innovations</span></h2>
                        <p><span class='wsite-text wsite-headline-paragraph'><span style=""><span id="selectionBoundary_1412896047299_9432364222593606" class="rangySelectionBoundary" style="line-height: 0; display: none;">﻿</span><span id="selectionBoundary_1412896031619_4888158563990146" class="rangySelectionBoundary" style="line-height: 0; display: none;">﻿</span>I</span>ndorse what you love<span id="selectionBoundary_1412895656980_7137852148152888" style="">﻿<span id="selectionBoundary_1412896031619_8679186992812902" class="rangySelectionBoundary" style="line-height: 0; display: none;">﻿</span><span id="selectionBoundary_1412896047299_9456487053539604" class="rangySelectionBoundary" style="line-height: 0; display: none;">﻿</span></span></span></p>	
                        <div class="button-wrap"><div style="text-align:left;"><div style="height: 0px; overflow: hidden;"></div>
                                <a class="wsite-button wsite-button-large wsite-button-highlight" href="#howitworks" >
                                    <span class="wsite-button-inner">Learn more</span>
                                </a>
                                <div style="height: 0px; overflow: hidden;"></div></div></div>
                    </div>
                </div>

            </div><!-- end container -->
        </div><!-- end header-wrap -->  


        <div id="main-wrap">
            <div class="container">
                <div id='wsite-content' class='wsite-elements wsite-not-footer'>
                    <div class="wsite-spacer" style="height:50px;"></div>

                    <div><div id="757743177476136448" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><div id="howitworks"></div></div>



                    </div>

                    <div class="wsite-spacer" style="height:75.77777767181396px;"></div>

                    <div class="wsite-spacer" style="height:50px;"></div>

                    <div><div id="950726769628805200" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><div</div>



                        </div>

                        <h2 class="wsite-content-title" style="text-align:center;"><font size="7">How it works</font></h2>

                        <div class="wsite-spacer" style="height:50px;"></div>

                        <div class="paragraph" style="text-align:center;"><strong><font size="5"><font color="#2a2a2a">"Indorso is a structured market place that connects product champions with innovations"</font></font></strong></div>

                        <div class="wsite-spacer" style="height:48.777777671813965px;"></div>

                        <div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                    <table class="wsite-multicol-table">
                                        <tbody class="wsite-multicol-tbody">
                                            <tr class="wsite-multicol-tr">
                                                <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



                                                    <div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:left">
                                                            <a>
                                                                <img src='{% static "home/images/2940391_orig.jpg" %}' alt="Picture" style="width:auto;max-width:100%" />
                                                            </a>
                                                            <div style="display:block;font-size:90%"></div>
                                                        </div></div>

                                                    <div class="wsite-spacer" style="height:81px;"></div>



                                                </td>				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



                                                    <div class="paragraph" style="text-align:left;"><br /><strong><font color="#2a2a2a"><strong style="color: rgb(102, 102, 102); background-color: initial;"><font color="#2a2a2a"><font style="line-height: 1.5;" size="3">&nbsp;&nbsp;</font><font size="5" style="line-height: 1.5;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</font></font></strong><br /></font></strong><strong><font color="#2a2a2a" size="6">Innovate</font><span id="selectionBoundary_1416877732622_4571549997199327" class="rangySelectionBoundary" style="line-height: 0; display: none;">&#65279;</span></strong><br /><br /><font size="4"><span style="background-color: transparent;"><span style="line-height: 1.5;">Behind every successful innovation, there is a team of&nbsp;</span>inventors<span style="line-height: 1.5;">&nbsp;and&nbsp;millions of product champions.&nbsp;</span></span><br /><br />Inventors from across the globe have posted their innovations on the Indorso platform.</font><br /><br /><font size="4">The indorso team has &nbsp;screened these innovations against a rigorous criteria</font><font size="4">&nbsp;to ensure that only the best and most innovative&nbsp;make it to the platform.&nbsp;</font><br /><br /><br /><span id="selectionBoundary_1416877308328_7575470241717994" class="rangySelectionBoundary" style="line-height: 0; display: none;">&#65279;</span><span id="selectionBoundary_1416877582238_37791883456520736" class="rangySelectionBoundary" style="line-height: 0; display: none;">&#65279;</span><span id="selectionBoundary_1416877607501_8640768008772284" class="rangySelectionBoundary" style="line-height: 0; display: none;">&#65279;</span><font color="#ff6a20" size="4">Post your innovation</font><span id="selectionBoundary_1416877607501_5765320893842727" class="rangySelectionBoundary" style="line-height: 0; display: none;">&#65279;</span><span id="selectionBoundary_1416877582238_845644315937534" class="rangySelectionBoundary" style="line-height: 0; display: none;">&#65279;</span><span id="selectionBoundary_1416877308328_5874787892680615" class="rangySelectionBoundary" style="line-height: 0; display: none;">&#65279;</span><span id="selectionBoundary_1416877219784_22031943476758897" class="rangySelectionBoundary" style="line-height: 0; display: none;">&#65279;</span></div>



                                                </td>			</tr>
                                        </tbody>
                                    </table>
                                </div></div></div>

                        <div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                    <table class="wsite-multicol-table">
                                        <tbody class="wsite-multicol-tbody">
                                            <tr class="wsite-multicol-tr">
                                                <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



                                                    <div class="paragraph"><br /><br /><br /><br /><br /><strong><font color="#2a2a2a" size="6">Indorse</font></strong><br /><br /><font size="4">Individuals from all walks of life can become product champions by indorsing the innovations they think will have an impact on the world we live in.&nbsp;<br /><br />Each time you indorse an innovation, the innovation automatically gets added&nbsp;to your personalized E-commerce store.</font><br /><br /><br /><font color="#00990b">Explore the innovations</font></div>



                                                </td>				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



                                                    <div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:10px;text-align:right">
                                                            <a>
                                                                <img src='{% static "home/images/599188.jpg" %}?250' alt="Picture" style="width:auto;max-width:100%" />
                                                            </a>
                                                            <div style="display:block;font-size:90%"></div>
                                                        </div></div>



                                                </td>			</tr>
                                        </tbody>
                                    </table>
                                </div></div></div>

                        <div class="wsite-spacer" style="height:80px;"></div>

                        <div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                    <table class="wsite-multicol-table">
                                        <tbody class="wsite-multicol-tbody">
                                            <tr class="wsite-multicol-tr">
                                                <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



                                                    <div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:left">
                                                            <a>
                                                                <img src='{% static "home/images/3392704_orig.jpg" %}' alt="Picture" style="width:auto;max-width:100%" />
                                                            </a>
                                                            <div style="display:block;font-size:90%"></div>
                                                        </div></div>



                                                </td>				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



                                                    <div class="paragraph" style="text-align:left;"><br /><br /><strong><font color="#2a2a2a"><br /><br /><font size="6">Connect</font></font></strong><br /><br /><font size="4">Harness the power of the crowd.<br /><br />Product champions then do what they do best; advocate the innovations that they are passionate about.&nbsp;<br /><br />Each time someone buys an innovation from their store, the innovator ships the product, and product champions earn a healthy retail margin.</font><br /><br /><br /><font color="#20a3ff" size="4">Explore the innovations</font></div>



                                                </td>			</tr>
                                        </tbody>
                                    </table>
                                </div></div></div>

                        <div class="wsite-spacer" style="height:108.77777767181396px;"></div>

                        <div class="paragraph" style="text-align:center;"><strong style="line-height: 1.5; background-color: initial;"><font size="7">Launching March 1, 2015</font></strong><br /></div>

                        <div class="wsite-spacer" style="height:53px;"></div>

                        <div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
                            <a class="wsite-button wsite-button-large wsite-button-normal" href="{% url 'user-registration' %}" >
                                <span class="wsite-button-inner">Register</span>
                            </a>
                            <div style="height: 10px; overflow: hidden;"></div></div>

                        <div class="wsite-spacer" style="height:50px;"></div></div>

                </div><!-- end container -->
            </div><!-- end main-wrap -->

            <div id="footer-wrap">
                <div class="container">
                    <div class='wsite-elements wsite-footer'>
                        <div style="text-align:center;"><div style="height:10px;overflow:hidden"></div>
                            <!--©-->
                            <span class="wsite-social wsite-social-default"><a class='first-child wsite-social-item wsite-social-mail' href='mailto:info@indorso.com' target='_blank'><span class='wsite-social-item-inner'></span></a><a class='last-child wsite-social-item wsite-social-pinterest' href='http://www.pinterest.com/indorso/' target='_blank'><span class='wsite-social-item-inner'></span></a></span>
                            <div style="height:10px;overflow:hidden"></div></div>


                    
                    <div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade in signin" ><div class="modal-backdrop fade in" ></div>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                
                                <form action="{% url 'customer:login_1' %}" method='post' id="login_form">{% csrf_token %}
                                    <div class="modal-header">
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 id="myModalLabel" class="modal-title">Welcome back to Indorso</h4>
                                        <p> Please sign in to continue.</p>
                                    </div>
                                    <div class="modal-body">
                            <input class="form-control"  id="id_login-username" name="login-username" type="email" placeholder="Email">
                            <p id="username_id"></p>
                            <p id="__all___id"></p>                            
                            <input class="form-control"  id="id_login-password" name="login-password" type="password" placeholder="Password">
                            <p id="password_id"></p>
                            <input type="hidden" name="login_submit" value="1">                         
                            <input name="login-redirect_url" type="hidden" id="login-redirect_url_value" value="{{ request.get_full_path }}">                            

<!--                            <input class="left" name="remember_me" id="empName" type="checkbox">-->
                            <!--<label class="col-sm-11 chk" for="empName">Keep me Logged in</label>-->

                        </div>
                                    <div class="modal-footer">
                            {% load socialaccount %}
                            {% providers_media_js %}
                                         
                          
                            
                            <div class="col-md-8 no-pad"><label for="empName" class="col-sm-8 chk pull-left no-pad text-left"><u><a href="{% url 'password-reset' %}">Forgot your password</a></u></label> 
                            <label for="empName" class="col-sm-8 chk pull-left no-pad text-left nota"><span class="pull-left">Not a member yet? </span>  <a href="{% url 'user-registration' %}"> Sign Up </a></label></div> 
                            <button name="login_submit" type="button" class="right blue_btn col-sm-4" id="log_in" onclick="login_popup()">Log in</button>
                              <div class="social_medias"> 
                                <div class="or">Or</div>
                            <a href="{% provider_login_url "google" method="js_sdk" %}" class="btn btn-block btn-social btn-sm btn-google-plus col-md-4 col-sm-12" ><i class="fa fa-google-plus"></i>Sign in with Google</a>
                           <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-sm btn-facebook col-md-4 col-sm-12"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
                            <a href="{% provider_login_url "twitter" method="js_sdk" %}" class="btn btn-block btn-social btn-sm btn-twitter col-md-4 col-sm-12"><i class="fa fa-twitter"></i>Sign in with Twitter</a> 
                              </div> 
                        </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    
                    

                        <div class="paragraph" style="text-align:left;"><span style="font-size: 13px; line-height: 1.5; background-color: initial;">&copy; {% now 'Y' %} {{details.footer_text}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><a href="/about_us/" title="" style="font-size: 13px; line-height: 1.5; background-color: initial;"> &nbsp;About us</a><span style="font-size: 13px; line-height: 1.5; background-color: initial;">&nbsp; &nbsp;</span><span style="font-size: 9pt; line-height: 115%; font-family: Arial, sans-serif; background-color: initial;"><strong>| &nbsp; </strong><a href="{% url 'contact_form' %}" title="">Contact us</a></span><br /></div></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
                    <script type='text/javascript'>
                        $(document).ready(function() {
    login_popup = function(){
    $.ajax({type: "POST",
            url: "{% url 'customer:login_1' %}",
            data: $('#login_form').serialize(),
            dataType: 'json',
            success: function(data) {
                window.location.href = data.redirect_url;
            },
            error: function(response) {
                errors = JSON.parse(response.responseText);
                $.each(errors, function(indexes, values) {
                    $.each(values, function(index, value) {
                        id_is = index + "_id"
                        $('#' + id_is).html(value);
                    });
                });
            }
        });
   };
   });
<!--

                        if (document.cookie.match(/(^|;)\s*is_mobile=1/)) {
                            var windowHref = window.location.href || '';
                            if (windowHref.indexOf('?') > -1) {
                                windowHref += '&';
                            } else {
                                windowHref += '?';
                            }
                            document.write(
                                    "&nbsp;&nbsp;&nbsp;&nbsp;" +
                                    "<a class='wsite-view-link-mobile' href='" + windowHref + "view=mobile'>Mobile Site</a>"
                                    );
                        }

//-->
                    </script>

                </div><!-- end container -->
            </div><!-- end footer-wrap -->

            <script type="text/javascript" src='{% static "home/files/theme/custom.js" %}'></script>

            
            <script type="text/javascript">

                        var _gaq = _gaq || [];
                        _gaq.push(['_setAccount', 'UA-7870337-1']);
                        _gaq.push(['_setDomainName', 'none']);
                        _gaq.push(['_setAllowLinker', true]);
                        _gaq.push(['_trackPageview']);

                        (function() {
                            var ga = document.createElement('script');
                            ga.type = 'text/javascript';
                            ga.async = true;
                            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(ga, s);
                        })();

            </script>


            <!-- Quantcast Tag -->
            <script type="text/javascript">
                var _qevents = _qevents || [];

                (function() {
                    var elem = document.createElement('script');
                    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
                    elem.async = true;
                    elem.type = "text/javascript";
                    var scpt = document.getElementsByTagName('script')[0];
                    scpt.parentNode.insertBefore(elem, scpt);
                })();

                _qevents.push({
                    qacct: "p-0dYLvhSGGqUWo",
                    labels: "l5,u39306787.u39306787s411013595929970404"
                });
            </script>

            <noscript>
            <div style="display:none;">
                <img src="//pixel.quantserve.com/pixel/p-0dYLvhSGGqUWo.gif?labels=l5,u39306787.u39306787s411013595929970404" border="0" height="1" width="1" alt="Quantcast"/>
            </div>
            </noscript>
            <!-- End Quantcast tag -->


            <script>
                


                (function(jQuery) {
                    try {
                        if (jQuery) {
                            jQuery('div.blog-social div.fb-like').attr('class', 'blog-social-item blog-fb-like');
                            jQuery('#commentArea iframe').css('min-height', '410px');
                            if (jQuery('.product-button').length > 0) {
                                jQuery(document).ready(function() {
                                    
                                    
                                    jQuery('.product-button').parent().each(function(index, product) {
                                        if (jQuery(product).attr('target') == 'paypal') {
                                            if (!jQuery(product).find('> [name="bn"]').length) {
                                                jQuery('<input>').attr({
                                                    type: 'hidden',
                                                    name: 'bn',
                                                    value: 'DragAndDropBuil_SP_EC'
                                                }).appendTo(product);
                                            }
                                        }
                                    });
                                    
                                       
    
                                });
                            }
                        }
                        else {
                            // Prototype
                            $$('div.blog-social div.fb-like').each(function(div) {
                                div.className = 'blog-social-item blog-fb-like';
                            });
                            $$('#commentArea iframe').each(function(iframe) {
                                iframe.style.minHeight = '410px';
                            });
                        }
                    }
                    catch (ex) {
                    }
                })(window._W && _W.jQuery);

            </script>

    </body>
</html>