<!DOCTYPE html>{% load staticfiles social_icons %}
<html lang="en">{% list_common_details as details %}{% load currency_filters thumbnail %}{% load purchase_info_tags i18n %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indorso - Home</title>
    <link href="{% static 'home/css/template.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,200,200italic,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="body-overlay landing-page  wsite-theme-light wsite-page-index">
    <div id="page">
      <header id="header" class="site-header">
        <nav id="navbar" class="site-navbar navbar navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
              </button>
              <h1 class="navbar-brand"> <a href="/"><span id="wsite-title">Indorso</span></a></h1>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="wsite-menu-default">
                                <li id="active"><a href="/">Home</a></li>

                         {% if request.user.is_authenticated %}

                                <li id='pg567995446821345383'>
                                    <a href="{% url 'prodcut-indorse' %}#content-section" data-membership-required="0" >INDORSE</a>
                                </li>
                                <li id='pg567995446821345383'>
                                    <a href="{% url 'product-buy' %}#content-section" data-membership-required="0" >BUY</a>
                                </li>
                                <li id='pg567995446821345383'>
                                    <a href="{% url 'customer:logout' %}" data-membership-required="0" >logout</a>
                                </li>
                                {% else %}
                                <li id='pg567995446821345383'>
                                    <a href="{% url 'user-registration' %}#content-section" data-membership-required="0" >Sign up</a>
                                </li>
                                <li id='pg567995446821345383'>
                                    <a href="#" data-target="#myModal" data-toggle="modal"  >Sign In</a>
                                </li>
                                {% endif %}
                                

                            </ul>
            </div>
          </div>
        </nav>
      </header>

      <main id="main" class="site-main">

        <section id="carousel-1" class="carousel slide section-slide" >
                    <div class="banner-wrap">
                <div class="container">
                    <div id="banner">
                        <h2><span class="wsite-text wsite-headline">connecting you with innovations</span></h2>
                        <p><span class="wsite-text wsite-headline-paragraph"><span style=""><span style="line-height: 0; display: none;" class="rangySelectionBoundary" id="selectionBoundary_1412896047299_9432364222593606">&#65279;</span><span style="line-height: 0; display: none;" class="rangySelectionBoundary" id="selectionBoundary_1412896031619_4888158563990146">&#65279;</span>I</span>ndorse what you love<span style="" id="selectionBoundary_1412895656980_7137852148152888">&#65279;<span style="line-height: 0; display: none;" class="rangySelectionBoundary" id="selectionBoundary_1412896031619_8679186992812902">&#65279;</span><span style="line-height: 0; display: none;" class="rangySelectionBoundary" id="selectionBoundary_1412896047299_9456487053539604">&#65279;</span></span></span></p> 
                        <div class="button-wrap"><div style="text-align:left;"><div style="height: 0px; overflow: hidden;"></div>
                                <a href="#howitworks" class="wsite-button wsite-button-large wsite-button-highlight">
                                    <span class="wsite-button-inner">Learn more</span>
                                </a>
                                <div style="height: 0px; overflow: hidden;"></div></div></div>
                    </div>
                </div>

            </div>
        </section>
           <section class="section section-center section-cta" id="howitworks">

          <div class="greybox"><p>“ Behind every successful invention, there is a team of inventors and millions of product champions ”
                                        </p><span>[Fact]</span></div>

        </section>
        <section class="section section-center section-cta" >
       <h2 style="text-align:center;" class="wsite-content-title"><font size="7">How it works</font></h2>
       <div style="height:50px;" class="wsite-spacer"></div>
          <div style="height:50px;" class="wsite-spacer"></div>
        <div class="container">
           
            <div class="row">

              <div class="col-md-6 col-sm-12">
                <a>
                <img alt="Picture" src="/static/home/images/2940391_orig.jpg">
                </a>
              </div>

              <div class="col-md-6 col-sm-12">
                <div style="text-align:left;" class="paragraph"><h4>Indorse</h4><p>Become a part of the Innovations you love</p>
<br>
Inventors from across the globe  have posted their innovations on the Indorso platform. <br>
<br>
Whether you are a student or a celebrity, you can become an active part of the Innovations you love by simply clicking the Indorse button.
 <br>
<br>Each time you indorse an innovation, the 
innovation automatically gets added to your 
personalized E-Commerce store. 
<p class="green">Explore the Innovations</p>

</div>

              </div>

              </div>
          </div>
        </section>

        <section id="features" class="section section-center section-hilite section-features">
             <div class="container">
           
            <div class="row">

              <div class="col-md-6 col-sm-12" >   <div style="text-align:left;" class="paragraph"><h4>Connect</h4><p>Advocate you Indorsements </p>
<br>The Indorso platform is a collaborative eco-system.  <br>
<br>
Follow friends, share posts and comment on the latest innovations.
 <br>
<br>
You get a tailored view of the world, so that you can purchase innovations based on 
credible indorsements from your friends. <p class="blue">Explore the Innovations</p></div>
                
              </div>

              <div class="col-md-6 col-sm-12" style="text-align:right">
               <a>
                <img alt="Picture" src="/static/home/images/599188.jpg">
                </a>
              </div>

              </div>
          </div>
        </section>



        <section id="testimonials" class="section section-center section-hilite section-testimonial">
          
        <div class="container">
           
            <div class="row">

              <div class="col-md-6 col-sm-12">
                <a>
                <img alt="Picture" src="/static/home/images/3392704_orig.jpg">
                </a>
              </div>

              <div class="col-md-6 col-sm-12">
                  <div style="text-align:left;" class="paragraph"><h4>Achieve</h4><p>Monetize Your Passion</p>
                <br>Each time someone in your network purchases an innovation through your store, you earn a healthy retail margin.  <br>
                <br>You don't have to worry about anything; we take care of all the boring stuff like shipping and admin.<br>
                <br>Signing up is free, and Indorso transfers you your earnings within 24 hours... so what are you waiting for?  
                <p class="orange">Explore the Innovations</p></div>
              </div>

              </div>
          </div>
        </section>
          {% if details %}



     <section class="section section-center section-product section-hilite section-testimonial" id='product'>

      <h1>Checkout these <a href="www.twitter.com/indorso">#Crazyinnovations</a></h1>
      <div class="container">
           
            <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
         <div class="col-xs-12 col-sm-6 col-md-4">
             {% if details.product_a %}
            {% purchase_info_for_product request details.product_a as session %}
       <div class="products">
       {% with image=details.product_a.primary_image %}
            {% thumbnail image.original "387x283" crop="center" as thumb %}
            <img src="{{ thumb.url }}" alt="{{ details.product_a.get_title }}">
            {% endthumbnail %}
            {% endwith %}
       <h3><a href="/indorse-detail/38/">{{details.product_a.get_title|truncatewords:4}}</a></h3>
       <span>by {% if details.product_a.innovator.storename %}{{ details.product_a.innovator.storename}}{% else %}{{ details.product_a.innovator.user.username}}{% endif %}</span>
       <p>{{ details.product_a.description|striptags|truncatechars:150 }}</p>
       <div class="values">
        <label>Indorsements</label>
        <label>Retail Price </label>
        <label>You Earn</label>
        <label>{% if details.product_a.check_expire_today %}Hours{% else %}Days{% endif%} to go</label>
        </div>
        <div class="values">
        <span>{{details.product_a.total_indorsed_license}}</span>
    {% if session.price.excl_tax == 0 %}
            <span>{{details.product_a.total_indorsed_license}}</span>
            {% elif session.price.is_tax_known %}
            <span>{{ session.price.incl_tax|currency:session.price.currency }}</span>
            {% else %}
            <span>{{ session.price.excl_tax|currency:session.price.currency }}</span>
            {% endif %}      
            {% if session.stockrecord.commision_price %}                
            <span>{{details.product_a.champion_earn|currency:session.price.currency}}</span>
            {% else %}
            <span>-</span>
            {% endif %}
            <span>{% if details.product_a.check_expire_today %}<div id="countdown-2_{{details.product_a.id}}"></div>
                <script type="text/javascript">
        $('#countdown-2_{{details.product_a.id}}').countdown('{{details.product_a.get_available_date|date:"Y/m/d H:m:s"}}', function(event) {
    $(this).html(event.strftime('%H:%M:%S'));
});
                </script>

                {% else %}
                {{details.product_a.days_to_go}}
                {% endif %}
            </span>
        </div>
          </div>
             {% endif %}
        </div>
         <div class="col-xs-12 col-sm-6 col-md-4">
             {% if details.product_b %}
            {% purchase_info_for_product request details.product_b as session %}
       <div class="products">
       {% with image=details.product_b.primary_image %}
            {% thumbnail image.original "387x283" crop="center" as thumb %}
            <img src="{{ thumb.url }}" alt="{{ details.product_b.get_title }}">
            {% endthumbnail %}
            {% endwith %}
       <h3><a href="/indorse-detail/38/">{{details.product_b.get_title|truncatewords:4}}</a></h3>
       <span>by {% if details.product_b.innovator.storename %}{{ details.product_b.innovator.storename}}{% else %}{{ details.product_b.innovator.user.username}}{% endif %}</span>
       <p>{{ details.product_b.description|striptags|truncatechars:150 }}</p>
       <div class="values">
        <label>Indorsements</label>
        <label>Retail Price </label>
        <label>You Earn</label>
        <label>{% if details.product_b.check_expire_today %}Hours{% else %}Days{% endif%} to go</label>
        </div>
        <div class="values">
        <span>{{details.product_b.total_indorsed_license}}</span>
    {% if session.price.excl_tax == 0 %}
            <span>{{details.product_b.total_indorsed_license}}</span>
            {% elif session.price.is_tax_known %}
            <span>{{ session.price.incl_tax|currency:session.price.currency }}</span>
            {% else %}
            <span>{{ session.price.excl_tax|currency:session.price.currency }}</span>
            {% endif %}      
            {% if session.stockrecord.commision_price %}                
            <span>{{details.product_b.champion_earn|currency:session.price.currency}}</span>
            {% else %}
            <span>-</span>
            {% endif %}
            <span>{% if details.product_b.check_expire_today %}<div id="countdown-2_{{details.product_b.id}}"></div>
                <script type="text/javascript">
        $('#countdown-2_{{details.product_b.id}}').countdown('{{details.product_b.get_available_date|date:"Y/m/d H:m:s"}}', function(event) {
    $(this).html(event.strftime('%H:%M:%S'));
});
                </script>

                {% else %}
                {{details.product_b.days_to_go}}
                {% endif %}
            </span>
        </div>
          </div>
             {% endif %}
        </div>
         <div class="col-xs-12 col-sm-6 col-md-4">
             {% if details.product_c %}
            {% purchase_info_for_product request details.product_c as session %}
       <div class="products">
       {% with image=details.product_c.primary_image %}
            {% thumbnail image.original "387x283" crop="center" as thumb %}
            <img src="{{ thumb.url }}" alt="{{ details.product_c.get_title }}">
            {% endthumbnail %}
            {% endwith %}
       <h3><a href="/indorse-detail/38/">{{details.product_c.get_title|truncatewords:4}}</a></h3>
       <span>by {% if details.product_c.innovator.storename %}{{ details.product_c.innovator.storename}}{% else %}{{ details.product_c.innovator.user.username}}{% endif %}</span>
       <p>{{ details.product_c.description|striptags|truncatechars:150 }}</p>
       <div class="values">
        <label>Indorsements</label>
        <label>Retail Price </label>
        <label>You Earn</label>
        <label>{% if details.product_c.check_expire_today %}Hours{% else %}Days{% endif%} to go</label>
        </div>
        <div class="values">
        <span>{{details.product_c.total_indorsed_license}}</span>
    {% if session.price.excl_tax == 0 %}
            <span>{{details.product_c.total_indorsed_license}}</span>
            {% elif session.price.is_tax_known %}
            <span>{{ session.price.incl_tax|currency:session.price.currency }}</span>
            {% else %}
            <span>{{ session.price.excl_tax|currency:session.price.currency }}</span>
            {% endif %}      
            {% if session.stockrecord.commision_price %}                
            <span>{{details.product_c.champion_earn|currency:session.price.currency}}</span>
            {% else %}
            <span>-</span>
            {% endif %}
            <span>{% if details.product_c.check_expire_today %}<div id="countdown-2_{{details.product_c.id}}"></div>
                <script type="text/javascript">
        $('#countdown-2_{{details.product_c.id}}').countdown('{{details.product_c.get_available_date|date:"Y/m/d H:m:s"}}', function(event) {
    $(this).html(event.strftime('%H:%M:%S'));
});
                </script>

                {% else %}
                {{details.product_c.days_to_go}}
                {% endif %}
            </span>
        </div>
          </div>
             {% endif %}
        </div>

      

       <div class="col-xs-12 col-sm-12 col-md-12 button-center"><button name="login_submit" type="button" class="blue_btn col-sm-3 col-xs-12" id="log_in" onclick="login_popup()">Explore</button></div>
        
      </div>

</div></div>

     </section>
          {% endif %}
        
      
      </main>

      <footer id="footer" class="site-footer">
        <div class="container">
          <div class="wsite-elements wsite-footer">
<div><div class="wsite-multicol"><div style="margin:0 -15px;" class="wsite-multicol-table-wrap">

            

<div style="text-align:left;" class="paragraph col-xs-12 col-sm-12 col-md-4"><span style="">&copy; 2014, Indorso.com, Inc &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></div>


          

          
            

<div style="text-align:center;" class="col-xs-12 col-sm-12 col-md-4"><div style="height:0px;overflow:hidden"></div>
<span class="wsite-social wsite-social-default"><a target="_blank" href="https://www.facebook.com/Indorso?ref=tn_tnmn" class="first-child wsite-social-item wsite-social-facebook"><span class="wsite-social-item-inner"></span></a><a target="_blank" href="https://twitter.com/Indorso" class="wsite-social-item wsite-social-twitter"><span class="wsite-social-item-inner"></span></a><a target="_blank" href="mailto:info@indorso.com" class="wsite-social-item wsite-social-mail"><span class="wsite-social-item-inner"></span></a><a target="_blank" href="https://www.pinterest.com/indorso/" class="last-child wsite-social-item wsite-social-pinterest"><span class="wsite-social-item-inner"></span></a></span>
<div style="height:0px;overflow:hidden"></div></div>


          
        
          
            

<div style="text-align:left;" class="paragraph col-xs-12 col-sm-12 col-md-4">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a style="" title="" href="{% url 'about_us' %}">About us</a>&nbsp; &nbsp;<strong style="">| &nbsp;&nbsp;</strong><a style="" title="" href="{% url 'contact_form' %}">Contact us</a></div>


          
     
</div></div></div></div>
<script type="text/javascript">
&lt;!--

if (document.cookie.match(/(^|;)\s*is_mobile=1/)) {
  var windowHref = window.location.href || '';
  if (windowHref.indexOf('?') &gt; -1) {
    windowHref += '&amp;';
  } else {
    windowHref += '?';
  }
  document.write(
    "&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;" +
    "&lt;a class='wsite-view-link-mobile' href='" + windowHref + "view=mobile'&gt;Mobile Site&lt;/a&gt;"
  );
}

//--&gt;
</script>

        </div>
      </footer>
    </div>

    <div class="scroll-to-top" data-spy="affix" data-offset-top="200"><a href="#page" class="smooth-scroll"><i class="fa fa-arrow-up"></i></a></div>
  <div class="modal fade in signin" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" ><div class="modal-backdrop fade in" style="height: 665px;"></div><div class="modal-backdrop fade in" style="height: 665px;"></div><div class="modal-backdrop fade in"></div>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                
                                <form action="{% url 'customer:login_1' %}" method='post' id="login_form">{% csrf_token %}
                                    <div class="modal-header">
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 id="myModalLabel" class="modal-title">Welcome back to Indorso</h4>
                                        <p> Please sign in to continue.</p>
                                    </div>
                                    <div class="modal-body">
                            <input class="form-control"  id="id_login-username" name="login-username" type="email" placeholder="Email">
                            <p id="username_id"></p>
                            <p id="__all___id"></p>                            
                            <input class="form-control"  id="id_login-password" name="login-password" type="password" placeholder="Password">
                            <p id="password_id"></p>
                            <input type="hidden" name="login_submit" value="1">                         
                            <input name="login-redirect_url" type="hidden" id="login-redirect_url_value" value="{{ request.get_full_path }}">                            

<!--                            <input class="left" name="remember_me" id="empName" type="checkbox">-->
                            <!--<label class="col-sm-11 chk" for="empName">Keep me Logged in</label>-->

                        </div>
                                    <div class="modal-footer">
                            {% load socialaccount %}
                            {% providers_media_js %}
                                         
                          
                            
                            <div class="col-md-8 no-pad"><label for="empName" class="col-sm-8 chk pull-left no-pad text-left"><u><a href="{% url 'password-reset' %}">Forgot your password</a></u></label> 
                            <label for="empName" class="col-sm-8 chk pull-left no-pad text-left nota"><span class="pull-left">Not a member yet? </span>  <a href="{% url 'user-registration' %}"> Sign Up </a></label></div> 
                            <button name="login_submit" type="button" class="right blue_btn col-sm-4" id="log_in" onclick="login_popup()">Log in</button>
                              <div class="social_medias"> 
                                <div class="or">Or</div>
                            <a href="{% provider_login_url "google" method="js_sdk" %}" class="btn btn-block btn-social btn-sm btn-google-plus col-md-4 col-sm-12" ><i class="fa fa-google-plus"></i>Sign in with Google</a>
                           <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-sm btn-facebook col-md-4 col-sm-12"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
                            <a href="{% provider_login_url "twitter" method="js_sdk" %}" class="btn btn-block btn-social btn-sm btn-twitter col-md-4 col-sm-12"><i class="fa fa-twitter"></i>Sign in with Twitter</a> 
                              </div> 
                        </div>
                                </form>

                            </div>
                        </div>
                    </div>
    <script type="text/javascript" src='{% static "home/js/jquery-1.10.2.min.js" %}'></script>
    <script type="text/javascript" src='{% static "home/js/bootstrap-3.1.1.min.js" %}'></script>
    <script type="text/javascript" src='{% static "home/js/jquery.isotope.min.js" %}'></script>
    <script type="text/javascript" src='{% static "home/js/jquery.singlePageNav.min.js" %}'></script>
    <script type="text/javascript" src='{% static "home/js/main.js" %}'></script>
    <script type='text/javascript'>
                        $(document).ready(function() {
    login_popup = function(){
    $.ajax({type: "POST",
            url: "{% url 'customer:login_1' %}",
            data: $('#login_form').serialize(),
            dataType: 'json',
            success: function(data) {
                window.location.href = data.redirect_url;
            },
            error: function(response) {
                errors = JSON.parse(response.responseText);
                $.each(errors, function(indexes, values) {
                    $.each(values, function(index, value) {
                        id_is = index + "_id"
                        $('#' + id_is).html(value);
                    });
                });
            }
        });
   };
   });

                    </script>
   
  </body>
</html>