{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load product_tags basket_tags access_tags %}
{% load purchase_info_tags i18n %}


{% block coverphoto %}
{% endblock %}


{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-xs-12 head_space">
        <h2 class="heading_in col-xs-12">Check out > Billing information</h2>
<h3 class="heading_sub col-xs-12"></h3>
        </div>

        <div class="col-lg-9 col-md-9">
            <div class="widget">

                <div class="widget-body">
                    <form action="." name="billing-address-form" method="POST">{% csrf_token %}
                        <div class="form-horizontal margin">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName"> First name* </label>
                                <div class="col-sm-4">
                                    {{form.first_name}}
                                </div>
                                <label class="col-sm-2 control-label" for="branch"> Last name* </label>
                                <div class="col-sm-4">
                                    {{form.last_name}}
                                </div>

                            </div>
                            <!--                        <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="empName">Email* </label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" name="empName" value="john@acme.com" id="empName">
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <label class="col-sm-2" for="empName"> </label>
                                                        </div>
                                                    </div>-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName">Address* </label>
                                <div class="col-sm-6">
                                    {{form.line1}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName">Country* </label>
                                <div class="col-sm-4">
                                    {{form.country}}
                                </div>
                                <label class="col-sm-2 control-label text-right" for="empName">City*</label>
                                <div class="col-sm-4">
                                    {{form.line4}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName">State/<Br/>Province*</label>
                                <div class="col-sm-4">
                                    {{form.state}}
                                </div>
                                <label class="col-sm-2 control-label" for="empName">Zip/<Br/>Postal code*</label>
                                <div class="col-sm-4">
                                    {{form.postcode}}
                                    {{ form.postcode.errors.as_text }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName"></label>
                                <label class="checkbox col-sm-4">
                                    <input name="Ship_to_this_address" type="checkbox" class="checkbox" value="option1" id="inlineCheckbox1"/>Ship to this address
                                </label>

                            </div> 
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="right blue_btn">Continue</button>
                                </div>
                            </div>
                        </div>
                    </form>



                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 white">
            <h1 class="pink">Your checkout progress</h1>
            <hr class="line"/>

            <div class="address">
                <span class="rnd">1</span> 
                <p class="adrs">
                    <span>Billing Address</span> 
                </p>

            </div>

            <div class="address">
                <span class="rndn">2</span> 
                <p class="adrs">
                    <span>Shipping Address</span></p>
            </div>

            <!--            <div class="address">
                            <span class="rndn">1</span> 
                            <p class="adrs">
                                <span>Shipping Method</span></p>
                        </div>-->

            <div class="address">
                <span class="rndn">1</span> 
                <p class="adrs">
                    <span>Payment Details</span></p>
            </div>

            <div class="address">
                <span class="rndn">1</span> 
                <p class="adrs">
                    <span>Order Review</span></p>
            </div>

        </div>
    </div>




</div>
{% endblock %}
{% block extra_js %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script src="{% static 'js/bootstrap-checkbox.js' %}"></script>
<script type="text/javascript">
        $(document).ready(function () {
$(".qtn").click(function() {
$(".qtn_box").toggle(500);
});
        $('input[type="checkbox"]').checkbox();
});

</script>
{% endblock %}
