{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load product_tags basket_tags access_tags %}
{% load purchase_info_tags i18n %}


{% block coverphoto %}
{% endblock %}

{% block content %}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <h2 class="heading_in col-xs-12">Check out > Error</h2>
        <h3 class="heading_sub col-xs-12"></h3>


        <div class="col-xs-12 col-sm-8 col-lg-9">
            
            <div class="widget">
                <div class="widget-body">
                    <div class="form-horizontal">
                        <h2 class="left_head no-pad">Payment status</h2> 
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-3 control-label no-margin"> {{object.respmsg}}</label>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <h2 class="left_head no-pad">Response Status</h2> 
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-3 control-label no-margin"> {{object.raw_response}}</label>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <h2 class="left_head no-pad">Response Time</h2> 
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-3 control-label no-margin"> {{object.response_time}}</label>

                        </div>
                        <h2 class="left_head no-pad">Date</h2> 
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-3 control-label no-margin"> {{object.date_created}}</label>

                        </div>
                        <h2 class="left_head no-pad">Message Status ID</h2> 
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-3 control-label no-margin"> {{object.comment1}}</label>

                        </div>
                        
                        <h2 class="left_head no-pad">Amount</h2> 
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-3 control-label no-margin"> {{object.amount}}</label>
                        </div>                        
                    </div>
                </div>
            </div>
           
            
           
        </div>        
    </div>
</div>
{% endblock %}
{% block extra_js %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script src="{% static 'js/bootstrap-checkbox.js' %}"></script>
<script type="text/javascript">
                                    $(document).ready(function() {
                                $(".qtn").click(function() {
                                    $(".qtn_box").toggle(500);
                                });
                                $('input[type="checkbox"]').checkbox();
                            });
</script>
{% endblock %}