{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load product_tags basket_tags access_tags %}
{% load purchase_info_tags i18n %}


{% block coverphoto %}
{% endblock %}


{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-xs-12 head_space">
        <h2 class="heading_in col-xs-12">Check out > payment details</h2>
<h3 class="heading_sub col-xs-12"></h3>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="widget">
                <div class="widget-body">
                    <form action="{% url 'checkout:preview' %}" name="billing-address-form" method="POST">{% csrf_token %}
                        <div class="form-horizontal margin">

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName"> Card Number</label>
                                <div class="col-sm-4">
                                    {{bankcard_form.number }}
                                    {{ bankcard_form.number.errors.as_text }}
                                </div>


                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName">Start Month</label>
                                <div class="col-sm-6">
                                    {{bankcard_form.start_month }}
                                    {{ bankcard_form.start_month.errors.as_text }}
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName">Expiry Month</label>
                                <div class="col-sm-6">
                                    {{bankcard_form.expiry_month }}
                                    {{ bankcard_form.expiry_month.errors.as_text }}
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName"> CCV</label>
                                <div class="col-sm-4">
                                    {{bankcard_form.ccv }}
                                    {{ bankcard_form.ccv.errors.as_text }}
                                </div>


                            </div>
                            <div style='display:none;'>
                                {% include "partials/form_fields.html" with form=billing_address_form %}
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="right blue_btn">Continue</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 white">
            <h1 class="pink">Your checkout progress</h1>
            <hr class="line"/>

            <div class="address">
                <span class="rnd">1</span> 
                <p class="adrs">
                    <span>Billing Address</span> 
                    |   <a href="{% url 'checkout:billing-address' %}">Change </a><br/> 
                    {{billing_address}}
                </p>

            </div>

            <div class="address">
                <span class="rnd">1</span> 
                <p class="adrs">
                    <span>Shipping Address</span> 
                    |   <a href="{% url 'checkout:shipping-address' %}">Change </a><br/> 
                    {{shipping_address}}
                </p>

            </div>

            <div class="address">
                <span class="rnd">2</span> 
                <p class="adrs">
                    <span>Payment Details</span>
                </p>
            </div>

<!--            <div class="address">
                <span class="rndn">1</span> 
                <p class="adrs">
                    <span>Shipping Method</span></p>
            </div>-->

            <div class="address">
                <span class="rndn">1</span> 
                <p class="adrs">
                    <span>Order Review</span></p>
            </div>

        </div>
    </div>

</div>
{% endblock %}
{% block extra_js %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script src="{% static 'js/bootstrap-checkbox.js' %}"></script>
<script type="text/javascript">
        $(document).ready(function () {
$(".qtn").click(function() {
$(".qtn_box").toggle(500);
});
        $('input[type="checkbox"]').checkbox();
});

</script>
{% endblock %}
