{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load product_tags basket_tags access_tags %}
{% load purchase_info_tags i18n %}


{% block coverphoto %}
{% endblock %}


{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <h2 class="heading_in col-xs-12 head_space">Check out > Order review</h2>
        <h3 class="heading_sub col-xs-12"></h3>

        <div class="col-xs-12 col-sm-8 col-lg-9">
            <div class="widget">

                <div class="widget-body">
                    <div class="form-horizontal">
                        <h2 class="left_head no-pad">Billing address</h2>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin"> First name </label>
                            <label for="empName" class="col-sm-6 control-label blue no-margin">{{billing_address.first_name}}</label>

                        </div>
                        <div class="form-group no-margin">
                            <label for="branch" class="col-sm-2 control-label no-margin "> Last name </label>
                            <label for="empName" class="col-sm-6 control-label blue no-margin">{{billing_address.last_name}} </label>

                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Address  </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{billing_address.last_name}}</label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">City  </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{billing_address.line4}}</label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Province </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{billing_address.state}}</label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Postal code </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{billing_address.postcode}}</label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Country </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{billing_address.country}}</label>
                        </div>

                        <hr class="line2"/>
                    </div>
                </div>
            </div>
            <div class="widget">

                <div class="widget-body">
                    <div class="form-horizontal">
                        <h2 class="left_head no-pad">Shipping address</h2>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin"> First name </label>
                            <label for="empName" class="col-sm-6 control-label blue no-margin">{{shipping_address.first_name}}</label>

                        </div>
                        <div class="form-group no-margin">
                            <label for="branch" class="col-sm-2 control-label no-margin "> Last name </label>
                            <label for="empName" class="col-sm-6 control-label blue no-margin">{{shipping_address.last_name}} </label>

                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Address  </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{shipping_address.last_name}}</label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">City  </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{shipping_address.line4}}</label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Province </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{shipping_address.state}}</label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Postal code </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{shipping_address.postcode}}</label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Country </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{shipping_address.country}}</label>
                        </div>
                        <hr class="line2"/>
                    </div>
                </div>
            </div>
            <div class="widget">

                <div class="widget-body">
                    <div class="form-horizontal">
                        <h2 class="left_head no-pad">Product Details</h2>
                        {% for product in request.basket.lines.all%}
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-3 control-label no-margin">{{ product.description|default:""|striptags|truncatechars:200  }}</label>
                            <label for="empName" class="col-sm-6 control-label blue no-margin">{% if product.is_tax_known %}
                                Price: {{ product.unit_price_incl_tax|currency:product.price_currency }}<br/>
                                {% else %}
                                Price: {{ product.unit_price_excl_tax|currency:product.price_currency }}
                                <br/>{% endif %}{% if not product.color == "None" %}Color: {{product.color}}<br/>{% endif %}{% if not product.size == "None" %} Size: {{product.size}}{% endif %}</label>
                         </div>
                        {% endfor %}
                        <hr class="line2"/>
                    </div>
                </div>
            </div>
            
            <div class="widget">

                <div class="widget-body">
                    <div class="form-horizontal">
                        <h2 class="left_head no-pad">Shipping method</h2>
                        {% for product in request.basket.lines.all%}
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-3 control-label no-margin">{{ product.description|default:""|striptags|truncatechars:200  }}</label>
                            <label for="empName" class="col-sm-6 control-label blue no-margin">Free shipping</label>
                        </div>
                        {% endfor %}

                        <hr class="line2"/>
                    </div>
                </div>
            </div>
            
            <div class="widget">

                <div class="widget-body">
                    <div class="form-horizontal">
                        <h2 class="left_head no-pad">Payment method</h2>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-3 control-label no-margin"> Payment </label>
                            <label for="empName" class="col-sm-6 control-label blue no-margin">credit card 1234**** </label>

                        </div>
                        <div class="form-group no-margin">
                            <label for="branch" class="col-sm-3 control-label no-margin "> Payment </label>
                            <label for="empName" class="col-sm-6 control-label blue no-margin">paypal account 1234****</label>

                        </div>
                        <div class="form-group no-margin">
                            <label for="branch" class="col-sm-3 control-label no-margin "> Total amount </label>
                            <label for="empName" class="col-sm-6 control-label blue no-margin">
                                 {% if order_total.is_tax_known %}
                            {{ order_total.incl_tax|currency:basket.currency }}
                            {% else %}
                            {{ order_total.excl_tax|currency:basket.currency }}
                            {% endif %}
                            </label>

                        </div>
                     
                            

                        <hr class="line2"/>
                    </div>
                </div>
            </div>
            <form method="post" action="{% url 'checkout:preview' %}" id="place_order_form">
                {% csrf_token %}
                <input type="hidden" name="action" value="place_order" />

                {% comment %}
                When submitting sensitive data on the payment details page (eg a bankcard)
                we don't want to save the data and so we pass the bound form to the preview
                template and render it in a hidden div.  Then the payment information will
                get re-submitted when the user confirms the order.
                {% endcomment %}
                <div style="display:none">            
                    {% block hiddenforms %}
                    {{ bankcard_form.as_p }}
                    {{ billing_address_form.as_p }}
                    {% endblock %}
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="right blue_btn">Finish your order</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-3 col-md-3 white">
            <h1 class="pink">Your checkout progress</h1>
            <hr class="line"/>

            <div class="address">
                <span class="rnd">1</span> 
                <p class="adrs">
                    <span>Billing Address</span> 
                    |   <a href="{% url 'checkout:billing-address' %}">Change </a><br/> 
                    {{billing_address}}
                </p>
            </div>
            <div class="address">
                <span class="rnd">2</span> 
                <p class="adrs">
                    <span>Shipping Address</span>
                    <a href="{% url 'checkout:shipping-address' %}">Change </a><br/> 
                    {{shipping_address}}
                </p>
            </div>

            <div class="address">
                <span class="rnd">3</span> 
                <p class="adrs">
                    <span>Payment Details</span>
                    <a href="{% url 'checkout:payment-details' %}">Change</a><br/> 
                
                </p>
            </div>
            <div class="address">
                <span class="rnd">4</span> 
                <p class="adrs">
                    <span>Order Review</span></p>
            </div>

        </div>
    </div>

</div>

{% endblock %}