{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load product_tags basket_tags access_tags %}
{% load purchase_info_tags i18n %}
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->    

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <h2 class="heading_in col-xs-12">Check out > Billing information</h2>

        <div class="col-lg-9 col-md-9">
            <div class="widget">

                <div class="widget-body">
                    <form action="{% url 'customer:address-create' %}" method="post">{% csrf_token %}
                        <div class="form-horizontal margin">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName"> First name* </label>
                                <div class="col-sm-4">
                                    {{ form.first_name }}
                                    {{ form.first_name.errors.as_text }}
                                </div>
                                <label class="col-sm-2 control-label" for="branch"> Last name* </label>
                                <div class="col-sm-4">
                                    {{ form.last_name }}
                                    {{ form.last_name.errors.as_text }}
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName">Email* </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="empName" value="{{ user.email }}" id="empName">
                                </div>
                                <div class="col-sm-12">
                                    <label class="col-sm-2" for="empName"> </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName">Address* </label>
                                <div class="col-sm-6">
                                    {{ form.line1 }}
                                    {{ form.line1.errors.as_text }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName">Country* </label>
                                <div class="col-sm-4">
                                    {{ form.country }}
                                    {{ form.country.errors.as_text }}
                                </div>
                                <label class="col-sm-2 control-label text-right" for="empName">City*</label>
                                <div class="col-sm-4">
                                    {{ form.line4 }}
                                    {{ form.line4.errors.as_text }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName">State/<Br/>Province*</label>
                                <div class="col-sm-4">
                                    {{ form.state }}
                                    {{ form.state.errors.as_text }}
                                </div>
                                <label class="col-sm-2 control-label" for="empName">Zip/<Br/>Postal code*</label>
                                <div class="col-sm-4">
                                    {{ form.postcode }}
                                    {{ form.postcode.errors.as_text }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName">Telephone</label>
                                <div class="col-sm-4">
                                    {{ form.phone_number }}
                                    {{ form.phone_number.errors.as_text }}
                                </div>
                            </div>
                            <input type="hidden" value="/checkout/shipping-address/" name="addr_next">
                            <input id="id_is_default_for_shipping" name="is_default_for_shipping" type="hidden" value="1">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="right blue_btn">save</button>
                                </div>
                            </div>
                    </form>
                            <hr class="line2"/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName"></label>
                                <label class="checkbox col-sm-4">
                                    <input type="checkbox" class="checkbox" value="option1" id="inlineCheckbox1"/>Remember my details
                                </label>

                            </div>                           

                            <div class="form-group">
                                <label for="empName" class="col-sm-2 control-label">Password* </label>
                                <div class="col-sm-6">
                                    <input type="text" id="empName" value="*****************" name="empName" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="empName" class="col-sm-2 control-label">Re-type* </label>
                                <div class="col-sm-6">
                                    <input type="text" id="empName" value="*****************" name="empName" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <form action="{% url 'checkout:shipping-address' %}?next=/checkout/shipping-method/" method="post" name = "new_shipping_address" id="new_shipping_address">{% csrf_token %}
                                <input type="hidden" value="/checkout/shipping-address/" name="addr_next">
                                <input type="hidden" name="action" value="ship_to">
                                <input id="id_is_default_for_shipping" name="is_default_for_shipping" type="hidden" value="1">
                                <div class="col-sm-12">
                                    <button type="submit" class="right blue_btn">Continue</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-3 white">
            <h1 class="pink">Your checkout progress</h1>
            <hr class="line"/>

            <div class="address">
                <span class="rnd">1</span> 
                <p class="adrs">            
                    <span>Billing Address</span> 
                    {% if addresses %}
                    {% for address in addresses %}
                    {% if address.is_default_for_billing %}
                    |   <a href="{% url 'customer:address-detail' pk=address.id %}">Change </a><br/> 
                    {% endif %}
                    {% endfor %}
                    {% endif %}            

                    {% for field in addresses.0.active_address_fields %}
                    {{ field }}{% if not forloop.last %}<br>{% endif %}
                    {% endfor %} 
                </p>
            </div>

            <div class="address">
                <span class="rnd">2</span> 
                <p class="adrs">
                    <span>Shipping Address</span>  
                    {% if addresses %}
                    {% for address in addresses %}
                    {% if address.is_default_for_shipping %}
                    |   <a href="{% url 'customer:address-detail' pk=address.id %}">Change </a><br/> 
                    {% for field in address.active_address_fields %}
                    {{ field }}{% if not forloop.last %}<br>{% endif %}
                    {% endfor %} 
                    {% endif %}
                    {% endfor %}
                    {% endif %}            
                    
                    
                </p>
            </div>

            <div class="address">
                <span class="rndn">1</span> 
                <p class="adrs">
                    <span>Shipping Method</span></p>
            </div>

            <div class="address">
                <span class="rndn">1</span> 
                <p class="adrs">
                    <span>Payment Method</span></p>
            </div>

            <div class="address">
                <span class="rndn">1</span> 
                <p class="adrs">
                    <span>Order Review</span></p>
            </div>

        </div>
    </div>




</div>
{% endblock %}
{% block extra_js %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script src="{% static 'js/bootstrap-checkbox.js' %}"></script>
<script type="text/javascript">
   $(document).ready(function () {
$(".qtn").click(function() {
$(".qtn_box").toggle(500);
});
   $('input[type="checkbox"]').checkbox();
});



</script>
{% endblock %}