{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load product_tags basket_tags access_tags %}
{% load purchase_info_tags i18n %}



{% block coverphoto %}
{% endblock %}


{% block content %}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <h2 class="heading_in col-xs-12 head_space">Check out > Order Confirmation</h2>
        <h3 class="heading_sub col-xs-12"></h3>


        <div class="col-xs-12 col-sm-8 col-lg-9">
            <div class="widget">
                {% if order.billing_address %}
                <div class="widget-body">
                    <div class="form-horizontal">
                        <h2 class="left_head no-pad">Billing address</h2>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin"> First name </label>
                            <label for="empName" class="col-sm-6 control-label blue no-margin">{{order.billing_address.first_name}} </label>

                        </div>
                        <div class="form-group no-margin">
                            <label for="branch" class="col-sm-2 control-label no-margin "> Last name </label>
                            <label for="empName" class="col-sm-6 control-label blue no-margin">{{order.billing_address.last_name}} </label>

                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Email </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{order.billing_address.email}}  </label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Address  </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{order.billing_address.line1}} </label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">City  </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{order.billing_address.line4}}</label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Province </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{order.billing_address.state}} </label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Postal code </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{order.billing_address.postcode}} </label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Country </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{order.billing_address.country}} </label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Telephone  </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{order.billing_address.phone_number}} </label>
                        </div>
                        <hr class="line2"/>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="widget">
                {% if order.shipping_address %}
                <div class="widget-body">
                    <div class="form-horizontal">
                        <h2 class="left_head no-pad">Shipping address</h2>

                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin"> First name </label>
                            <label for="empName" class="col-sm-6 control-label blue no-margin">{{order.shipping_address.first_name}} </label>

                        </div>
                        <div class="form-group no-margin">
                            <label for="branch" class="col-sm-2 control-label no-margin "> Last name </label>
                            <label for="empName" class="col-sm-6 control-label blue no-margin">{{order.shipping_address.last_name}} </label>

                        </div>
                        {% if order.shipping_address.email %}
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Email </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{order.shipping_address.email}} </label>
                        </div>
                        {% endif %}
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Address  </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{order.shipping_address.line1}}</label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">City  </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{order.shipping_address.line4}}</label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Province </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{order.shipping_address.state}}</label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Postal code </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{order.shipping_address.postcode}} </label>
                        </div>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Country </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{shipping_address.country}}  </label>
                        </div>
                        {% if order.shipping_address.phone_number %}
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-2 control-label no-margin">Telephone  </label>
                            <label for="empName" class="col-sm-4 control-label blue no-margin">{{order.shipping_address.phone_number}} </label>
                        </div>
                        {% endif %}
                        <hr class="line2"/>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="widget">

                <div class="widget-body">
                    <div class="form-horizontal">
                        <h2 class="left_head no-pad">Product Details</h2>
                        {% for product in order.lines.all%}
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-3 control-label no-margin">{{ product.description|default:""|striptags|truncatechars:200  }}</label>
                            <label for="empName" class="col-sm-6 control-label blue no-margin">{% if product.is_tax_known %}
                                Price: {{ product.unit_price_incl_tax|currency:order.currency }}<br/>
                                {% else %}
                                Price: {{ product.unit_price_excl_tax|currency:order.currency }}
                                <br/>{% endif %}{% if not product.color == "None" %}Color: {{product.color}}<br/>{% endif %}{% if not product.size == "None" %} Size: {{product.size}}{% endif %}</label>
                         </div>
                        {% endfor %}

                        <hr class="line2"/>
                    </div>
                </div>
            </div>
            
            
            
            {% if order.shipping_method %}
            <div class="widget">

                <div class="widget-body">
                    <div class="form-horizontal">
                        <h2 class="left_head no-pad">Shipping method</h2> 
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-3 control-label no-margin">{{ order.shipping_method }}</label>

                        </div>

                        <hr class="line2"/>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="widget">

                <div class="widget-body">
                    <div class="form-horizontal">
                        <h2 class="left_head no-pad">Payment method</h2>
                        <div class="form-group no-margin">
                            <label for="empName" class="col-sm-3 control-label no-margin"> Payment </label>{% for source in order.sources.all %}
                            <p>
                                {% if source.reference %}
                                {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name reference=source.reference %}
                                Allocation of {{ amount }} from type {{ type }} (reference: {{ reference }})
                                {% endblocktrans %}
                                {% else %}
                                {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name %}
                                Allocation of {{ amount }} from type {{ type }}
                                {% endblocktrans %}
                                {% endif %}
                            </p>
                            {% empty %}
                            <p>
                                {% trans "No payment was required for this order." %}
                            </p>
                            {% endfor %}

                        </div>


                        <hr class="line2"/>
                    </div>
                </div>
            </div>
            {% block place_order %}
            <form method="post" action="{% url 'checkout:preview' %}" id="place_order_form">
                {% csrf_token %}
                <input type="hidden" name="action" value="place_order" />

                {% comment %}
                When submitting sensitive data on the payment details page (eg a bankcard)
                we don't want to save the data and so we pass the bound form to the preview
                template and render it in a hidden div.  Then the payment information will
                get re-submitted when the user confirms the order.
                {% endcomment %}
                <div style="display:none">            
                    {% block hiddenforms %}
                    {{ bankcard_form.as_p }}
                    {{ billing_address_form.as_p }}
                    {% endblock %}
                </div>
                {% if show_tax_separately %}
                <tr>
                    <th colspan="2">&nbsp;</th>
                </tr>
                <tr>
                    <th class="total">{% trans "Order tax" %}</th>
                    <th class="total align-right">
                        {{ order.total_tax|currency:order.currency }}
                    </th>
                </tr>
                {% endif %}
                {% block post_order_action_totals %}
                {% with actions=order.post_order_actions %}
                {% if actions %}
                <tr>
                    <th colspan="2">&nbsp;</th>
                </tr>
                <tr>
                    <th colspan="2"><h3>{% trans "Post order actions" %}</h3></th>
                </tr>
                {% for action in order.post_order_actions %}
                <tr>
                    <td class="total" colspan="2"><p>{{ action.message }}</p></td>
                </tr>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% endblock post_order_action_totals %}

                {% block order_total %}
                <tr>
                    <th colspan="2">&nbsp;</th>
                </tr>
                <tr>
                    <td class="total"><h3>{% trans "Order total" %}</h3></td>
                    <td class="total align-right"><h3 class="price_color">{{ order.total_incl_tax|currency:order.currency }}</h3></td>
                </tr>
                {% endblock order_total %}
                <div class="form-group">
          
                      <div class="col-sm-12">
                        <button type="button" onclick="location.href='{% url 'product-buy' %}'" class="right blue_btn">Continue shopping</button>
                    </div>
                </div>
            </form>
            {% endblock place_order %}
        </div>        
    </div>
</div>
{% endblock %}
{% block extra_js %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script src="{% static 'js/bootstrap-checkbox.js' %}"></script>
<script type="text/javascript">
                                    $(document).ready(function() {
                                $(".qtn").click(function() {
                                    $(".qtn_box").toggle(500);
                                });
                                $('input[type="checkbox"]').checkbox();
                            });
</script>
{% endblock %}