{% extends "indorso_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block coverphoto %}
{% endblock %}

<!-- Main jumbotron for a primary marketing message or call to action -->
{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">

        {% include "champions/dashboard/menu/submenu.html" %}

        <div class="col-xs-12 col-sm-8 col-lg-9">
            <div class="widget">
                <div class="widget-body">


                    <div class="message">Your update was successful.</div>


                    <div class="form-horizontal padding-left">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName"> First name* </label>
                            <label class="col-sm-3 control-label blue" for="empName" id='firstname_id'>{{request.user.first_name}}    </label>
                            {% ifequal request.user.first_name '' %}<label class="col-sm-4 control-label blue" for="empName"><a href="#" onclick="javascript:FirstName()">Add</a> </label>{% endifequal%}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="branch"> Last name* </label>
                            <label class="col-sm-3 control-label blue" for="empName" id='lastname_id'>{{request.user.last_name}}    </label>
                            {% ifequal request.user.last_name '' %}<label class="col-sm-4 control-label blue" for="empName"><a href="#" onclick="javascript:LastName()">Add</a> </label>{% endifequal%}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="branch"> Phone number </label>
                            <label class="col-sm-3 control-label blue" for="empName" id="phone">{{request.user.user_profile.phone_number}}</label>
                            <label class="col-sm-4 control-label blue" for="empName"><a href="#" onclick="javascript:PhoneEdit()">{% if request.user.user_profile.phone_number %}Edit{% else %}Add{% endif %}</a> </label>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="branch"> Skype ID </label>
                            <label class="col-sm-3 control-label blue" for="empName" id="skype">{{request.user.user_profile.skype_id}}</label>
                            <label class="col-sm-4 control-label blue" for="empName"><a href="#" onclick="javascript:SkypeEdit()">{% if request.user.user_profile.skype_id %}Edit{% else %}Add{% endif %}</a> </label>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName">Email* </label>
                            <label class="col-sm-4 control-label blue" for="empName">{{request.user.email}}    </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName">Password* </label>
                            <label class="col-sm-3 control-label blue" for="empName">************** </label>
                            <label class="col-sm-4 control-label blue" for="empName"><a href="{% url 'change-password-user' %}" >Edit</a> </label>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName">Store name*</label>
                            <label class="col-sm-3 control-label blue" for="empName">{{request.user.user_profile.storename}}</label>

                            <label class="col-sm-4 control-label blue" for="empName"><a href="#" onclick="javascript:StoreStorename()">Edit</a> </label>
                        </div>

                        {% if request.user.user_profile.type == "Innovator" %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName">Company website*</label>
                            <label class="col-sm-3 control-label blue" for="empName">{{request.user.user_profile.website}}</label>

                            <label class="col-sm-4 control-label blue" for="empName"><a href="#" onclick="javascript:WebsiteEdit()">Edit</a> </label>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName">Image </label>
                            <div class="col-sm-3">

                                {% if request.user.user_profile.image %}  <img src="{{MEDIA_URL}}{{request.user.user_profile.image}}" height="85" width="85">{% endif %}


                            </div>                        

                            <label class="col-sm-4 control-label blue" for="empName"><a href="#" onclick="javascript:ProfileStore()">{% if request.user.user_profile.image %}Edit{% else %}Add{% endif %}</a> </label>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName">Bio</label>
                            <label class="col-sm-3 control-label blue" for="empName">{{request.user.user_profile.bio|default:""|striptags|truncatechars:250}}</label>
                            <label class="col-sm-2 control-label blue" for="empName"><a href="#" onclick="javascript:ProfileBio()">{% if request.user.user_profile.bio %}Edit{% else %}Add{% endif %}</a> </label>
                        </div>

                    </div>
                    <div class="modal fade" id="store_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" >

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Storename</h4>
                                    <p id="store_error" style="color:red"></p>
                                </div>

                                <div class="modal-body">
                                    <input type='text' id="store_text_id" class="form-control" name="store_name" for="empName" value='{{request.user.user_profile.storename}}' style="width: 408px;">

                                </div>
                                <div class="modal-footer">
                                    <button id="store_save_id" type='button' class="right blue_btn" onclick="Store_Save()">Save</button>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="profile_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" >

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Profile Picture</h4>

                                </div>
                                <form action="{% url "account_profile"  %}" method="post" enctype="multipart/form-data">{% csrf_token %}

                                      <div class="modal-body">
                                        <input id="uploadField_id" type="file" name="uploadField" required>
                                    </div>
                                    <div class="modal-footer">
                                        <button  type='submit' class="right blue_btn" >Save</button>
                                    </div>                                
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="bio_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" >

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Profile Info</h4>
                                </div>         
                                <div class="modal-body">
                                    <textarea id="bio_id" class="form-control text">{{request.user.user_profile.bio}}</textarea>
                                </div>
                                <div class="modal-footer">
                                    <button id="store_save_id" type='button' class="right blue_btn" onclick="Bio_Save()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--POP FOR SKYPE-ID EDIT -->
                    <div class="modal fade" id="skypedit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" >
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Skype ID</h4>

                                </div>
                                <div class="modal-body">
                                    <input type='text' id="skype_id" class="form-control" name="store_name" for="empName" value='{{request.user.user_profile.skype_id}}' style="width: 408px;">

                                </div>
                                <div class="modal-footer">
                                    <button id="store_save_id" type='button' class="right blue_btn" onclick="SkypeIDEdit()">Save</button>
                                </div>                                

                            </div>
                        </div>
                    </div>
                    <!--END POP FOR SKYPE-ID EDIT -->
                    <div class="modal fade" id="phoneedit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Phone Number</h4>

                                </div>
                                <div class="modal-body">
                                    <input type='text' id="phone_number" class="form-control" name="store_name" for="empName" value='{{request.user.user_profile.phone_number}}'>

                                </div>
                                <div class="modal-footer">
                                    <button id="store_save_id" type='button' class="right blue_btn" onclick="PhoneNUmberEdit()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--POP FOR PHONE NUMBER EDIT -->
                    <div class="modal fade" id="website_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" >
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">WebSite !</h4>

                                </div>
                                <div class="form-horizontal ">
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <input type='text' id="website" class="form-control" name="store_name" for="empName" value='{{request.user.user_profile.website}}' style="width: 408px;">


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-11">
                                            <button id="store_save_id" type='button' class="right blue_btn" onclick="WebsiteUrlEdit()">Save</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END  PHONE NUMBER EDIT POPUP -->
                    <!--POP FOR PHONE NUMBER EDIT -->
                    <div class="modal fade" id="firstname" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" >
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">FirstName</h4>

                                </div>
                                <div class="form-horizontal ">
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <input type='text' id="first_name" class="form-control" name="store_name" for="empName" value='{{request.user.user_profile.first_name}}' style="width: 408px;">


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-11">
                                            <button id="store_save_id" type='button' class="right blue_btn" onclick="First_Name()">Save</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="lastname" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" >
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">LastName</h4>

                                </div>
                                <div class="form-horizontal ">
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <input type='text' id="last_name" class="form-control" name="store_name" for="empName" value='{{request.user.user_profile.website}}' style="width: 408px;">


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-11">
                                            <button id="store_save_id" type='button' class="right blue_btn" onclick="Last_Name()">Save</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--END  PHONE NUMBER EDIT POPUP -->

                </div>
            </div>
        </div>
    </div>
</div> 

<script type="text/javascript">


            function StoreStorename() {
            $('#store_popup').modal('show');
            }
    function ProfileStore() {
    $('#profile_popup').modal('show');
    }

    function ProfileBio() {
    $('#bio_popup').modal('show');
    }
    function SkypeEdit() {
    $('#skypedit').modal('show');
    }
    function PhoneEdit() {
    $('#phoneedit').modal('show');
    }
    function WebsiteEdit() {
    $('#website_id').modal('show');
    }
    function FirstName() {
    $('#firstname').modal('show');
    }
    function LastName() {
    $('#lastname').modal('show');
    }

    Store_Save = function(){
    data = {}
    data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
            data['storename'] = $("#store_text_id").val()
            data['user_id'] = {{request.user.id}}
    $.ajax({
    type: "POST",
            url:'/accounts/storename/',
            data:data,
            success: function(data) {
            $(".close").click();
                    if (data['status_su']){
            $(".message").show().fadeOut(5000);
                    location.reload();
            }
            },
            error: function(response){
            console.log(response);
                    errors = JSON.parse(response.responseText);
                    $.each(errors, function(indexes, values) {
                    $("#store_error").html(values);
                    });
            },
            dataType: "json"
    });
    }


    Bio_Save = function(){
    data = {}
    data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
            data['biofield'] = $("#bio_id").val();
            data['user_id'] = {{request.user.id}}
    $.ajax({
    type: "POST",
            url:'/accounts/updatebio/',
            data:data,
            success: function(data) {
            $(".close").click();
                    if (data['status_su']){
            location.reload();
                    $(".message").show().fadeOut(2500);
            }
            },
            dataType: "json"
    });
    }

    SkypeIDEdit = function(){
    data = {}
    data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
            data['skype_id'] = $("#skype_id").val()
            data['user_id'] = {{request.user.id}}
    $.ajax({
    type: "POST",
            url:'/accounts/skypeid/',
            data:data,
            success: function(data) {
            $(".close").click();
                    if (data['status_su']){
            $("#skype").text(data['skype']);
                    $(".message").show().fadeOut(5000);
            }

            },
            dataType: "json"
    });
    }
    PhoneNUmberEdit = function(){
    data = {}
    data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
            data['phone_number'] = $("#phone_number").val()
            data['user_id'] = {{request.user.id}}
    $.ajax({
    type: "POST",
            url:'/accounts/phone_number/',
            data:data,
            success: function(data) {
            $(".close").click();
                    if (data['status_su']){
            console.log(data['phone_number']);
                    $("#phone").text(data['phone_number']);
                    $(".message").show().fadeOut(5000);
            }

            },
            dataType: "json"
    });
    }
    WebsiteUrlEdit = function(){
    data = {}
    data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
            alert($("#website").val());
            data['website'] = $("#website").val()
            data['user_id'] = {{request.user.id}}
    $.ajax({
    type: "POST",
            url:'/accounts/website/',
            data:data,
            success: function(data) {
            $(".close").click();
                    if (data['status_su']){
            location.reload();
                    $(".message").show().fadeOut(2500);
            }

            },
            dataType: "json"
    });
    }
    First_Name = function(){
    data = {}
    data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
            data['first_name'] = $("#first_name").val()
            data['user_id'] = {{request.user.id}}
    $.ajax({
    type: "POST",
            url:'/accounts/first_name/',
            data:data,
            success: function(data) {
            $(".close").click();
                    if (data['status_su']){
            $("#firstname_id").text(data['firstname']);
                    $(".message").show().fadeOut(2500);
            }

            },
            dataType: "json"
    });
    }
    Last_Name = function(){
    data = {}
    data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
            data['last_name'] = $("#last_name").val()
            data['user_id'] = {{request.user.id}}
    $.ajax({
    type: "POST",
            url:'/accounts/last_name/',
            data:data,
            success: function(data) {
            $(".close").click();
                    if (data['status_su']){
            $("#lastname_id").text(data['lastname']);
                    $(".message").show().fadeOut(2500);
            }

            },
            dataType: "json"
    });
    }
</script>
{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(e) {
    $("#account_settings").addClass("blue");
            $('#page_title').html($("#account_settings").text());
            $('#phone_number').keypress(function(e){
    var a = [];
            var k = e.which;
            if (k > 31 && (k < 48 || k > 57))
            return false;
            return true;
    });
    });
</script>
{% endblock %}
{% endblock %}