{% extends "indorso_base.html" %}
{% load staticfiles %}
{% load purchase_info_tags i18n %}
{% load currency_filters %}
{% load endless %}

{% block coverphoto %}
{% endblock %}

{% block content %}
{% with request.user.user_profile.champion_order_lines.all as products %}
{% paginate products %}
{% get_pages %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">        

        {% include "champions/dashboard/menu/submenu.html" %}

        <div class="col-xs-12 col-sm-12 col-lg-9">
            <div class="col-xs-12 col-sm-12 col-lg-12 ">
                {% if products %}
                <div class="col-xs-6 col-sm-6 col-lg-6 sort"></div> 

                <div class="col-xs-6 col-sm-6 col-lg-6 text-right sort">                    
                    <a href="{% if pages.previous.url %}{{ pages.previous.url }}{% else %}{{request.path}}{% endif %}"> <i class="fa fa-chevron-left"></i> </a> {{pages.current.number}} of {{ pages.last.number }} <a href="{% if pages.next.url %}{{ pages.next.url }}{% endif %}"> <i class="fa fa-chevron-right"></i></a>
                </div>

                <div class="col-xs-12 col-sm-12 col-lg-12 no-pad">
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-head">
                        <span>Date</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-head">
                        <span>Product</span>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-lg-1 tab-head">
                        <span>Qty</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-head">
                        <span>Price</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-head">
                        <span>Earnings</span>
                    </div>
                    
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-head">
                        <span>&nbsp;</span>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-lg-1 tab-head">
                        <span>&nbsp;</span>
                    </div>

                </div>

                {% for order in products %}
                <div class="col-xs-12 col-sm-12 col-lg-12 no-pad t-border">
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-in">
                        <span>{{order.order.date_placed|date:"M/d/Y"}}</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-in">
                        <span>{{order.product}}</span>
                    </div>



                    <div class="col-xs-1 col-sm-1 col-lg-1 tab-in">
                        <span>{{order.quantity}}</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-in">  
                        {% purchase_info_for_product request order.product as session %}

                        {% if session.price.excl_tax == 0 %}
                        <span>$00,000,00</span>
                        {% elif session.price.is_tax_known %}
                        <span>{{ session.price.incl_tax|currency:session.price.currency }}</span>            
                        {% else %}
                        <span>{{ session.price.excl_tax|currency:session.price.currency }}</span>
                        {% endif %}


                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-2 tab-in">
                        <span>{{order.get_order_earn|currency:session.price.currency}}</span>
                    </div>
                    
                  
                </div>
                {% endfor %}
                {% else %}
                <div class="col-xs-6 col-sm-12 col-lg-6 sort">
                    <span > No transactions found!</span>
                </div> 
                <div class="col-xs-6 col-sm-6 col-lg-6 sort" >
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div> 
{% endwith %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $("#transactions").addClass("blue");
    $('#page_title').html($("#transactions").text());
</script>
{% endblock %}