{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load endless %}

{% block coverphoto %}
{% endblock %}

{% load purchase_info_tags champion_tags i18n %}
{% load category_tags %}
{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">

        <div class="col-xs-12 head_title">
            <h3 class="heading_sub col-xs-12">All Transactions</h3>
            <h3 class="heading_sub col-xs-12"></h3>
        </div>

        
         {% include page_template %}     
 
        
    </div>
</div> 
{% endblock %}

{% block extra-pop-up %}
<!-- /container -->
<div class="modal fade" id="confirm-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action='' method='post' id='delete-form'>{% csrf_token %}
                <div class="modal-header">
                    <input type='hidden' name='license_id' value='{{request.user.user_profile.id}}' id='license_id' >
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <br/><br/>
                    <br/>        <h4 class="modal-title redtxt" id="myModalLabel">Are you sure you want to delete this Indorsement ?</p>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="blue_btn pull-left col-sm-4">Yes</button>
                    <button class="right blue_btn col-sm-4" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{ block.super }}
<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>   
<script type='text/javascript'>    
$.endlessPaginate({paginateOnScroll: true});
    $(document).ready(function() {
        $("#user_dashboard").addClass("blue");
        $('#page_title').html($("#user_dashboard").text());
        $(".delete-button").click(function() {
            url = $(this).attr('href');
            $("#delete-form").attr("action", url)
        });
    });
</script>
{% endblock %}