{% load endless %}
{% load staticfiles thumbnail %}
{% load purchase_info_tags champion_tags i18n %}
{% load currency_filters %}
{% paginate 3 products %}
{% for product in products %} 
<div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="products dash-pro" >
        {% with image=product.primary_image %}
        {% thumbnail image.original "206x120"  crop="center" as thumb %}
        <img src="{{ thumb.url }}" >
        {% endthumbnail %}
        {% endwith %}
        <h3>{{ product.get_title|truncatewords:4 }}</h3>
        <p>{{ product.description|default:""|striptags|truncatechars:250 }}</p>
    </div>
    {% purchase_info_for_product request product as session %}
    {% if not session.availability.is_available_to_buy %}               
    <div class="dcost"><span class="left red">Out of stock <a href="{% url 'product-indorse-detail' product.id  %}">More info</a></span> <span class="right"><img src="{% static 'images/cross.png' %}"/></span></div>               
    {% else %}
    <div class="dcost"><span class="left green">In stock</span> <span class="right"><img src="{% static 'images/tick.png' %}"/></span></div>
    {% endif %}
    {% if session.price.excl_tax == 0 %}
    <div class="dcost"><span class="left">Selling price</span> <span class="right">$00,000,00</span></div>
    {% elif session.price.is_tax_known %}
    <div class="dcost"><span class="left">Selling price</span> <span class="right">{{ session.price.incl_tax|currency:session.price.currency }}</span></div>
    <span class="right"></span>            
    {% else %}
    <div class="dcost"><span class="left">Selling price</span> <span class="right">{{ session.price.excl_tax|currency:session.price.currency }}</span></div>
    {% endif %}
    {% if session.stockrecord.commision_price %}
    <div class="dcost"><span class="left">Earning per unit</span> <span class="right">{{product.champion_earn|currency:session.price.currency}}</span></div>                
    {% else %}
    <div class="dcost"><span class="left">Earning per unit</span> <span class="right">0</span></div>                
    {% endif %}                
    <div class="dcost"><span class="left">Units sold</span> <span class="right">{{ product|unit_sold:request.user.user_profile }}</span></div>
    <div class="dcost"><span class="left">Total earnings</span> <span class="right">${{ product|total_earnings:request.user.user_profile|floatformat:"00" }}</span></div>
    {% if not session.availability.is_available_to_buy %}
    <a class="linactive">See full details</a>
    {% else %}
    <a href="{% url 'product-indorse-detail' product.id  %}" class="lactive">See full details</a>
    {% endif %}
    <a href="{% url 'license-delete' product.id %}" data-toggle="modal" data-target="#confirm-popup" class="ractive red delete-button">Delete</a>
</div>
{% endfor %} {% show_more %}