{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load champion_tags %}
{% load currency_filters %}
{% load endless %}

{% block coverphoto %}
<form id="timeline_picture_form" name="timeline_picture_form" url='{% url "store-timeline-change" %}'>{% csrf_token %}
    <input type="hidden" id="champion" name="champion" value="{{champion.id}}">
    <input id="timeline_image_file" name="image" type="file" style="display:none;">
    <div class="cover_page" id="cover_page_id">
        
        <div class="cover-photo-container">
        {% if champion.timeline_image %}
                    <img id="cover-photo" src="{{champion.timeline_image.url}}">
        {% else %}   
                    <img id="cover-photo" src="{{STATIC_URL}}images/product.jpg">
        {% endif %}
        </div>
        {% if request.user.user_profile.id == champion.id %}
        <!--<button id='timeline_image' type="button" style="position: absolute;  margin-top: 5px; margin-left: 5px;z-index:1000"> <i class="fa fa-pencil-square-o"></i></button>-->
        <div class="edit-pro-cover" ><i class="fa fa-file-image-o"></i><br><span id="upload_text">Upload a Cover Photo</span></div>
        {% endif %}
        
    </div>
    
</form>
{% endblock %}


{% block mystore %}
<div class="dash" id="content-section">   
<div class="col-xs-12 col-sm-3"></div>
<div class="col-xs-12 col-sm-6">
      <div class="over-bg" ></div>
    <div  class="dash-follow">
        <a href="#content-section"><label>INDORSEMENTS </label><span>{{champion.get_total_indorsments_count}}</span></a>
        <a href="{% url 'my-follows' champion.storename %}#content-section"><label>FOLLOWING<span></span></label><span>{{champion.get_no_of_follows}}</span></a>
        <a href="{% url 'my-followers' champion.storename %}#content-section"><label>FOLLOWERS</label><span>{{champion.get_no_of_followers}}</span></a>  
        {% if request.user.user_profile.id == champion.id %}
        <a href="{% url 'my-earnings' champion.storename %}#content-section"><label>EARNINGS</label><span>${{champion.champion_total_earnings_balance|floatformat:"0"}}</span></a>
        {% endif %}
    </div> 
</div>
<div class="col-xs-12 col-sm-3 ">
     {% if request.user.user_profile.id == champion.id %}
     <button class="btn btn-default" id="editpro"> <i class="fa fa-pencil-square-o"></i> Edit Profile</button>
    
    <button     class="btn btn-primary" id="prosave"> <i class="fa fa-check-square"></i></button>
    <button     class="btn btn-default" id="procancel">  <i class="fa fa-times"></i></button>
    
    {% else %}
    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'champion_follows' %}">{% csrf_token %}
        <input type='hidden' value='{{champion.id}}' name='champ_id'>
        {% if champion.id|check_followed:request.user.user_profile.id %}
        <button class="follow-btn" data-hover="Unfollow">Following</button>
        {% else %}
        <button class="follow-btns">Follow</button>
        {% endif %}
    </form>
    {% else %}
    <button class="follow-btn" data-toggle="modal" data-target="#myModal">Follow</button>
    {% endif %}
{% endif %}
</div>
</div>
{% endblock %}  

{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-2-5">
            <form id="profile_picture_form" name="profile_picture_form" method='post' enctype="multipart/form-data" action='{% url "store-image-change" %}'>{% csrf_token %}
                <div class="profile" id="profile_photo_container">
                    {% if request.user.user_profile.id == champion.id %}
                    <input type="hidden" name="champion" value="{{champion.id}}">
                    <div class="edit-pro-profile" ><i class="fa fa-file-image-o"></i><br/><span>Upload a profile picture</span></div>
                    <!--<button id='profile_image' type="button" style="position: absolute; margin-left: 18px; left:5px;top:5px;"> <i class="fa fa-pencil-square-o"></i></button>--->
                    <input id="prof_image_file" name="image" type="file" style="display:none;">                
                    {% endif %}
                    {% if champion.image %}
                    {% thumbnail champion.image "170x170" crop="center" as thumb %}
                    <img src="{{ thumb.url }}" id="profile_photo">
                    {% endthumbnail %}
                    {% else %}
                     
                    <img src="{{STATIC_URL}}images/user.jpg" style="width:177px; height:177px">
                   
                    {% endif %}
                    <label id="proname">{{champion.storename}}</label>
                    <p id="probio">{{champion.bio|default:""|striptags|truncatechars:150}}</p>
                    <a href="{% url 'store-details' champion.storename %}">{{ request.META.HTTP_HOST }}{% url 'store-details' champion.storename %}</a>
                    {% if champion.link1 %}<a href="{{champion.link1 }}" id="link1">{{champion.link1 }}</a>{% else %}<a href="{{ request.path }}" id="link1">{{ request.get_host }}</a>{% endif %}
                    {% if champion.link2 %}<a href="{{champion.link1 }}" id="link2">{{champion.link2 }}</a>{% else %}<a href="{{ request.path }}" id="link2">{{ request.get_host }}</a>{% endif %}

                    
                </div></form>
        </div>


        <div class="col-xs-12 col-sm-8 col-lg-6-5">
<div class="over-bg"></div>
                    <div class="earnings"> 
                        <span class="balance">Earnings balance:     ${{request.user.user_profile.champion_total_earnings_balance|floatformat:"0"}}</span>
                        <a href="{% url 'champion-dashboard' %}" class="balance_link">Click here to see all transactions</a>
                        <p>You will receive all earnings associated with a particular transaction within 24 hours after the innovation has been shipped, and Indorso has received payment for the transaction . Earnings are either sent through a Paypal email transfer (If valid in your country), or a Bank Transfer. Please carefully input your detailes below accordingly. If you have any questions or concerns, please contact us a +1(519) 615-1456.</p>

                        <h3 class="earn_head">Please Select your Country & City</h3>

                        <div class="widget">

                            <div class="widget-body">
                                <div class="form-horizontal padding-left">

<form id="" name=""   method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="form-group">
                                        <label for="empName" class="col-sm-2 control-label">Country</label>
                                        <label for="empName" class="col-sm-5 control-label blue">
                                            <select id="payment_select">
    {% for payment_opt in  payment_opts %}
  <option value="{{payment_opt.payment_option}}">{{payment_opt.country.name}}</option>
  {% endfor %}
</select>
                                        </label>

                                    </div>
                                    <div class="form-group">
                                        <label for="empName" class="col-sm-2 control-label">City</label>
                                        <label for="empName" class="col-sm-5 control-label blue">
                                            <input type="text" name="city" id="c_city" value="" class="form-control" required />
                                            <span class="error-msg" style="display:none">* This field is required.</span>
                                        </label>

                                    </div>
    <div class="form-group">
                            <div class="col-sm-12">                                
                                <button type="button"  onclick="javascript:PaymentOption()" class="right blue_btn">Save</button>
                            </div>
                        </div>
</form>
                                    


                                </div>
                            </div>
                        </div>
                        <h3 class="earn_head" id="option_head1">Option 1: Email Transfer</h3>

                        <div class="widget" id="option_body1">

                            <div class="widget-body">
                                <div class="form-horizontal padding-left">


                                    <div class="form-group">
                                        <label for="empName" class="col-sm-2 control-label"> </label>
                                        <label for="empName" class="col-sm-4 control-label blue" id="payment_mail">{{request.user.user_profile.paypal_email}}</label>
                                        
                                        
                                    </div>
                                    <div class="message">Your update was successful.</div>
                   <div class="message_err">Check your Email field</div>
                   <div class="error_msg">Check your password!</div>
                                    <div class="form-group">
                                        <label for="empName" class="col-sm-2 control-label">New email </label>
                                        <label for="empName" class="col-sm-5 control-label blue">
                                            <input type="text" name="email" id="c_email" value="" class="form-control" required />
                                        </label>

                                    </div>
                                    <div class="form-group">
                                        <label for="empName" class="col-sm-2 control-label">Confirm Password</label>
                                        <label for="empName" class="col-sm-5 control-label blue">
                                            <input type="password" id="c_password"  value="" class="form-control" required />
                                        </label>

                                    </div>
                   <div class="form-group">
                            <div class="col-sm-12">                                
                                <button type="button" onclick="javascript:PaymentInfo()" class="right blue_btn">Update</button>
                            </div>
                        </div>


                                </div>
                            </div>
                        </div>


                        <h3 class="earn_head" id="option_head2">Option 2: Bank Transfer</h3>
                         <div class="widget" id="option_body2">
                         <form id="deposit_form_id" name="deposit_form_id" action="{% url 'deposit-form-submit' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <a href="#" id="deposit_button" class="balance_link">Click here to upload a Direct Deposit Form or a Void Cheque</a>
                        <input type="file" name="file" id="deposit_form" style='display:none;'>
                        
                        </form>
                    </div>
                    </div>


                </div>
        
        
        
{% include "include/follow_section.html" %}
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/bootstrap-checkbox.js' %}"></script>
{{ block.super }}
<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script>
$.endlessPaginate({paginateOnScroll: true});
var croppedImage;

$("#followers_menu").addClass("blue");
$('#page_title').html($("#followers_menu").text());

function PaymentOption() {
    if($("#c_city").val().length != 0){
         $(".error-msg").hide(200);
         $( "#c_city" ).removeClass( "warning" );
        if($("#payment_select").val()=="OPTION1"){
            $("#option_head1").show(300);
            $("#option_body1").show(300);
            $("#option_head2").hide(300);
            $("#option_body2").hide(300);
            
        }else{
             $("#option_head2").show(300);
            $("#option_body2").show(300);
            $("#option_head1").hide(300);
            $("#option_body1").hide(300);
        }
        
    }else{
        $(".error-msg").show(200);
        $( "#c_city" ).addClass( "warning" );
    }
    
    }
    
function PaymentInfo() {
        
    data = {}
    data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
    var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
    if (testEmail.test($("#c_email").val())){
        data['email'] = $("#c_email").val()
        data['c_password'] = $("#c_password").val()
        $.ajax({
            type: "POST",
            url: '/payment_info_submit/',
            data: data,
            success: function(data) {
                if(data['status_err']){
                    $(".error_msg").show().fadeOut(3000);
                }else if(data['status_suc']){
                    $(".message").show().fadeOut(3000);
                    $("#payment_mail").text(data['email']);
                    $("#c_email").val('');
                    $("#c_password").val('');
                }
            },
            dataType: "json"
        }); 
    }
    else 
        $(".message_err").show().fadeOut(3000);
    
    
    }

$(document).ready(function() {
    
    $("#editpro").click(function() {
     $(".edit-pro-cover").show();
     $(this).hide();
  $(".edit-pro-profile").show();
  $("#procancel").show();
  $("#prosave").show();
  $(".over-bg").show();
  var str = $( "#proname" ).text();
  var bio = $( "#probio" ).text();
  var link1 = $( "#link1" ).text();
  var link2 = $( "#link2" ).text();
  $("#proname").replaceWith("<input type='text' name='' id='proname_text' value='"+str+"' />");
  $("#probio").replaceWith("<textarea  name='' id='probio_text' >"+bio+"</textarea>");
  $("#link1").replaceWith("<input type='text' name='' id='link1_text' value='"+link1+"' />");
  $("#link2").replaceWith("<input type='text' name='' id='link2_text' value='"+link2+"' />");
  
    });
    $("#procancel").click(function() {
     $(".edit-pro-cover").hide();
     $(this).hide();
  $(".edit-pro-profile").hide();

  $("#prosave").hide();
  $(".over-bg").hide();
  $("#editpro").show();
  var str = $( "#proname_text" ).val();
  var bio = $( "#probio_text" ).text();  
  var link1 = $( "#link1_text" ).val();
  var link2 = $( "#link2_text" ).val();
  $("#proname_text").replaceWith("<label id='proname' >"+str+"</label>");
  $("#probio_text").replaceWith("<p id='probio' >"+bio+"</p>");
  $("#link1_text").replaceWith("<a id='link1' >"+link1+"</a>");
  $("#link2_text").replaceWith("<a id='link2' >"+link2+"</a>");
  

    });
    
    $('#cover-photo').attr('width', $( document ).width());
    // store image change
    $(".edit-pro-profile").click(function() {
        $("#prof_image_file").click();
    });

    $("#prof_image_file").change(function() {
       // $("#profile_picture_form").submit();
       readProfile(this);

            
    });

    // store time line s change

    $('.edit-pro-cover').click(function() {
        $("#timeline_image_file").click();
         // $(".edit-pro-cover").hide();
          $(".edit-pro-cover").show();

    });

    $("#timeline_image_file").change(function() {
        // $("#timeline_picture_form").submit();
        $(".edit-pro-cover").hide();
        readURL(this);
        
        
    });
    $('#prosave').click(function(e){
         e.preventDefault();
        
        var url =$('#cover-photo').attr('url');
        fd = new FormData();
        fd.append('csrfmiddlewaretoken',$('input[name="csrfmiddlewaretoken"]').val());
        fd.append('coverphoto',croppedImage);
        fd.append('champion',$('#champion').val());
        fd.append('username',$('#proname_text').val());
        fd.append('userbio',$('#probio_text').val());
        fd.append('link1',$('#link1_text').val());
        fd.append('link2',$('#link2_text').val());
        
        $.ajax({
                url: /store_timeline_change/,
                type: "POST",
                data: fd,
                processData: false,
                contentType: false,
                success: function (response) {
                    if(response['success']){
                            $("#favourite").text(response.message);
                            $(".message_fav").text(response.message).show().fadeOut(2500);
                            //$('#crop-button').hide()
                            $("#profile_picture_form").submit();
                    }       
                    else{
                        $("#favourite").hide();
                         $("#profile_picture_form").submit();
                    }
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage); // Optional
                }
            });
        $('#cover-photo').attr('src')=croppedImage;
        croppedImage = null;
        $('#cover-photo').data('cropbox').remove(); 
    });
    

    // store image change
$("#option_head1").hide();
$("#option_head2").hide();
$("#option_body1").hide();
$("#option_body2").hide();
    
    // deposit form submit
    
    $("#deposit_button").click(function(){
       $("#deposit_form").click();
    });
    
    $("#deposit_form").change(function(){
         $("#deposit_form_id").submit();
    });
    
});

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#cover-photo').attr('src', e.target.result);
           // $('#crop-button').show();
            $('.cover-photo-container').css({
                width :$( document ).width(),
                height :300
            });
            $('#cover-photo').cropbox({
                width: $( document ).width(),
                height: 300,
                showControls: 'never'
            }).on('cropbox', function( event, results, img ) {
                croppedImage = img.getBlob();
            });
                    // console.log(s);
        }

        reader.readAsDataURL(input.files[0]);
    }
    
}
function readProfile(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#profile_photo').attr('src', e.target.result);
           // $('#crop-button').show();
            
            
                    // console.log(s);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

</script>

<style>
    .message {
        display: none;
        margin: 0 0 13px;
        padding: 10px;
        border: solid 1px #bd8;
    }
    .error_msg {
        display: none;
        margin: 0 0 13px;
        padding: 10px;
        border: solid 1px #bd8;
    }
    .message_err {
        display: none;
        margin: 0 0 13px;
        padding: 10px;
        border: solid 1px #bd8;
    }
</style>
{% endblock %}