{% load endless %} 
{% load champion_tags %}
{% load staticfiles thumbnail %}
{% if follows %}
{% paginate 6 follows %}
{% for user in follows %}
<div class="col-xs-12 col-sm-6 col-md-4 ">
    <div class="followers_tab">
        <div class="follow_img">
            {% if user.timeline_image %}
            {% thumbnail user.timeline_image "600x200" crop="center" as thumb %}
            <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
            {% endthumbnail %}             
            {% else %}           
            <img src="{{STATIC_URL}}images/product.jpg" >
            {% endif %}

        </div>
        <div class="follow_pro">
            <a href="{% url 'store-details' user.storename %}" target="blank" class="profile_pic">
                {% if user.image %}
                {% thumbnail user.image "44x44" crop="center" as thumb %}
                <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                {% endthumbnail %}                 
                {% else %}
                <img src="{{STATIC_URL}}images/user.jpg" >
                {% endif %}
            </a>
            {% if request.user.user_profile.id == champion.id %}
            <form method="post" action="{% url 'champion_follows' %}">{% csrf_token %}
                <input type='hidden' value='{{user.id}}' name='champ_id'>
                <button type="submit" {% if user.id|check_followed:request.user.user_profile.id %} class="btn btn-info btn-xs follows" data-hover="Unfollow"{% else %}class="btn btn-info btn-xs"{% endif %}>
                        {% if user.id|check_followed:request.user.user_profile.id %}                
                        <i class="fa fa-user-plus" ></i>Following </button>
                {% else %}
                <i class="fa fa-user-plus"></i>Follow</button>
                {% endif %}
            </form>               
            {% endif %}
            <label>{{user.user|default:""|striptags|truncatechars:10}}</label>
            <span>{{user.storename}}</span>
            <p>{{user.bio|default:""|striptags|truncatechars:50 }}</p>
        </div>
    </div>
</div>
{% endfor %}{% show_more %}
{% endif %}