{% extends "indorso_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block coverphoto %}
{% endblock %}

<!-- Main jumbotron for a primary marketing message or call to action -->
{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">


         {% include "champions/dashboard/menu/submenu.html" %}


        <div class="col-xs-12 col-sm-8 col-lg-9">
            <div class="widget">
                <div class="widget-body">
                    <div class="form-horizontal padding-left">
                        <form action="." method="post">{% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="empName">New password* </label>
                                <label class="col-sm-6 control-label blue" for="empName">{{form.new_password1}}{{ form.new_password1.errors.as_text }}   </label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="branch">New password confirmation* </label>
                                <label class="col-sm-6 control-label blue" for="empName"> {{form.new_password2}}{{ form.new_password2.errors.as_text }}</label>
                            </div>                         
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="branch"> Old password* </label>
                                <label class="col-sm-6 control-label blue" for="empName">   {{form.old_password}}{{ form.old_password.errors.as_text }}</label>
                            </div> 
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <button class="right blue_btn">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}