{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags i18n %}
{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load reviews_tags %}
{% load i18n %}

{% block coverphoto %}
{% endblock %}

{% block content %}
{% with product=object %}

<div class="container">
    <!-- Example row of columns -->
    
    <div class="col-xs-12 head_space">
    
    <h2 class="heading_in col-xs-12">{{ product.get_title|truncatewords:4 }}</h2>
    <h3 class="heading_sub col-xs-12">{{ product.description|default:""|striptags|truncatechars:200  }}</h3>
    </div>
    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="border newsfeeds col-xs-12 col-sm-12 col-lg-12">
                <div class="video"> <iframe width="708" height="500"
                                            src="http://www.youtube.com/embed/{{product.product_video_id}}">
                    </iframe> </div>
                <div class="medianet addthis_native_toolbox" style='background:none'></div>
                <h2 >Description</h2>
                <div class='tab'>
                 {{ product.description|safe }}
                </div> 
<!--                 {% thumbnail product.primary_image.original "708x471" crop="center" as thumb %}
    <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
    {% endthumbnail %}               -->
                
                {{ product.description2|safe }}
            </div>
           
            
            <h1 class="newss">Reviews{% if product|is_review_permitted:user %}
                 <button type="button" data-toggle="modal" data-target="#write-review-popup" class="blue_btn blue_btn_sm margin-left">Write a review</button>    
                {% endif %}</h1> 
            {% comment %}
             <div class="message_review">Successfully reviewed<a href="#" id="close" style="float:right;">×</a></div>
             <div class="message_error">You have already reviewed this product!<a href="#" id="close" style="float:right;">×</a></div>
             {% endcomment %}
            {% iffeature "reviews" %}
            {% if product.num_approved_reviews == 0 %}
            <div class="review_box">
                <label>This product does not have any reviews yet</label>
            </div>
            {% else %}            
            {% for review in reviews %}
            <div class="review_box">
                <div class="client-time" > <label>{{review.date_created|date:"M d Y" }}</label> <span>{{review.date_created|date:"H:i" }}</span></div>
                {% if not review.user %}
                <img src="{% static 'images/review-client-profile.jpg' %}">
                {% else %}

                {% thumbnail review.user.user_profile.image "70x69" crop="center" as thumb %}
                <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                {% endthumbnail %}
                {% endif %}
                <label class="client-name">{{review.reviewer_name}}</label>
                <span class="client-cmts">{{ review.body|striptags }}</span>
            </div>
            {% endfor %}
            {% endif %}
            {% endiffeature %}
        </div>
        
        
        
        
        {% purchase_info_for_product request product as session %}
        <div class="col-xs-12 col-sm-12 col-md-3 margin-top">
            <h3 class="right_head">Retail price</h3>
            {% if session.price.excl_tax == 0 %}
            <p class="right_p r-margin">$ 0,000,000,00</p>
            {% elif session.price.is_tax_known %}
            <p class="right_p r-margin">{{ session.price.incl_tax|currency:session.price.currency }}</p>
            {% else %}
            <p class="right_p r-margin">{{ session.price.excl_tax|currency:session.price.currency }}</p>
            {% endif %}
            {% if session.stockrecord.commision_price %} 
            <h3 class="right_head blue">Earnings per unit</h3>
            <p class="right_p r-margin blue">{{product.champion_earn|currency:session.price.currency}}</p>
            {% endif %}
            {% if form.non_field_errors %}
            <p class="margin-left" style="color:red;font-size:15px;">{{ form.non_field_errors }}</p>
            {% endif %}
            {% if session.availability.is_available_to_buy %}
            <h3 class="right_head">Days to go</h3>
            <h3 class="right_head">{{product.days_to_go}}</h3>
            
            {% if request.user.is_authenticated %}           
            <button type="button" data-toggle="modal" data-target="#write-review" class="blue_btn addfont margin-left">Indorse</button>    
            {% else %}
            <button data-toggle="modal" data-target="#myModal" class="blue_btn addfont margin-left">Indorse</button>          
            {% endif %}
            
            {% else %}
            <h3 class="right_head">Days to go</h3>
            <h3 class="right_head">0</h3>
                    
            <button type="button" style="background:gray;" class="blue_btn addfont margin-left">Indorse</button>    
          
            
            {% endif %}
      
            
              <p class="right_p r-margin"></p>
        </div>
        
        
    </div>
</div>
<div class="modal fade" id="write-review-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="review_popup_form" method="post">{% csrf_token %}
                <input type="hidden" name="p_slug" value="{{product.slug}}">
                <input type="hidden" name="p_pk" value="{{product.id}}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Write a comment about this product</h4>
                </div>
                <div class="message_validate">Please review with title and description !<a href="#" id="close" style="float:right;">×</a></div>
                
                <div class="modal-body"> 
                    <textarea class="form-control text" id="review_id" name="review" required></textarea>
                    
                </div>
                <div class="modal-footer">

                   
                    <button type="button" class="blue_btn pull-right col-sm-4" onclick="ReviewProduct()">Confirm</button>
                    <button class="pull-left red_btn col-sm-4" data-dismiss="modal">Cancel</button>

                </div>
            </form>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}



{% block extra-pop-up %}
<div class="modal fade" id="write-review" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'product-indorse-detail' object.id %}" method="post">{% csrf_token %}
                <input type="hidden" name="champion" value="{{request.user.user_profile.id}}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Write a comment about this product</h4>
                </div>
               
                <div class="modal-body"> 
                    <textarea class="form-control-popup text" name="review"></textarea>
                </div>
                <div class="modal-footer">

                    
                    <button type="submit" class="blue_btn pull-right col-sm-4">Confirm</button>
                    <button class="pull-left red_btn col-sm-4" data-dismiss="modal">Cancel</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

ReviewProduct = function(){
    var data = $("#review_popup_form").serialize();
    if($("#review_id").val() != ''){
    $.ajax({
        type: "POST",
                url: "{% url 'review_add_popup'  %}",
                data: data,
                success: function(data){
                    $(".close").click();
                $(".message_review").show().fadeOut(2500);
                 location.reload();
                },
                error: function(response){
                $(".message_error").show().fadeOut(2500);
                }
        });
    
    }
    
    else{
        $(".message_validate").show().fadeOut(2500);
    }
    }
    </script>
{% endblock %}
