{% load endless %} 
{% load purchase_info_tags i18n %}
{% load staticfiles thumbnail %}
{% paginate products %}
{% load currency_filters %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>


{% if products %}
{% for product in products %}
{% purchase_info_for_product request product as session %}


<div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="products">
        <a href="{% url 'product-indorse-detail' product.id %}">
            {% with image=product.primary_image %}
            {% thumbnail image.original "387x283" crop="center" as thumb %}
            <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
            {% endthumbnail %}
            {% endwith %}</a>
        <h3><a href="{% url 'product-indorse-detail' product.id %}">{{ product.get_title|truncatechars:22 }}</a></h3>
        <span>by {% if product.innovator.storename %}{{ product.innovator.storename}}{% else %}{{ product.innovator.user.username}}{% endif %}&nbsp;{% if not session.availability.is_available_to_buy %}<label style="color:#c9302c;">out of stock</label>{% endif %}</span>
        <p>{{ product.description|default:""|striptags|truncatechars:150 }}</p>
        <div class="values">
            <label>Indorsements</label>
            <label>Retail Price </label>
            <label>You Earn</label>
            <label>{% if product.check_expire_today %}Hours{% else %}Days{% endif%} to go</label>
        </div>
        <div class="values">
            <span>{{product.total_indorsed_license}}</span>
            {% if session.price.excl_tax == 0 %}
            <span>$00,000,00</span>
            {% elif session.price.is_tax_known %}
            <span>{{ session.price.incl_tax|currency:session.price.currency }}</span>
            {% else %}
            <span>{{ session.price.excl_tax|currency:session.price.currency }}</span>
            {% endif %}      
            {% if session.stockrecord.commision_price %}                
            <span>{{product.champion_earn|currency:session.price.currency}}</span>
            {% else %}
            <span>-</span>
            {% endif %}
            <span>{% if product.check_expire_today %}<div id="countdown-2_{{product.id}}"></div>
                <script type="text/javascript">
        $('#countdown-2_{{product.id}}').countdown('{{product.get_available_date|date:"Y/m/d H:m:s"}}', function(event) {
    $(this).html(event.strftime('%H:%M:%S'));
});
                </script>

                {% else %}
                {{product.days_to_go}}
                {% endif %}
            </span>   

        </div>
    </div>
</div>
{% endfor %}
{% else %}

<div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="products">
        <h3> No product found</h3>
    </div>
</div>

{% endif %}


{% show_more %}