{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load endless %}
{% load purchase_info_tags i18n %}
{% load category_tags %}

{% block coverphoto %}
{% endblock %}

{% block content %}
{% category_tree depth=2 as tree_categories %}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">    
        
   <div class="col-xs-12 head_title">
    
    <h3 class="heading_sub col-xs-12">Indorse the innovations you think will change the world.</h3>
    <h3 class="heading_sub col-xs-12">Simply click the indorse button to add an innovation to your personalized store.</h3>
    </div>
 <div class="col-xs-12 col-sm-12 col-lg-12 left-menu-filter">
            <div class="filter"> <h2 class="left_head dropdown-toggle"  role="button" data-toggle="dropdown" >Sort by</h2>
                 <ul role="menu" class="dropdown-menu">
                                       
                   <label class="checkbox">
                    <input type="checkbox" class="checkbox" value="new" id="inlinenew" >New
                </label>
                <label class="checkbox">
                    <input type="checkbox" class="checkbox" value="indorsement" id="inlineindorsement">Indorsements
                </label>
                <label class="checkbox">
                    <input type="checkbox" class="checkbox" value="price" id="inlineprice">Price
                </label>
                <label class="checkbox">
                    <input type="checkbox" class="checkbox" value="earnings" id="inlineearnings">Earnings
                </label>
                 <label class="checkbox">
                    <input type="checkbox" class="checkbox" value="days-to-go" id="inlinedays-to-go">Days to go
                </label>    
                  </ul>
                </div>
                   <div class="filter"><h3 class="left_head dropdown-toggle"  role="button" data-toggle="dropdown" >Categories</h3>
                  <ul role="menu" class="dropdown-menu">
                   <li><a href="{% url 'prodcut-indorse'  %}">All</a></li>
               {% for tree_category, info in tree_categories %}
                <li><a href="{% url 'prodcut-indorse-catalogue' tree_category.slug %}">{{ tree_category.name }}</a></li>
             
                {% endfor %}
                
            </ul>
          </div>
     
   </div> 

        {% include page_template %}      
 
	
      </div>
        
        
    </div>
</div> 
{% endblock %}


{% block extra_js %}
	
<script src="{% static 'js/bootstrap-checkbox.js' %}"></script>


{{ block.super }}
<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script>
   
$.endlessPaginate({paginateOnScroll: true});
$(document).ready(function() {
$('input[type="checkbox"]').checkbox();
{% if request.GET.sort_by %}
    $('#inline'+'{{request.GET.sort_by}}').checkbox({
    checked: true
    });
{% else %}
    $("#inlinenew").checkbox({
    checked: true
    });
{% endif %}
$('input[type="checkbox"]').click(function() {
        value = $(this).val();
        cur_url = '{{request.path}}' + '?sort_by=' + value;
        window.location.replace(cur_url);
});
});
</script>
{% endblock %}