{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load i18n %}
{% load reviews_tags %}
{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <h2 class="heading_in col-xs-12">Leave a product review</h2>
        <div class="widget">
            <div class="widget-body">
                <form id="add_review_form" method="post" action="./#addreview" name="billing-address-form">
                    {% csrf_token %}
                    <div class="form-horizontal margin">
                        {% for field in form %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName">{{ field.label_tag }}</label>
                            <div class="col-sm-4">
                                {{ field }}
                                {% if field.errors %} {% for error in field.errors %}{{ error }}{% endfor %}  {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-4">
                                <button type="submit" class="right blue_btn">{% trans "Save" %}</button>
                            </div>
                            <div class="col-sm-4">
                                {% trans "or" %}
                                </div>
                            <div class="col-sm-4">
                               
                                <a href="{{ product.get_absolute_url }}">{% trans "cancel" %}</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
