{% load endless %} 
{% load purchase_info_tags i18n %}
{% load champion_tags %}
{% load currency_filters %}
{% load staticfiles thumbnail %}

{% paginate reviews %}
{% if reviews %}
{% for review in reviews %}
{% purchase_info_for_product request review.product as session %}

<div class="over-bg"></div>
<div class="review_box">

    <div class="client-time" >
        {% if review.product|get_product_champion_review_date_time:champion.id %}{{review.product|get_product_champion_review_date_time:champion.id|safe}}{% endif %}
    </div>

    {% thumbnail champion.image "70x69" crop="center" as thumb %}
    <img src="{{ thumb.url }}" alt="{{ review.product.get_title }}">
    {% endthumbnail %}

    <label class="client-name">{{champion.user}}</label>
    <span class="client-cmts">{% if review.product|get_product_champion_review:champion.id %}{{review.product|get_product_champion_review:champion.id|default:""|striptags|truncatechars:150}}{% endif %}</span>


    <div class="products_review">
        <a href="{% url 'champion-product-detail' champion.storename review.product.slug review.product.id %}">{% with image=review.product.primary_image %}
            {% thumbnail image.original "310x230" crop="center" as thumb %}
            <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
            {% endthumbnail %}</a>
        {% endwith %}
        <h3><a href="{% url 'champion-product-detail' champion.storename review.product.slug review.product.id %}">{{ review.product.get_title|truncatewords:4 }}</a>&nbsp;{% if not session.availability.is_available_to_buy %}<label style="color:#c9302c;font-size: 12px;">(out of stock)</label>{% endif %}</h3>
        <span>{% if review.product.innovator.storename %}by {{ review.product.innovator.storename}}{% endif %}</span>
        <p>{{ review.product.description|default:""|striptags|truncatechars:200 }}</p>
        <div class="values_r">
            <label>Indorsements</label>
            <label>Retail Price </label>

        </div>

        <div class="values_r">
            <span>{{review.product.total_indorsed_license}}</span>
            {% if session.price.excl_tax == 0 %}
            <span>$00,000,00</span>
            {% elif session.price.is_tax_known %}
            <span>{{ session.price.incl_tax|currency:session.price.currency }}</span>
            {% else %}
            <span>{{ session.price.excl_tax|currency:session.price.currency }}</span>
            {% endif %}

        </div>
    </div>
</div>
{% endfor %}
{% show_more %}
{% else %}
<div class="review_box">
    <div class="products_review">
        No product found!
    </div>
</div>

{% endif %}