{% extends "indorso_base.html" %}
{% load thumbnail %}
{% load i18n %}
{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}


{% block coverphoto %}
{% endblock %}


{% block content %}


<div class="container">
    <!-- Example row of columns -->
    <div class="col-xs-12 head_title">
        <h2 class="heading_in col-xs-12">Cart</h2>
        <h3 class="heading_sub col-xs-12"></h3>
    </div>

    {% if not basket.is_empty %}

    <div class="col-lg-9 col-md-9">
        <form action="." method="post"  id="basket_formset">{% csrf_token %}
            {{ formset.management_form }}

            {% for form in formset %}
            {% with line=form.instance product=form.instance.product %}
            {% purchase_info_for_line request line as session %}
            <div class="product">

                {{ form.id }}
                {% with image=product.primary_image %}
                {% thumbnail image.original "278x162"  as thumb %}
                <div class="col-lg-4 col-md-4 no-pad"><a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}"></a></div>
                {% endthumbnail %}
                {% endwith %}
                <div class="col-lg-8 col-md-8 no-pad">
                    <div class="col-lg-8 col-md-8 no-pad">
                        <p class="col-lg-12 col-md-12 blue">{{ line.description }}</p>      
                        <p class="col-lg-8 col-md-8">Innovation by: {{ line.product.innovator }}.</p>
                        {% if not line.color == "None" %}
                        <p class="col-lg-8 col-md-8">Color: {{ line.color }}</p>
                        {% endif %}
                        {% if not line.size  == "None" %}
                        <p class="col-lg-8 col-md-8">Size: {{ line.size }}</p>
                        {% endif %}
                        <div class="col-lg-10 col-md-10 logoin">Champion:{{ line.product.innovator }}</div>
                        <div class="col-lg-12 col-md-12 top-mar logoin" ><a href="#" id="target" data-toggle="modal"  data-target="#update_popup_{{line.id}}" class="blue">Edit</a>&nbsp;                        
                            <a href="{% url 'basket:delete-basket-line' line.id %}" data-toggle="modal" data-target="#confirm-popup" class="red delete-button">Delete</a>                                
                        </div>

                        <!-- POPup for UPDATE -->

                        <div class="modal fade" id="update_popup_{{line.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">                                
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Please update your product, here !</h4>                
                                        <p></p>    
                                        <p class="cart_error_msg" style="color:red;"></p> 
                                        <p></p> 

                                        <div style='display:none;'>{{form.champion}}</div>
                                       Quantity: 
                                       <input class="form-control" id="id_form-{{forloop.counter0}}-quantity" min="0" name="form-{{forloop.counter0}}-quantity" type="number" value="{{ form.quantity.value }}">
                                       {% if line.color %}
                                       Color: 
                <select  class="form-control" name="form-{{forloop.counter0}}-color" >
                    {% for color in product.colors.all %}                
                    <option {% ifequal color.name line.color %}selected="selected" {% endifequal %}value="{{color}}">{{color}}</option>
                    {% endfor %}
                </select>
                                       
                                        Size: 
                <select  class="form-control" name="form-{{forloop.counter0}}-size" >
                    {% for size in product.sizes.all %}                
                    <option {% ifequal size.name line.size %}selected="selected" {% endifequal %}value="{{size}}">{{size}}</option>
                    {% endfor %}
                </select>
           
                                       
                                       {% endif %}
                                        <div class="modal-footer">                           
                                            <button type="button" class="left blue_btn basket_update_form" name='update_basket_{{forloop.counter}}'>{% trans "Update" %}</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- END of POPUP -->

                    </div>

                    <div class="col-lg-4 col-md-4 no-pad">
                        <p class="col-lg-12 col-md-12"><b class="col-lg-6 col-md-6">Quantity</b>  <b class="col-lg-6 col-md-6">{{ line.quantity }}</b></p>


                        <p class="col-lg-12 col-md-12"><b class="col-lg-6 col-md-6">Price</b>  <b class="col-lg-6 col-md-6">{% if line.is_tax_known %}
                                {{ line.unit_price_incl_tax|currency:line.price_currency }}
                                {% else %}
                                {{ line.unit_price_excl_tax|currency:line.price_currency }}
                                {% endif %}</b></p>

                        {% if line.get_available_bulk_rate %}        
                        <p class="col-lg-12 col-md-12" style="color:green;"><b class="col-lg-6 col-md-6"> Bulk Price</b>  <b class="col-lg-6 col-md-6">{{line.get_available_bulk_rate|currency:line.price_currency}}</b></p> 

                        {% endif %}


                        <p class="col-lg-12 col-md-12"><b class="col-lg-6 col-md-6">Shipping</b>  <b class="col-lg-6 col-md-6">000000</b></p>
                        <p class="col-lg-12 col-md-12 total"><b class="col-lg-6 col-md-6">Total</b>  <b class="col-lg-6 col-md-6">
                                {% if line.get_available_bulk_rate %}
                                {{line.get_total_available_bulk_rate}}
                                {% else %}
                                {% if line.is_tax_known %}
                                {{ line.line_price_incl_tax|currency:line.price_currency }}
                                {% else %}
                                {{ line.line_price_excl_tax|currency:line.price_currency }}
                                {% endif %}
                                {% endif %}
                            </b></p>

                    </div>
                </div>
            </div>
            {% endwith %}
            </tr>
            {% endfor %}
        </form>

        <!-- VOUCHER DISCOUNTS and Order Totals BELOW -->
        {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}

        {% if offer_discounts or voucher_discounts %}
        <div class="col-lg-8 col-md-8 "></div><div class="col-lg-4 col-md-4 no-pad"><div class="product"><p class="col-lg-12 col-md-12 "><b class="col-lg-6 col-md-6 blue">Buying in Bulk Discount</b>  <b class="col-lg-6 col-md-6">{% if basket.is_tax_known and not show_tax_separately %}
                        {{ basket.total_incl_tax_excl_discounts|currency:basket.currency }}
                        {% else %}
                        {{ basket.total_excl_tax_excl_discounts|currency:basket.currency }}
                        {% endif %}</b></p></div></div>

        {% for discount in offer_discounts %}
        {% if discount.description %}
        <br/><small>{{ discount.description }}</small>
        <div class="col-lg-8 col-md-8 "></div><div class="col-lg-4 col-md-4 no-pad"><div class="product"><p class="col-lg-12 col-md-12 "><b class="col-lg-6 col-md-6 blue"></b>  <b class="col-lg-6 col-md-6">-{{ discount.discount|currency:basket.currency }}</b></p></div></div>
        {% endif %} 
        {% endfor %}
        {% if voucher_discounts %}
        {% for discount in voucher_discounts %}
        <br/><small> {{ discount.voucher.name }} ({{ discount.voucher.code }})</small>
        <div class="col-lg-8 col-md-8 "></div><div class="col-lg-4 col-md-4 no-pad"><div class="product"><p class="col-lg-12 col-md-12 "><b class="col-lg-6 col-md-6 blue"></b>  <b class="col-lg-6 col-md-6">
                        {% if editable %}
                        <form action="{% url 'basket:vouchers-remove' pk=discount.voucher.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="{% trans 'Remove' %}" class="btn btn-small btn-danger" />
                        </form>
                        {% endif %}-{{ discount.discount|currency:basket.currency }}
                    </b></p></div></div>
        {% endfor %}
        {% endif %}
        {% endif %}

        <div class="col-lg-8 col-md-8 "></div><div class="col-lg-4 col-md-4 no-pad"><div class="product"><p class="col-lg-12 col-md-12 "><b class="col-lg-6 col-md-6 blue">Grand Total</b>  <b class="col-lg-6 col-md-6">
                        {% if order_total.is_tax_known %}
                        {{ order_total.incl_tax|currency:basket.currency }}
                        {% else %}
                        {{ order_total.excl_tax|currency:basket.currency }}
                        {% endif %}
                        {% if not order_total.is_tax_known %}
                        <tr>
                            <td><small>{% trans "Taxes will be added during checkout." %}</small></td>
                        </tr>
                        {% endif %}

                    </b></p></div></div>

        <div class="form-group">

            <div class="col-sm-4 col-xs-12 no-pad">
                {% if anon_checkout_allowed or request.user.is_authenticated %}
                {% if basket.total_excl_tax > 0 %}
                <a href="{% url 'paypal-redirect' %}" class="right"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="height: 49px;"></a>
                {% endif %}
                {% endif %}
            </div>

            <div class="col-sm-4 col-xs-12  no-pad">
                <button onclick="location.href = '{% url "product-buy" %}'" class="right blue_btn">{% trans "Continue shopping" %}</button>
            </div>

            <div class="col-sm-4 col-xs-12  no-pad">
                <button onclick="location.href = '{% url 'checkout:index' %}'" class="right blue_btn">{% trans "Proceed to checkout" %}</button>
            </div>


        </div>
    </div>
    {% endwith %}
    {% else %}
    <p>
        {% trans "Your basket is empty." %}
        <a href="{% url 'product-buy' %}" >{% trans "Continue shopping" %}</a>
    </p>
    {% endif %}
    <div class="col-lg-3 col-md-3">
    </div>


</div>


{% endblock %}


{% block extra-pop-up %}
<!-- /container -->
<div class="modal fade" id="confirm-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action='' method='post' id='delete-form'>{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <br/><br/>
                    <br/>        <h4 class="modal-title redtxt" id="myModalLabel">Are you sure you want to delete this Product form cart ?</p>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="blue_btn pull-left col-sm-4">Yes</button>
                    <button class="right blue_btn col-sm-4" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type='text/javascript'>
            $(document).ready(function(){
    $(".delete-button").click(function(){
    url = $(this).attr('href');
            $("#delete-form").attr("action", url);
    });
            $(".basket_update_form").click(function() {
    data = $('#basket_formset').serialize();
            $.ajax({
            type: "POST",
                    url: "{% url 'basket:summary' %}",
                    data: data,
                    success: function(data) {
                    $("#cart_error_msg").html("");
                            window.location = "/basket/";
                    },
                    error: function(response) {
                    errors = JSON.parse(response.responseText);
                    
                            $.each(errors, function(indexes, values) {                            
                            $.each(values, function(index, value) {
                            $(".cart_error_msg").html(value.quantity);
                            });
                            });
                    }     });
    });
    });
</script>
</script>
{% endblock %}