{% extends "dashboard/base.html" %}

{% load category_tags %}
{% load dashboard_tags %}
{% load i18n %}
{% load compress %}
{% load staticfiles %}

{% block mainstyles %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "oscar/css/bootstrap.min.css" %}" />
        {% if use_less %}
            <link rel="stylesheet" type="text/less" href="{% static "oscar/less/dashboard.less" %}" />
            <link rel="stylesheet" type="text/less" href="{% static "oscar/less/responsive.less" %}" />
        {% else %}
            <link rel="stylesheet" type="text/css" href="{% static "oscar/css/dashboard.css" %}" />
            <link rel="stylesheet" type="text/css" href="{% static "oscar/css/responsive.css" %}" />
        {% endif %}
    {% endcompress %}
{% endblock %}

{% block extrastyles %}
    {{ block.super }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.css">
    {% compress css %}
        <link rel="stylesheet" href="{% static "oscar/js/select2/select2.css" %}" />
        <link rel="stylesheet" href="{% static "oscar/css/select2-bootstrap.css" %}" />
        <link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" %}" />
    {% endcompress %}
{% endblock %}

{% block title %}
    {% trans "Dashboard" %} | {{ block.super }}
{% endblock %}

{% block layout %}
    {% block navbar %}
    <div class="navbar navbar-static-top navbar-inverse navbar-accounts">
        <div class="navbar-inner">
            <div class="dashboard">
                <span class="brand">{{ shop_name }}</span>
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-accounts">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="nav-collapse nav-accounts collapse">
                    <ul class="nav pull-right">
                        <li><span>{% trans "Welcome" %} <em>{{ request.user.get_full_name|default:request.user.email }}</em></span></li>
                        <li><a href="{{ homepage_url }}"><i class="icon-home"></i> {% trans "Return to site" %}</a></li>
                        <li><a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a></li>
                        <li><a href="{% url 'customer:logout' %}"><i class="icon-signout"></i> {% trans "Log out" %}</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
    {% endblock navbar %}

    {% block dashboard_nav %}
        {% dashboard_navigation request.user %}

        <div class="navbar navbar-static-top navbar-inverse navbar-primary">
            <div class="navbar-inner">
                <div class="dashboard">

                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-primary">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <div class="nav-collapse nav-primary">
                        <ul class="nav nav-pills dashboard">
                            {% for item in nav_items %}
                            <li class="dropdown">
                                {% if item.is_heading %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                                    {{ item.label }} <b class="caret"></b>
                                </a>
                                {% else %}
                                <a href="{{ item.url }}">
                                    {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                                    {{ item.label }}
                                </a>
                                {% endif %}
                                {% if item.has_children %}
                                <ul class="dropdown-menu">
                                    {% for subitem in item.children %}
                                    <li>
                                        <a href="{{ subitem.url }}">
                                        {% if subitem.icon %}<i class="{{ subitem.icon }}"></i>{% endif %}
                                        {{ subitem.label }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="container-fluid dashboard">
        {% block breadcrumbs %}
        <ul class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a> <span class="divider">/</span></li>
        </ul>
        {% endblock %}

        <div class="content">
            {% include 'partials/alert_messages.html' %}
            {% block header %}
            <div class="page-header action">
                <h1>{% block headertext %}{% endblock %}</h1>
            </div>
            {% endblock %}
            <div class="page-content">
                {% block content %}
                    {% block dashboard_content %}{% endblock dashboard_content %}
                {% endblock content %}
            </div>
        </div>
    </div><!-- /container -->

    {% comment %}
        This block includes a single pixel from one of the django-oscar
        organisation's servers. It's included to keep track of which sites are
        running Oscar in production, and what versions of Python and Django are
        used. This provides useful data when deciding which versions of Python
        and Django to support.

        You are, of course, welcome to remove this tracker. To do so, set
        OSCAR_TRACKING=False in your settings.
    {% endcomment %}
    {% block trackerimage %}
        {% if call_home %}
            <img src="//analytics.oscarcommerce.com/tracker.gif?{{ call_home }}" style="display:none" />
        {% endif %}
    {% endblock %}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}

    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script>window.jQuery.ui || document.write('<script src="{% static "oscar/js/jquery/jquery-ui-1.10.3.min.js" %}"><\/script>')</script>

    {% compress js %}
        {# jQuery plugins #}
        <script src="{% static "oscar/js/mousewheel/jquery.mousewheel.min.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "oscar/js/inputmask/jquery.inputmask.bundle.min.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "oscar/js/select2/select2.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "oscar/js/oscar/dashboard.js" %}" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}

    {# We don't use a fallback for tinyMCE as it dynamically loads several other files #}
    <script src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: ["image"],
        file_browser_callback: function(field_name, url, type, win) {
            if(type=='image') $('#my_form input').click();
        }
    });
    
    
//    
//    tinymce.init({
//    selector: "textarea",
//    plugins: ["image"],
//    moxiemanager_file_settings {
//    	/* Only list txt files, and remove side navigation. */
//		moxiemanager_extensions : 'txt',
//		moxiemanager_leftpanel : false
//    },
//    moxiemanager_image_settings {
//    	/* Scope to different folder, show thumbnails of selected extensions */
//    	moxiemanager_title : 'Images',
//    	moxiemanager_extensions : 'jpg,png,gif'
//    	moxiemanager_rootpath : '/testfiles/testfolder',
//    	moxiemanager_view : 'thumbs'
//    }
//});
    
    
    
</script>
    
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    options = {
      'languageCode': '{{ LANGUAGE_CODE }}'
    };
    oscar.dashboard.init(options);
{% endblock %}
