{% extends "indorso_base.html" %}
{% load staticfiles %}
{% load purchase_info_tags i18n %}
{% load currency_filters %}
{% load endless %}

{% block coverphoto %}
{% endblock %}

{% block content %}

<div class="container">
      <!-- Example row of columns -->
      <div class="row">       
        
        {% include "champions/dashboard/menu/submenu.html" %}
        <div class="col-xs-12 col-sm-12 col-lg-9">
          <div class="col-xs-12 col-sm-12 col-lg-9"><p>Indorso are paid on the 1st and 15th of every month (Midnight EST). Payments are sent through email and received via a <a href="#">Paypal account</a>. Please note you will receive earnings on all sales processed up to 24 hours before a payment date.</p></div>
          <div class="col-xs-12 col-sm-12 col-lg-9"><div class="msg">Your next payment date: ,<label id="payment_date">October 15th 2013</label></div></div>
          <div class="col-xs-12 col-sm-12 col-lg-9"><p>If the email address you wish to receive your payments through is different than the one shown, please update the fields below.</p></div>
            <div class="widget">
              
              <div class="widget-body">
                <div class="form-horizontal padding-left">
                 
                  
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="empName"> </label>
                    <label class="col-sm-4 control-label blue" id="payment_mail" for="empName">{{request.user.user_profile.paypal_email}} </label>
                  </div>
                   <div class="message">Your update was successful.</div>
                   <div class="message_err">Check your Email field</div>
                   <div class="error_msg">Check your password!</div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="empName">New email </label>
                    <label class="col-sm-5 control-label blue" for="empName"><input type="text" name="email" id="c_email" value="" class="form-control" required /> </label>
                    
                  </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label" for="empName" required>Confirm Password</label>
                   <label class="col-sm-5 control-label blue" for="empName">
                       <input type="password" id="c_password"  value="" class="form-control" required />
                   </label>
                   
                    </div>
                
                   
                  <div class="form-group">
                     <div class="col-sm-9">
                      <button type="button" onclick="javascript:PaymentInfo()" class="right blue_btn">Update</button>
                     </div>
                   </div>
                  </div>
              </div>
            </div>
          </div>
          </div>
          </div>
        {% endblock %}
        {% block extra_js %}
       <script type="text/javascript">
$(document).ready(function(){                 
    $("#payment_info").addClass("blue"); 
    $('#page_title').html($("#payment_info").text());
 });
    
    function PaymentInfo() {
               
    data = {}
    data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
    var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
    if (testEmail.test($("#c_email").val())){
        data['email'] = $("#c_email").val()
        data['c_password'] = $("#c_password").val()
        $.ajax({
            type: "POST",
            url: '/payment_info_submit/',
            data: data,
            success: function(data) {
                if(data['status_err']){
                    $(".error_msg").show().fadeOut(3000);
                }else if(data['status_suc']){
                    $(".message").show().fadeOut(3000);
                    $("#payment_mail").text(data['email']);
                    $("#c_email").val('');
                    $("#c_password").val('');
                }
            },
            dataType: "json"
        }); 
    }
    else 
        $(".message_err").show().fadeOut(3000);
    
    }
    
    $(document).ready(function() {

    // store image change

    $("#profile_image").click(function() {
        $("#prof_image_file").click();
    });

    $("#prof_image_file").change(function() {
        $("#profile_picture_form").submit();
    });

    // store time line photo change

    $('#timeline_image').click(function() {
        $("#timeline_image_file").click();
    });

    $("#timeline_image_file").change(function() {
        $("#timeline_picture_form").submit();
    });

});



</script>
<style>
    .message {
        display: none;
        margin: 0 0 13px;
        padding: 10px;
        border: solid 1px #bd8;
    }
    .error_msg {
        display: none;
        margin: 0 0 13px;
        padding: 10px;
        border: solid 1px #bd8;
    }
    .message_err {
        display: none;
        margin: 0 0 13px;
        padding: 10px;
        border: solid 1px #bd8;
    }
</style>
{% endblock %}
