{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}


{% block coverphoto %}
{% endblock %}


{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-xs-12 head_space">
        <h2 class="heading_in col-xs-12">Contact US</h2>
        <h3 class="heading_sub col-xs-12"></h3>
        </div>

        <div class="widget">
            <div class="widget-body">
                <form method="post" name="billing-address-form" enctype="multipart/form-data" action=".">{% csrf_token %}
                    <div class="form-horizontal margin">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName"> Name* </label>
                            <div class="col-sm-4">
                                {{ form.name }}
                                {{ form.name.errors.as_text }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName"> Email ID* </label>
                            <div class="col-sm-4">
                                {{ form.email }}
                                {{ form.email.errors.as_text }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName">Telephone*</label>
                            <div class="col-sm-4">
                                {{ form.phone }}
                                {{ form.phone.errors.as_text }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="empName">Comments*</label>
                            <div class="col-sm-4">
                                {{ form.comments }}
                                {{ form.comments.errors.as_text }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <button type="submit" class="right blue_btn">Continue</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>

</div>
{% endblock %}
