{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags i18n social_icons %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Indorso is an e-commerce platform that connects innovators to product champions via crowd selling.</h1>
        <p>Simply sell; we take care of the rest.</p>
        <p><img src="{% static 'images/Slider_image.png' %}" width="359" height="395" alt="Im"></p>
    </div>
    <div class="container">
        <div class="pmedia col-lg-5">
            {% list_social_icons as link %}
            <a href="#"><i class="fa fa-share-alt"></i></a>
            <a href="#"><i class="fa fa-star-o"></i></a>
            <a href="{{ link.facebk_url }}"><i class="fa fa-facebook"></i></a>
            <a href="{{ link.gplus_url }}"><i class="fa fa-google-plus"></i></a>
            <a href="{{ link.linkedin_url }}"><i class="fa fa-linkedin"></i></a>
            <a href="{{ link.twit_url }}"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="col-lg-7 nomargin">
            <form class="search"><input name="" value="Indorso’s name or nick name"  type="text" class="col-xs-9"> <input name="" class="col-xs-3" type="button" value="Find an Impresellio"></form>
        </div>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    
    <div class="row">
        <h2 class="heading">Products</h2>
        {% for product in products %}
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="products">
                {% with image=product.primary_image %}
                    {% thumbnail image.original "x155" upscale=False as thumb %}
                    <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="thumbnail"></a>
                    {% endthumbnail %}
                {% endwith %}
                <h3><a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{ product.title }}</a></h3>
                <p>{{ product.description|safe }}</p>
            </div>
            {% purchase_info_for_product request product as session %}
            {% if session.price.excl_tax == 0 %}
            <div class="cost"><span class="left">License cost</span> <span class="right">Free</span></div>
            {% elif session.price.is_tax_known %}
            <div class="cost"><span class="left">License cost</span> <span class="right">{{ session.price.incl_tax|currency:session.price.currency }}</span></div>
            {% else %}
            <div class="cost"><span class="left">License cost</span> <span class="right">{{ session.price.excl_tax|currency:session.price.currency }}</span></div>
            {% endif %}
            <div class="cost"><span class="left">You earn</span> <span class="right">{{session.stockrecord.commision_price|default:"None"}}%   |   {{product.champion_earn|currency:session.price.currency}}</span></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block extra_js %}
{% endblock %}