{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load product_tags basket_tags access_tags %}
{% load purchase_info_tags i18n %}
{% load reviews_tags %}
{% load display_tags %}

{% block title %}-{{ object.title }}{% endblock %}
{% block extra-css %}
<style>
    .message {
        display: none;
        margin: 0 0 13px;
        padding: 10px;
        border: solid 1px #bd8;
    }
</style>
{% endblock %}


{% block coverphoto %}
{% endblock %}

{% block content %}
{% basket_form request product as basket_form %}

{% with product=object %}
<div class="container">
    <div class="col-xs-12 head_space">
        <h2 class="heading_in col-xs-12">{{ product.get_title|truncatewords:4 }}</h2>
        <h3 class="heading_sub col-xs-12">{{ product.description|default:""|striptags|truncatechars:200  }}</h3>
    </div>
    <!-- Example row of columns -->
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="border newsfeeds col-xs-12 col-sm-12 col-lg-12">
                <div class="video"> 
                    <iframe width="708" height="500" src="http://www.youtube.com/embed/{{product.product_video_id}}">
                    </iframe> </div>
                <div class="medianet addthis_native_toolbox" style='background:none' data-title="{{ product.title }}"></div>
                <h1>Description</h1>
                {{ product.description|safe }}
                <!--                 {% thumbnail product.primary_image.original "708x471" crop="center" as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                    {% endthumbnail %}-->
                {{ product.description2|safe }}
            </div>
            <h1 class="newss">Reviews{% if product|is_review_permitted:user %}
                <button type="button" data-toggle="modal" data-target="#write-review-popup" class="blue_btn blue_btn_sm margin-left">Write a review</button>    
                {% endif %}</h1>  
            <div class="message_review">Successfully reviewed<a href="#" id="close" style="float:right;">×</a></div>
            <div class="message_error">You have already reviewed this product!<a href="#" id="close" style="float:right;">×</a></div>

            {% iffeature "reviews" %}
            {% if product.num_approved_reviews == 0 %}
            <div class="review_box">
                <label>This product does not have any reviews yet</label>
            </div>
            {% else %}            
            {% for review in reviews %}
            <div class="review_box">
                <div class="client-time" > <label>{{review.date_created|date:"M d Y" }}</label> <span>{{review.date_created|date:"H:i" }}</span></div>
                {% if not review.user %}
                <img src="{% static 'images/review-client-profile.jpg' %}">
                {% else %}
                {% thumbnail review.user.user_profile.image "70x69" crop="center" as thumb %}
                <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                {% endthumbnail %}
                {% endif %}
                <label class="client-name">{{review.reviewer_name}}</label>
                <span class="client-cmts">{{ review.body|striptags }}</span>
            </div>
            {% endfor %}
            {% endif %}
            {% endiffeature %}
        </div>


        {% purchase_info_for_product request product as session %}
       
            <div class="col-xs-12 col-sm-12 col-md-3 margin-top indorso"> 
                <form id="add_to_basket_form" method="post" >{% csrf_token%}
                <h3 class="right_head">Retail price</h3>
                {% if session.price.excl_tax == 0 %}
                <p class="right_p">$ 0,000,000,00</p>
                {% elif session.price.is_tax_known %}
                <p class="right_p">{{ session.price.incl_tax|currency:session.price.currency }}</p>
                {% else %}
                <p class="right_p">{{ session.price.excl_tax|currency:session.price.currency }}</p>
                {% endif %}

                {% if session.availability.is_available_to_buy %}
                <h3 class="right_head"><span class="left"><img src="{% static 'images/tick.png' %}"></span><span class="left green">In stock</span></h3>
                {% else %}
                <h3 class="right_head"><span class="left"></span><span class="left" style="color:red;" id="cart_error_msg">Out of stock</span></h3>
                {% endif %} 
                {% if not request.user.user_profile.id == champion.id %}
                <div class="pull-left"> <label class="black_txt">Quantity</label> 
                    <input type="text" id="id_quan" name="quantity" value="" class="qtxt" />
                    <label id="err_text"></label>
                </div>
                {% endif %}

                {% if product.colors.all %}
                <div class="pull-left"> <label class="black_txt">Colors</label>
                    <select class="form-control" name="color" id="product_color">
                        {% for color in product.colors.all %}                
                        <option value="{{color.id}}">{{color}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% else %}
                <input type="hidden" value="None" id="product_color">
                {% endif %}
                
                 {% if product.sizes.all %}
            <div class="pull-left"> <label class="black_txt">Sizes</label>
                <select class="form-control" name="size" id="product_size">
                    {% for size in product.sizes.all %}                
                    <option value="{{size}}">{{size}}</option>
                    {% endfor %}
                </select>
            </div>
            {% else %}
            <input type="hidden" value="None" id="product_size">
            {% endif %}
                <input type="hidden" name="champion" value="{{champion.id}}">
                {% if product.available_countries.all %}
                
   {% if request.user.user_profile.id != champion.id %}
{% if request.country_object in product.available_countries.all %}
 <button data-toggle="modal"  type="button"{% if not user.is_authenticated %}id="add_to_basket" data-target="#myModal" {% else %} onclick="javascript:showMyModal()" {% endif %}class="blue_btn margin-left"><i class="fa fa-shopping-cart"></i>Add to cart</button>
{% else %}
<h3 class="right_head"><span class="left"></span><span class="left" style="color:red;">This product is not available in {{request.country_object}}</span></h3>
 {% endif %}
{% else %}
 <button data-toggle="modal"  type="button"{% if not user.is_authenticated %}id="add_to_basket" data-target="#myModal" {% else %} onclick="javascript:showMyModal()" {% endif %}class="blue_btn margin-left"><i class="fa fa-shopping-cart"></i>Add to cart</button>
{% endif %}
{% else %}

<a href="{% url 'license-delete' product.id %}" data-toggle="modal" data-target="#confirm-popup" class="blue_btn margin-left delete-button" data-hover="UnIndorso">Delete Indorse</a>



{% endif %}
{% if product.bulk_range.all %}
                <h3 class="right_head">Buying in Bulk ?</h3>
                <p class=""><a href="#"  data-target="#bulk" data-toggle="modal">Click here for a pricing here</a></p>
                {% endif %}  
                </form>
            </div>
        
    </div> 
</div>

<div class="modal fade" id="confirm-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action='' method='post' id='delete-form'>{% csrf_token %}
                <div class="modal-header">
                    <input type='hidden' name='license_id' value='{{request.user.user_profile.id}}' id='license_id' >
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <br/><br/>
                    <br/>        <h4 class="modal-title redtxt" id="myModalLabel">Are you sure you want to delete this Indorsement ?</p>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="blue_btn pull-left col-sm-4">Yes</button>
                    <button class="right blue_btn col-sm-4" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="bulk_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Buying in Bulk ?</h4>
                <p>Waiting some awesome offers for you!</p>
            </div>
            <div class="form-horizontal ">
                <div class="form-group">
                    <<div class="modal-body">
                        <table border="0" width="100%" >
                            <tr align="center"><td>Offer price</td><td>quantity range</td></tr>
                            {% for obj in product.bulk_range.all %}
                            <tr align="center">
                                <td>
                                    {{obj.price|currency:session.price.currency}}</td>
                                <td>{{obj.quantity_from}} - {{obj.quantity_to}} </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>                                    
                </div>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade in" id="bulk" ><div class="modal-backdrop fade in" style="height: 988px;"></div>
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 id="myModalLabel" class="modal-title blue">Purchase in Bulk from a product champion at the following discounted prices:</h4>
            </div>
            <div class="modal-body">

                <table class="bulk-table">
                    <tr>
                        <th>Quantity</th>
                        <th> Price</th>
                    </tr>
                    {% for obj in object.bulk_range.all %}
                    <tr>
                        <td>{{obj.quantity_from}} - {{obj.quantity_to}}</td>
                        <td>{{obj.price|currency:session.price.currency}}</td>
                    </tr>
                    {% endfor %}


                </table>

                <P>**Enter the number of units you would like to purchase. Tiered pricing will reflect automatically.</P>
            </div>
            <div class="modal-footer">

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="write-review-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="review_popup_form" method="post">{% csrf_token %}
                <input type="hidden" name="p_slug" value="{{product.slug}}">
                <input type="hidden" name="p_pk" value="{{product.id}}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Write a comment about this product</h4>
                </div>
                <div class="message_validate">Please review with title and description !<a href="#" id="close" style="float:right;">×</a></div>
                
                <div class="modal-body"> 
                    <textarea class="form-control text" id="review_id" name="review" required></textarea>

                </div>
                <div class="modal-footer">


                    <button type="button" class="blue_btn pull-right col-sm-4" onclick="ReviewProduct()">Confirm</button>
                    <button class="pull-left red_btn col-sm-4" data-dismiss="modal">Cancel</button>

                </div>
            </form>
        </div>
    </div>
</div>


{% endwith %}

{% endblock %}


{% block extra_js %}
<script type="text/javascript">
$("#current-page").attr("value","product-detail-page");
    {% if request.GET.addtocart %}
    var popup = "{{request.GET.addtocart}}";
    if (popup != null)
    {
    $("#id_quan").val(popup)
    }
    {% endif %}

    $("#add_to_basket").click(function() {
        quantity = $("#id_quan").val();
        if (quantity != null)
        {
            url = "{{ request.get_full_path }}" + "?addtocart=" + quantity
            $("#login-redirect_url_value").attr("value", url)
        }
    });


    $(document).ready(function(e) {
        $(".delete-button").click(function() {
            url1 = $(this).attr('href');
            $("#delete-form").attr("action", url1)
            
        });
        $('#id_quan').keypress(function(e) {
            var a = [];
            var k = e.which;
            if (k > 31 && (k < 48 || k > 57))
                return false;
            return true;
        });
    });
    
    
    function showMyModal() {
        var txtname = document.getElementById('id_quan');
        if (txtname.value == '') {
            $('#err_text').html('Please select quantity.');
            $("#id_quan").css('border', '1px inset red');
        }
        else
        {
            color = $("#product_color").val();
            size = $("#product_size").val();
            var data = $("#add_to_basket_form").serialize()+ '&color=' + color +'&size='+ size;;
            $.ajax({
                type: "POST",
                url: "{% url 'basket:add' pk=product.pk  %}",
                data: data,
                success: function(data) {
                    $("#cart_error_msg").html("");
                    window.location = "/basket/";
                },
                error: function(response) {
                    $('#champ_popup').modal('show');
                    errors = JSON.parse(response.responseText);
                    $.each(errors, function(indexes, values) {
                        $.each(values, function(index, value) {
                            $("#cart_error_msg").html(value[0]);
                        });
                    });
                }
            });
        }
    }


    $('#missing_quan').click(function() {
        $('#test').html('Please add Quantity');
        $("#id_quan").css('border', '1px inset red');
    });

    function bulkMyModal() {
        $('#bulk_popup').modal('show');
    }

    ReviewProduct = function() {
        var data = $("#review_popup_form").serialize();
        if ($("#review_id").val() != '') {
            $.ajax({
                type: "POST",
                url: "{% url 'review_add_popup'  %}",
                data: data,
                success: function(data) {
                    $(".close").click();
                    $(".message_review").show().fadeOut(2500);
                    location.reload();
                },
                error: function(response) {
                    $(".message_error").show().fadeOut(2500);
                }
            });

        }

        else {
            $(".message_validate").show().fadeOut(2500);
        }
    }
</script>

{% endblock %}