{% extends "indorso_base.html" %}
{% load staticfiles thumbnail %}
{% load currency_filters %}
{% load reviews_tags %}
{% load product_tags basket_tags access_tags %}
{% load purchase_info_tags i18n %}
{% load display_tags %}


{% block extra-css %}
<style>
    .message {
        display: none;
        margin: 0 0 13px;
        padding: 10px;
        border: solid 1px #bd8;
    }
</style>
{% endblock %}

{% block coverphoto %}
{% endblock %}


{% block content %}
{% with product=object %}
{% basket_form request product as basket_form %}
<div class="container">
    <div class="col-xs-12 head_space">
        <h2 class="heading_in col-xs-12">{{ product.get_title|truncatewords:4 }}</h2>
        <h3 class="heading_sub col-xs-12">{{ product.description|default:""|striptags|truncatechars:200  }}</h3>
    </div>
    <!-- Example row of columns -->
    <div class="row">


        <div class="col-xs-12 col-sm-8 col-lg-9newss">
            <div class="border newsfeeds col-xs-12 col-sm-12 col-lg-12">
                <div class="video"> 
                    <iframe width="708" height="500" src="http://www.youtube.com/embed/{{product.product_video_id}}">
                    </iframe> </div>
                <div class="medianet addthis_native_toolbox" style='background:none'></div>
                <h1>Description</h1>
                {{ product.description|safe }}
                <!--                 {% thumbnail product.primary_image.original "708x471" crop="center" as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                    {% endthumbnail %}-->
                {{ product.description2|safe }}
            </div>


            <h1 class="newss">Reviews{% if product|is_review_permitted:user %}
                <button type="button" data-toggle="modal" data-target="#write-review-popup" class="blue_btn blue_btn_sm margin-left">Write a review</button>    
                {% endif %}</h1>  

            {% comment %}
             <div class="message_review">Successfully reviewed<a href="#" id="close" style="float:right;">×</a></div>
             <div class="message_error">You have already reviewed this product!<a href="#" id="close" style="float:right;">×</a></div>
             {% endcomment %}

            {% iffeature "reviews" %}
            {% if product.num_approved_reviews == 0 %}
            <div class="review_box">
                <label>This product does not have any reviews yet</label>
            </div>
            {% else %}            
            {% for review in reviews %}
            <div class="review_box">
                <div class="client-time" > <label>{{review.date_created|date:"M d Y" }}</label> <span>{{review.date_created|date:"H:i" }}</span></div>
                {% if not review.user %}
                <img src="{% static 'images/review-client-profile.jpg' %}">
                {% else %}
                {% thumbnail review.user.user_profile.image "70x69" crop="center" as thumb %}
                <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                {% endthumbnail %}
                {% endif %}
                <label class="client-name">{{review.reviewer_name}}</label>
                <span class="client-cmts">{{ review.body|striptags }}</span>
            </div>
            {% endfor %}
            {% endif %}
            {% endiffeature %}
        </div>



        {% purchase_info_for_product request product as session %}
        <div class="col-xs-12 col-sm-4 col-lg-3 margin-top">
            <h3 class="right_head">Retail price</h3>
            {% if session.price.excl_tax == 0 %}
            <p class="right_p">$ 0,000,000,00</p>
            {% elif session.price.is_tax_known %}
            <p class="right_p">{{ session.price.incl_tax|currency:session.price.currency }}</p>
            {% else %}
            <p class="right_p">{{ session.price.excl_tax|currency:session.price.currency }}</p>
            {% endif %}
            {% if session.availability.is_available_to_buy %}
            <h3 class="right_head"><span class="left"><img src="{% static 'images/tick.png' %}"></span><span class="left green">In stock</span></h3>
            {% else %}
            <h3 class="right_head"><span class="left"></span><span class="left" style="color:red;">Out of stock</span></h3>
            {% endif %}
            <div class="pull-left"> <label class="black_txt">Quantity</label>
                <input type="text" id="id_quan" name="quantity" value="" class="qtxt" />
                <div id="err_text"></div>
            </div>
            
            {% if product.colors.all %}
            <div class="pull-left"> <label class="black_txt">Colors</label>
                <select class="form-control" name="color" id="product_color">
                    {% for color in product.colors.all %}                
                    <option value="{{color}}">{{color}}</option>
                    {% endfor %}
                </select>
            </div>
            {% else %}
            <input type="hidden" value="None" id="product_color">
            {% endif %}
            
            
            {% if product.sizes.all %}
            <div class="pull-left"> <label class="black_txt">Sizes</label>
                <select class="form-control" name="size" id="product_size">
                    {% for size in product.sizes.all %}                
                    <option value="{{size}}">{{size}}</option>
                    {% endfor %}
                </select>
            </div>
            {% else %}
            <input type="hidden" value="None" id="product_size">
            {% endif %}
            
            
            
            {{form.errors}}         
            <button data-toggle="modal"  type="button"{% if not user.is_authenticated %}id="add_to_basket" data-target="#myModal" {% else %} onclick="javascript:showMyModal()" {% endif %}class="blue_btn margin-left"><i class="fa fa-shopping-cart"></i>Add to cart</button>
            {% if product.bulk_range.all %}
            <h3 class="right_head">Buying in Bulk ?</h3>
            <p class=""><a href="#" data-target="#bulk" data-toggle="modal">Click here for a pricing here</a></p>
            {% endif %}
        </div>


    </div>
</div>
<div class="modal fade" id="write-review-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="review_popup_form" method="post">{% csrf_token %}
                <input type="hidden" name="p_slug" value="{{product.slug}}">
                <input type="hidden" name="p_pk" value="{{product.id}}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Write a comment about this product</h4>
                </div>
                <div class="message_validate">Please review with title and description !<a href="#" id="close" style="float:right;">×</a></div>
                
                <div class="modal-body"> 
                    <textarea class="form-control-popup text" id="review_id" name="review" required></textarea>

                </div>
                <div class="modal-footer">


                    <button type="button" class="blue_btn pull-right col-sm-4" onclick="ReviewProduct()">Confirm</button>
                    <button class="pull-left red_btn col-sm-4" data-dismiss="modal">Cancel</button>

                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="champ_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Welcome back to Indorso</h4>
                {% if user.is_authenticated and champions_list %}<p> Select Champion.</p>{% endif %}
                <p id="cart_error_msg" style="color:red;"></p>
                  {% if user.is_authenticated %}
                   {% if not champions_list %}
                   <p style="color:red;">You don't have to follow a champion to buy a product from them!</p>
                   {% endif %}
                  {% endif %}
                <div id="test"></div>
            </div>
            <ul>
                <form id="add_to_basket_form" action="{% if champions_list|length > 0 %}{% url 'basket:add' pk=object.pk  %}{% else %}javascript:void(0){% endif %}" method="post" class="add-to-basket">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <div class="message">Your update was successful.</div>
                    <table>
                        <tbody>   
                            {% if champions_list %}
                            <tr>
                                <td>
                                    <select class="form-control" id="id_type" name="champion">
                                        {% for champ in champions_list %}                                       
                                        <option value="{{champ.id}}">{{champ}}</option>
                                        {% endfor %}
                                    </select><br>
                                    <div id="avail_msg"></div>
                                    <div id="followButton">                                        
                                        <button type="button"  id="follow" name="follow" class="btn btn-info followUser" onclick="Follow_champ()">Follow</button>                                      
                                    </div>
                                    <div><br>
                                        <p id="cart_success_msg" style="color:green;"></p>
                                    </div>
                                </td>
                            </tr>
                           
                        {% endif %}
                        </tbody>
                    </table></br>
                    {% else %}
                    <li> Please Login to see the champions list.</li>
                    {% endif %}
                    {{basket_form.quantity}}                   
                    {% if champion %}
                    <input type='hidden' name='champion' value='{{champion.id}}' />
                    {% endif %}
                    {% if user.is_authenticated and champions_list %}<button type="button" id="add_button"  class="btn btn-large btn-primary btn-add-to-basket" value="{% trans "Add to basket" %}">{% trans "Add to basket" %}</button>{% endif %}
                </form>
            </ul>
        </div>
    </div>
</div>

<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade in" id="bulk" ><div class="modal-backdrop fade in" style="height: 988px;"></div>
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 id="myModalLabel" class="modal-title blue">Purchase in Bulk from a product champion at the following discounted prices:</h4>
            </div>
            <div class="modal-body">

                <table class="bulk-table">
                    <tr>
                        <th>Quantity</th>
                        <th> Price</th>
                    </tr>
                    {% for obj in object.bulk_range.all %}
                    <tr>
                        <td>{{obj.quantity_from}} - {{obj.quantity_to}}</td>
                        <td>{{obj.price|currency:session.price.currency}}</td>
                    </tr>
                    {% endfor %}


                </table>

                <P>**Enter the number of units you would like to purchase. Tiered pricing will reflect automatically.</P>
            </div>
            <div class="modal-footer">

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endwith %}


{% endblock %}


{% block extra_js %}
<script type="text/javascript">

    $(document).ready(function(e) {
        $('#id_quan').keypress(function(e) {
            var a = [];
            var k = e.which;
            if (k > 31 && (k < 48 || k > 57))
                return false;
            return true;
        });
    });

    {% if request.GET.addtocart %}
    var popup = "{{request.GET.addtocart}}";
    if (popup != null)
    {
        $("#id_quantity").val(popup)
    }
    $('#champ_popup').modal('show');
    {% endif %}

    $("#add_to_basket").click(function() {
        quantity = $("#id_quan").val();
        if (quantity != null)
        {
            url = "{{ request.get_full_path }}" + "?addtocart=" + quantity;
            $("#login-redirect_url_value").attr("value", url);
        }
    });
    ReviewProduct = function() {
        var data = $("#review_popup_form").serialize();
        if ($("#review_id").val() != '') {
            $.ajax({
                type: "POST",
                url: "{% url 'review_add_popup'  %}",
                data: data,
                success: function(data) {
                    $(".close").click();
                    $(".message_review").show().fadeOut(2500);
                     location.reload();
                },
                error: function(response) {
                    $(".message_error").show().fadeOut(2500);
                }
            });

        }

        else {
            $(".message_validate").show().fadeOut(2500);
        }
    }


    function showMyModal() {
        var txtname = document.getElementById('id_quan');
        if (txtname.value == '') {
            $('#err_text').html('Please select quantity.');
            $("#id_quan").css('border', '1px inset red');
        }
        else {
            $('#champ_popup').modal('show');
            $('input[name="quantity"]').val(txtname.value);
        }
        if ($('#id_quan').val() == '') {
            $('#missing_quan').show();
            $('#add_button').hide();
        }
        else {
            $('#add_button').show();
            $('#missing_quan').hide();
        }
    }

    data = {}
    data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
    data['champ_id'] = $("#id_type").val()
    $.ajax({
        type: "POST",
        url: '/follow_or_unfollow/',
        data: data,
        success: function(data) {
            if (data['status_su'] == 'followed') {
                $("#follow").text("Unfollow").css('background-color', 'red');
            }
            else if (data['status_su'] == 'unfollowed') {
                $("#follow").text("Follow").css('background-color', '#5bc0de');
            }
            else if (data['status_er']) {
                $("#follow").hide();
            }
            else {
                $("#follow").hide();
            }
        },
        dataType: "json"
    });

// Quantity validation

    $('#missing_quan').click(function() {
        $('#test').html('Please add Quantity');
        $("#id_quan").css('border', '1px inset red');
    });

    Follow_champ = function() {
        data = {}
        data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
        data['champ_id'] = $('#id_type').val();
        $.ajax({
            type: "POST",
            url: '/champion_follow/',
            data: data,
            success: function(data) {
                if (data['status_su'] == 'followed') {
                    $("#follow").text("Unfollow").css('background-color', 'red');
                    $(".message").show().fadeOut(2500);
                }
                else if (data['status_su'] == 'unfollowed') {
                    $("#follow").text("Follow").css('background-color', '#5bc0de');
                    $(".message").show().fadeOut(2500);
                }
                else if (data['status_er']) {
                    $("#follow").hide();
                }
                else {
                    $("#follow").hide();
                }
            },
            dataType: "json"
        });
    }

    $('#id_type').change(function() {
        data = {}
        data['csrfmiddlewaretoken'] = $('input[name="csrfmiddlewaretoken"]').val();
        data['champ_id'] = $("#id_type").val()
        $.ajax({
            type: "POST",
            url: '/follow_or_unfollow/',
            data: data,
            success: function(data) {
                if (data['status_su'] == 'followed') {
                    $("#follow").text("Unfollow").css('background-color', 'red');
                }
                else if (data['status_su'] == 'unfollowed') {
                    $("#follow").text("Follow").css('background-color', '#5bc0de');
                }
                else if (data['status_er']) {
                    $("#follow").hide();
                }
                else {
                    $("#follow").hide();
                }
            },
            dataType: "json"
        });
    });

    // Add product to basket

    $("#add_button").click(function() {
        color = $("#product_color").val();
        size = $("#product_size").val();
        var data = $("#add_to_basket_form").serialize() + '&color=' + color +'&size='+ size;
        $("#cart_success_msg").html("");
        $("#cart_error_msg").html("");
        $.ajax({
            type: "POST",
            url: "{% url 'basket:add' pk=object.pk  %}",
            data: data,
            success: function(data) {
                $("#cart_success_msg").html("Successfully added selected Product to the basket<br/><a href='/basket/'>Continue shopping</a>&nbsp;OR &nbsp;<a href='/basket/'>Cart</a>");
                $("#add_button").hide();
            },
            error: function(response) {
                $('#champ_popup').modal('show');
                errors = JSON.parse(response.responseText);
                $.each(errors, function(indexes, values) {
                    $.each(values, function(index, value) {
                        $("#cart_error_msg").html(value[0]);
                    });
                });
            }
        });
    });
</script>
{% endblock %}